{% load static %}

<!DOCTYPE html>

<html>
    <head>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />	
		<meta name="robots" content="none" />
		
		{# {% include "base.css"    %}  #}

		<link rel="stylesheet" type="text/css" href="{% static 'omics/css/jheatmap-1.0.0-min.css' %}" />
		<link rel="stylesheet" type="text/css" href="{% static 'omics/css/jquery-ui.min.css' %}" />
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jstree/3.2.1/themes/default/style.min.css" />

		<script src="https://code.jquery.com/jquery-1.12.4.js">      </script>
		<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/jstree/3.2.1/jstree.min.js"></script>
		<script src="{% static 'omics/js/jheatmap-1.0.0-min.js' %}"</script>
		<script src="https://d3js.org/d3.v4.min.js"></script>
		<script src="http://vizjs.org/viz.v1.1.0.min.js"></script>
		<script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
	
        <style>

            div#banner         { position: absolute;  top: 0; left: 0;  background-color: #b1c4c6;  width: 100%; }
            div#banner-content { width: 800px; margin: 0 auto;  padding: 10px;  background-color: #b1c4c6; border: 1px solid #000;  }
            div#main-content   { padding-top: 100px;   padding-bottom: 10px; background-color: #e1eced; }       
            
            div#divfooter      { position: fixed; right: 0; bottom: 0; left: 0; padding: 1rem; background-color: #b1c4c6; text-align: center; }
            
            #jstree     { float:left; min-width:319px; border-right:1px solid silver; overflow:hidden; padding:0px 0; }
            #container, #container1, #runcontainer  { min-width:320px; margin:0px auto 0 auto; background:white; border-radius:0px; padding:0px; overflow:hidden; }
            #data, #data1, #stepdata                { margin-left:320px; font: normal normal normal 12px/18px 'Consolas', monospace !important; overflow: scroll}
            #data textarea, #data1 textarea, #stepdata textarea  { margin:0; padding:0; height:100%; width:100%; border:0; background:white; display:block; line-height:18px; resize:none; }
                     
            #sortable1, #sortable2       {  border: 4px solid #eee; width: 142px; min-height: 20px; list-style-type: none; margin: 0; padding: 5px 0 0 0; float: left; margin-right: 10px; }
            #sortable1 li, #sortable2 li { margin: 0 5px 5px 5px; padding: 5px; font-size: 1.2em; width: 120px; }            
  
            {% block head_script_block    %}
                <!-- space to generate override script tags such as including js for other widgets -->
            {% endblock head_script_block %}

            {% block css_override    %}
                <!-- space to generate override CSS -e.g. including a new widget from another library -->
            {% endblock css_override %}

        </style>  
        
        <title>LIHCA Single Cell Omics Workbench</title>
    </head>
    <body>
    <div id="banner">
        <div id="banner-content">
        <h1>Single Cell Omics Workbench</h1>
        </div>
    </div>    
    <div id="main-content">    
		<HR>
		<div id="maintabs">
		  <ul>
			<li><a href="#tab-upload">Upload Files</a></li>                    
			<li><a href="#tab-load">Load Files</a></li>          
			<li><a href="#tab-build">Build</a></li>           
			<li><a href="#tab-run">Execute</a></li>
			<li><a href="#tab-analyze">Analyze</a></li>
		  </ul>
		  <div id="tab-upload">
            <div id="uploadcontainer" >
                <div id = "ufiles">
                    <label for="upfiles">Upload a file</label>
                    <input name="upfiles" id="uploadfiles"> </input>
                </div> 
                <input type="submit" value="UpLoad">
            </div>
		  </div>             
		  <div id="tab-load">
            <div id="loadcontainer" >
                <div id = "lfiles">
                    <label for="files">Select a file</label>
                    <select name="files" id="loadfiles">
                        <option value="jquery">sample1.csv</option>
                        <option value="jqueryui">sample2.csv</option>
                        <option value="somefile">sample3.csv</option>
                        <option value="someotherfile">sample4.csv</option>
                    </select>
                </div> 
                <input type="submit" value="Load Samples">
            </div>
		  </div>          
		  <div id="tab-build">
            <div id="container1" >
                <div id="steps">
                    <ul id="sortable2" class="connectedSortable">
                      <li class="ui-state-default" id="load"        title="Load a CSV file with gene expression levels" >Load File</li>                    
                      <li class="ui-state-default" id="exclude"     title="Load a Gene exclusion file">Gene Exclusions</li>
                      <li class="ui-state-default" id="include"     title="Load a Gene inclusion file to make sure these genes are never filtered downstream">Gene Inclusions</li>                      
                      <li class="ui-state-default" id="filterrows"  title="Filter rows by criteria">FilterRows</li>
                      <li class="ui-state-default" id="filtercols"  title="Filter cols by criteria">FilterCols</li>
                      <li class="ui-state-default" id="sbicluster"  title="BiCluster using Seurat library">Seurat BiCluster</li>
                      <li class="ui-state-default" id="normalize"   title="Normalize by various criteria" >Normalize</li>
                      <li class="ui-state-default" id="scheckpoint" title="Save a checkpoint of the work so far">Save Checkpoint</li>    
                      <li class="ui-state-default" id="lcheckpoint" title="Load a previously saved checkpoint">Load Checkpoint</li>
                      <li class="ui-state-default" id="saverds"     title="Save the gene expression data in a compressed format (faster load later) ">SaveToRDS</li>                        
                      <li class="ui-state-default" id="loadrds"     title="Load a compressed gene expression file">LoadToRDS</li>   
                      <li class="ui-state-default" id="saverscript" title="Save the R Script generated so far">Save R Script</li>                       
                    </ul>
                    <ul id="sortable1" class="connectedSortable">
                      <li class="ui-state-default" id="start" >Start</li>
                    </ul>                    
                    <input type="submit" value="Save Workflow">
                 </div>
                <div id="data1">
                    <div class="content code"   style="display:none;"><textarea id="code" readonly="readonly"></textarea></div>
                    <div class="content folder" style="display:none;"></div>
                    <div class="content image"  style="display:none; position:relative;"><img src="" alt="" style="display:block; position:absolute; left:50%; top:50%; padding:0; max-height:90%; max-width:90%;" /></div>
                    <div class="content default" style="text-align:center;">No Results Selected</div>
                </div>                
            </div>          
 		  </div>
		  <div id="tab-run">
            <div id="runcontainer">
                <div id="steplist">
                    <p>runlist here</p>

                    <button id="runbutton">Run Workflow</button>
                    <script>
                    $( "button" ).button();
                    </script>
        
                </div>
                <div id="stepdata">
                    <div class="content code"    style="display:none;"><textarea id="resultsarea" readonly="readonly"></textarea></div>
                    <div class="content folder"  style="display:none;"></div>
                    <div class="content image"   style="display:none; position:relative;"><img src="" alt="" style="display:block; position:absolute; left:50%; top:50%; padding:0; max-height:90%; max-width:90%;" /></div>
                    <div class="content default" style="text-align:center;">No Workflow Results</div>
                </div>
            </div>
		  </div>
		  <div id="tab-analyze">

        <!-- 3 setup a container element -->
           <div id="container" >
                <div id="jstree">
                    <ul>
                        <li id = "child_12345"> 12345
                            <ul>
                                <li id="child_12345_step1">load </li>
                                <li id="child_12345_step2">filterRowZeros </li>
                                <li id="child_12345_step3">filterColZeros </li>
                                <li id="child_12345_step4">seuratAdapter  </li>
                                <li id="child_12345_step5">seuratPCA      </li>
                                <li id="child_12345_step6">seuratBicluster
                                    <ul>
                                    <li id="child_12345_step6_graphic1">graphic1</li>
                                    <li id="child_12345_step6_graphic2">graphic2</li>
                                    <li id="child_12345_step6_graphic3">graphic3</li>
                                    <li id="child_12345_step6_graphic4">graphic4</li>
                                    </ul>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </div>
                <div id="data">
                    <div class="content code"   style="display:none;"><textarea id="code" readonly="readonly"></textarea></div>
                    <div class="content folder" style="display:none;"></div>
                    <div class="content image"  style="display:none; position:relative;"><img src="" alt="" style="display:block; position:absolute; left:50%; top:50%; padding:0; max-height:90%; max-width:90%;" /></div>
                    <div class="content default" style="text-align:center;">No Results Selected</div>
                </div>
            </div>
		  </div>
		</div>
	</div>

    <div id="dialog-confirm" title="Delete Step?">
      <p><span class="ui-icon ui-icon-alert" style="float:left; margin:12px 12px 20px 0;"></span>This step and the configuration information will be deleted!</p>
    </div>    
    
		{% block tab_block         %}{% endblock tab_block %}
		{% block body_block        %}{% endblock body_block %}
		{% include "omics/footer.html"   %} 
     
<SCRIPT>
    $( "#maintabs" ).tabs();
   
    $("#sortable1").sortable({

    });
    
    function workit() { 
	//window.alert("alert"); 
	console.log("workit");
	$(".workres").remove();

	$(this).attr("disabled",true);
    $("#stepdata").append('<div class = "workres"> <img  src="{% static 'omics/images/loading_img.gif' %}" ></div>');
	
	$.ajax({
	url: '/ajax/proc_submit2/',
	data: {
	  'username': 'test'
	},
	dataType: 'json',
	success: function (json) {
		console.log("process called");
		//console.log(json)          
        $(".workres").remove();	 // remove the whole class  
        $("#stepdata").append('<p>Successful</p>');        
        $('#runbutton').button( "option", "disabled", false );
        console.log($('#runbutton').button( "option", "disabled" ));

        },
    error: function (data) {
        console.log("error occured"); 
        alert('Error occured');
        $(".workres").remove();         
	    $("#stepdata").append('<p>Workflow Error</p>');        
        $('#runbutton').button( "option", "disabled", false );    
        var response = data.response;     
        }    
	});	
	};  
    
  	$(runbutton).click(workit);

    
    // yes global variable 
    var delthing;

    $( "#dialog-confirm" ).dialog({
      resizable: false,
      autoOpen: false,      
      height: "auto",
      width: 400,
      modal: true,
      buttons: {
        "Delete step?": function() {
          $( this ).dialog( "close" );
          //console.log(delthing);
          deleteit();
        },
        Cancel: function() {
          $( this ).dialog( "close" );
        }
      }
    });  
                    
    $("#sortable2").sortable({
            connectWith:    ".connectedSortable",
            remove:         function(e,li)
            {
                thing = li.item.clone().insertAfter(li.item);
                $(this).sortable('cancel');
                thing.dblclick(function(event){
                    delthing = event.target;
                    console.log(delthing);
                    $( "#dialog-confirm" ).dialog("open");
                    //alert("double-clicked");
                    //ans = dialog("delete?")
                });
                // give it a unique id
                var newid = thing.attr('id') + Date.now();
                console.log(newid)
                thing.prop('id', newid);                
                //thing.id = thing.id + 
                return li.item.clone();
            }
        }).disableSelection();
  
    function deleteit() {
        console.log('delete it called');
        //console.log(value.target);
        delthing.remove();
    }
    
    $( "#loadfiles" ).selectmenu();
    $('#jstree').jstree();
    
    $('#sortable1').on('click', 'li', function () {
    console.log($(this).attr("id"));
    $('#sortable1 li').removeClass("ui-state-highlight").addClass("ui-state-default" );
    $(this).removeClass("ui-state-default").addClass("ui-state-highlight");
    
    $('#data1').html('<p>' + $(this).attr("id") + '</p>');
    
    // change this to a general attribute retriever
    function keepFileName(stepname,keyname,elementname) {
        var namen = elementname + ':' + keyname
        console.log(namen);
        console.log(keyname);
        console.log(elementname)
        var searchnamen = '#'+elementname;        
        if($("#tab-build").data(namen)) {
            console.log('found it');
            console.log($("#tab-build").data(namen));
            var element = document.getElementById(elementname);
            element.value = $("#tab-build").data(namen);    
            $(searchnamen ).selectmenu( "refresh" );
        } else {
            console.log('first time');
            //$("#execfiles").val("sample1.csv");          
        }     

        //change this to accept the selector and the event upon which to listen
        $(searchnamen).on( "selectmenuchange", function( event, ui ) {
            $("#tab-build").data(namen,$(searchnamen).val());
            //$("#execfiles" ).selectmenu( "refresh" );
            console.log('changed it')
            console.log($("#tab-build").data(namen));
        } );        
    }
    
    //if($(this).attr("id") === "load") {
    //console.log(~$(this).attr("id").search(/^exclude*/));
    if(~$(this).attr("id").search(/^load*/)){
        console.log($(this).attr("id"));
        $('#data1').html('<div id="execcontainer"> <div id = "efiles">');
        var namen = $(this).attr("id")+"execfiles";
        var searchnamen = "#"+namen;
        $('#efiles').append('<label for="files2">Select a Data file : </label>');
            $('#efiles').append('<select name=' + namen + ' + id = ' + namen + '>');
                $(searchnamen).append('<option value="sample1.csv">sample1.csv</option>');
                $(searchnamen).append('<option value="sample2.csv">sample2.csv</option>');
                $(searchnamen).append('<option value="sample3.csv">sample3.csv</option>');
                $(searchnamen).append('<option value="sample4.csv">sample4.csv</option>');
            $('#efiles').append('</select>');
        $('#data1').append('</div></div>');  
        $(searchnamen).selectmenu();
        keepFileName($(this).attr("id"),"filename",namen)
    }

    if(~$(this).attr("id").search(/^exclude*/)){    
    //if($(this).attr("id") === "exclude") {
        console.log($(this).attr("id"));
        $('#data1').html('<div id="execcontainer"> <div id = "efiles">');
        var namen = $(this).attr("id")+"execfiles";
        var searchnamen = "#"+namen;
        $('#efiles').append('<label for="files2">Select an exclusion Data file : </label>');
            $('#efiles').append('<select name=' + namen + ' + id = ' + namen + '>');
                $(searchnamen).append('<option value="exclude1.csv">exclude1.csv</option>');
                $(searchnamen).append('<option value="exclude2.csv">exclude2.csv</option>');
                $(searchnamen).append('<option value="mitochondrial.csv">mitochondrial.csv</option>');
                $(searchnamen).append('<option value="generalExclude.csv">generalExclude.csv</option>');
            $('#efiles').append('</select>');
        $('#data1').append('</div></div>');  
        $(searchnamen).selectmenu();    
        keepFileName($(this).attr("id"),"filename",namen)
    }

    if(~$(this).attr("id").search(/^include*/)){
    //if($(this).attr("id") === "include") {
        console.log($(this).attr("id"));
        $('#data1').html('<div id="execcontainer"> <div id = "efiles">');
        var namen = $(this).attr("id")+"execfiles";
        var searchnamen = "#"+namen;
        $('#efiles').append('<label for="files2">Select an inclusion Data file : </label>');
            $('#efiles').append('<select name=' + namen + ' + id = ' + namen + '>');
                $(searchnamen).append('<option value="include1.csv">include1.csv</option>');
                $(searchnamen).append('<option value="include2.csv">include2.csv</option>');
                $(searchnamen).append('<option value="testing.csv">testing.csv</option>');
                $(searchnamen).append('<option value="generalInclude.csv">generalInclude.csv</option>');
            $('#efiles').append('</select>');
        $('#data1').append('</div></div>');  
        $(searchnamen).selectmenu();     
        keepFileName($(this).attr("id"),"filename",namen)
    }

    if(~$(this).attr("id").search(/^filterrows*/)){    
    //if($(this).attr("id") === "filterrows") {
        console.log($(this).attr("id"));
        $('#data1').html('<div id="execcontainer"> <div id = "filterit">');
            $('#filterit').append('<fieldset>');
            $('#filterit').append('<legend>Remove Zero ROWS: </legend>');
            $('#filterit').append('<label for="radio-1">Yes</label> <input class = "radiome" type="radio" name="radio-1" id="radio-1">');
            $('#filterit').append('<label for="radio-2">No </label> <input class = "radiome" type="radio" name="radio-1" id="radio-2">');
            $('#filterit').append('</fieldset>');    
        $('#data1').append('</div>');  
        $("input[class='radiome']" ).checkboxradio();   
    }    

    if(~$(this).attr("id").search(/^filtercols*/)){  
    //if($(this).attr("id") === "filtercols") {
        console.log($(this).attr("id"));
        $('#data1').html('<div id="execcontainer"> <div id = "filterit">');
            $('#filterit').append('<fieldset>');
            $('#filterit').append('<legend>Remove Zeros COLUMNS: </legend>');
            $('#filterit').append('<label for="radio-1">Yes</label> <input class = "radiome" type="radio" name="radio-1" id="radio-1">');
            $('#filterit').append('<label for="radio-2">No </label> <input class = "radiome" type="radio" name="radio-1" id="radio-2">');
            $('#filterit').append('</fieldset>');    
        $('#data1').append('</div>');  
        $("input[class='radiome']" ).checkboxradio();   
    }  
    
    if(~$(this).attr("id").search(/^lcheckpoint*/)){  
    //if($(this).attr("id") === "lcheckpoint") {
        console.log($(this).attr("id"));
        $('#data1').html('<div id="execcontainer"> <div id = "efiles">');
        var namen = $(this).attr("id")+"execfiles";
        var searchnamen = "#"+namen;
        $('#efiles').append('<label for="files2">Select a Data file : </label>');
            $('#efiles').append('<select name=' + namen + ' + id = ' + namen + '>');
                $(searchnamen).append('<option value="checkpoint1.chk">checkpoint1.chk</option>');
                $(searchnamen).append('<option value="checkpoint2.chk">checkpoint2.chk</option>');
                $(searchnamen).append('<option value="testing.chk">testing.chk</option>');
                $(searchnamen).append('<option value="generalcheck.chk">generalcheck.chk</option>');
            $('#efiles').append('</select>');
        $('#data1').append('</div></div>');  
        $(searchnamen).selectmenu();     
        keepFileName($(this).attr("id"),"filename",namen)
    }

    if(~$(this).attr("id").search(/^scheckpoint*/)){      
    //if($(this).attr("id") === "scheckpoint") {
        console.log($(this).attr("id"));
        $('#data1').html('<div id="execcontainer"> ');
        $('#execcontainer').append('Checkpoint Save Name: <input type="text" id = "ckname" name="ckname">');
        $('#execcontainer').append('</div>');  
     }   

    if(~$(this).attr("id").search(/^saverds*/)){       
    //if($(this).attr("id") === "saverds") {
        console.log($(this).attr("id"));
        $('#data1').html('<div id="execcontainer"> ');
        $('#execcontainer').append('RDS Save Name: <input type="text" id = "ckname" name="ckname">');
        $('#execcontainer').append('</div>');  
    }       

    if(~$(this).attr("id").search(/^loadrds*/)){      
    //if($(this).attr("id") === "loadrds") {
        console.log($(this).attr("id"));
        $('#data1').html('<div id="execcontainer"> <div id = "efiles">');
        $('#efiles').append('<label for="files2">Select an RDS file to load : </label>');
            $('#efiles').append('<select name="files2" id="execfiles">');
                $('#execfiles').append('<option value="jquery">check1.rds</option>');
                $('#execfiles').append('<option value="jqueryui">check2.rds</option>');
                $('#execfiles').append('<option value="somefile">readyset.rds</option>');
            $('#efiles').append('</select>');
        $('#data1').append('</div></div>');  
        $("#execfiles").selectmenu();    
    }   
    
    if(~$(this).attr("id").search(/^saverscript*/)){
    //if($(this).attr("id") === "scheckpoint") {
        console.log($(this).attr("id"));
        $('#data1').html('<div id="execcontainer"> ');
        $('#execcontainer').append('R script Save Name: <input type="text" id = "rname" name="rname">');
        $('#execcontainer').append('</div>');  
     }  
     
   });

	{% block tail_script_block %}{% endblock tail_script_block %}
    <!-- 4 include the jQuery library -->
   // 6 create an instance when the DOM is ready


    $('#jstree').on("changed.jstree", function (e, data) {
    console.log(data.selected);
    var
    i, j, r = [];
    i = 0
    $('#data').html(data.instance.get_node(data.selected[i]).text);
    var thing = data.instance.get_node(data.selected[i])
    
    if (thing.id === "child_12345") {
    $('#data').html('<table id="resultstab" ></table>')
    $('#resultstab').append('<tr ><td>daterun</td><td>01012017</td></tr>')
    $('#resultstab').append('<tr ><td>errorcnt</td><td>0</td></tr>')
    $('#resultstab').append('<tr ><td>experiment</td><td>12345</td></tr>')
    $('#resultstab').append('<tr ><td>Interactive</td><td><a href="intviz3.html">Interactive</a></td></tr>')
    } 
    if (thing.id === "child_12345_step1") {
    $('#data').html('<table id="resultstab" ></table>')
    $('#resultstab').append('<tr ><td>colcount</td><td>2000</td></tr>')
    $('#resultstab').append('<tr ><td>fileLoaded</td><td>abcdefg.dat</td></tr>')
    $('#resultstab').append('<tr ><td>recordsloaded</td><td>2000</td></tr>')
    $('#resultstab').append('<tr ><td>rowcount</td><td>20000</td></tr>')
    $('#resultstab').append('<tr ><td>stepcode</td><td>0</td></tr>')
    $('#resultstab').append('<tr ><td>stepmsg</td><td>success</td></tr>')
    }
    if (thing.id === "child_12345_step2") {
    $('#data').html('<table id="resultstab" ></table>')
    $('#resultstab').append('<tr ><td>colcount</td><td>2000</td></tr>')
    $('#resultstab').append('<tr ><td>rowcount</td><td>20000</td></tr>')
    $('#resultstab').append('<tr ><td>stepcode</td><td>0</td></tr>')
    $('#resultstab').append('<tr ><td>stepmsg</td><td>success</td></tr>')
    }
    if (thing.id === "child_12345_step3") {
    $('#data').html('<table id="resultstab" ></table>')
    $('#resultstab').append('<tr ><td>colcount</td><td>1500</td></tr>')
    $('#resultstab').append('<tr ><td>rowcount</td><td>20000</td></tr>')
    $('#resultstab').append('<tr ><td>stepcode</td><td>0</td></tr>')
    $('#resultstab').append('<tr ><td>stepmsg</td><td>success</td></tr>')
    }
    if (thing.id === "child_12345_step4") {
    $('#data').html('<table id="resultstab" ></table>')
    $('#resultstab').append('<tr ><td>stepcode</td><td>0</td></tr>')
    $('#resultstab').append('<tr ><td>stepmsg</td><td>success</td></tr>')
    }
    if (thing.id === "child_12345_step5") {
    $('#data').html('<table id="resultstab" ></table>')
    $('#resultstab').append('<tr ><td>colcount</td><td>1500</td></tr>')
    $('#resultstab').append('<tr ><td>rowcount</td><td>20000</td></tr>')
    $('#resultstab').append('<tr ><td>stepcode</td><td>0</td></tr>')
    $('#resultstab').append('<tr ><td>stepmsg</td><td>success</td></tr>')
    }
    if (thing.id === "child_12345_step6") {
    $('#data').html('<table id="resultstab" ></table>')
    $('#resultstab').append('<tr ><td>data1</td><td>xyz1.json</td></tr>')
    $('#resultstab').append('<tr ><td>data2</td><td>xyz2.json</td></tr>')
    $('#resultstab').append('<tr ><td>data3</td><td>xyz3.json</td></tr>')
    $('#resultstab').append('<tr ><td>data4</td><td>xyz4.json</td></tr>')
    $('#resultstab').append('<tr ><td>stepcode</td><td>0</td></tr>')
    $('#resultstab').append('<tr ><td>stepmsg</td><td>success</td></tr>')
    $('#resultstab').append('<tr ><td>Interactive</td><td><a href="intviz3.html">Interactive</a></td></tr>')
    }
  
    $("#tabs-genefams").append('<div class = "prepres"> <img  src="{% static 'omics/images/loading_img.gif' %}" ></div>');
            
    if (thing.id === "child_12345_step6_graphic1") {
    $('#data').html('<table id="graphtable"></table>')

    $('#graphtable').append([
    '<tr>',
        '<td><img  src="{% static 'omics/images/Sample1-fullset-cluster1.png' %}" ></td>',
        '<td><img  src="{% static 'omics/images/samplenetworkfull.jpg' %}" ></td>',
    '</tr>'
    ].join(''));
    
    //$('#data').append(  '<img  src="{% static 'omics/images/Sample1-fullset-cluster1.png' %}" >)
    //$('#data').append('</td><td>')    
    //$('#data').append('<img  src="{% static 'omics/images/samplenetworkfull.jpg' %}" >')
    //$('#data').append('</td></tr></table>')
    }
    
    if (thing.id === "child_12345_step6_graphic2") {
    $('#data').html('<img  src="{% static 'omics/images/Sample1-fullset-cluster2.png' %}" ></div>')
    }
    if (thing.id === "child_12345_step6_graphic3") {
    $('#data').html('<img  src="{% static 'omics/images/Sample1QUBICClus1.png' %}" ></div>')
    }
    if (thing.id === "child_12345_step6_graphic4") {
    $('#data').html('<img  src="{% static 'omics/images/Sample1QUBICClus2.png' %}" ></div>')
    }
    });
		</SCRIPT>
    </body>
</html>