{% load static %}
{% load staticfiles %}

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">

    
	<script src="https://code.jquery.com/jquery-1.12.4.js"></script> 
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>    
    <link   rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">    
    
	<script src="https://d3js.org/d3.v4.js"></script>
    <script src="{% static 'omics/js/gauge.js' %}"></script>    <style
    
<style>
.sparkline {
  fill: none;
  stroke: #000;
  stroke-width: 0.5px;
}

body {background-color: black;}

.column {
  float: left;
  width:25%%;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

@media screen and (max-width: 1200px) {
  .column {
    width: 100%;
  }
  .mypath2 {
    width: 75%;
  }
}

h1 {
  color: FloralWhite;
}

  .mypath2 {
    width: 95%;
  }
  
/* tell the SVG path to be a thin blue line without any area fill */
.mypath {
    stroke: steelblue;
    stroke-width: 1;
    fill: none;
    width:95%;
}

</style>

</head>
<body>
    <center><h1 style="font-size:5vw; ">AHU Heads Up Display</h1></center>
    
    <div class = "w3-third">
    
        <div class = "column w3-quarter">
        <div id="memoryGaugeContainer" ></div>
        <div id="memoryGaugeContainerSP" class = "mypath" ></div>    
        </div>
        
        <div class = "column w3-quarter">    
        <div id="cpuGaugeContainer" ></div>
        <div id="cpuGaugeContainerSP" class = "mypath"></div>
        </div>
        
        <div class = "column w3-quarter">    
        <div id="networkGaugeContainer" ></div>
        <div id="networkGaugeContainerSP" class = "mypath"></div>
        </div>
        
        <div class = "column w3-quarter">
        <div id="network2GaugeContainer"  ></div>
        <div id="network2GaugeContainerSP" class = "mypath" ></div>   
        </div>
    </div>    
    <div> 
    </div class = "column w3-twothird">     
    
<script>
						
    $(function () {
        console.log('started');
        
        var gauges = [];
        
        function createGauge(name, label, min, max)
        {
            var config = 
            {
                size: 120,
                label: label,
                min: undefined != min ? min : 0,
                max: undefined != max ? max : 100,
                minorTicks: 5
            }
            
            var range = config.max - config.min;
            config.yellowZones = [{ from: config.min + range*0.75, to: config.min + range*0.9 }];
            config.redZones = [{ from: config.min + range*0.9, to: config.max }];
            
            gauges[name] = new Gauge(name + "GaugeContainer", config);
            gauges[name].render();
        }
        
        function createGauges()
        {
            createGauge("memory", "Sup Temp");
            createGauge("cpu", "Sup Hum");
            createGauge("network", "Ret Air A");
            createGauge("network2", "Ret Air B");
        }
        
        function updateGauges()
        {
            for (var key in gauges)
            {
                var value = getRandomValue(gauges[key])
                gauges[key].redraw(value);
            }
        }
        
        function getRandomValue(gauge)
        {
            var overflow = 0; //10;
            return gauge.config.min - overflow + (gauge.config.max - gauge.config.min + overflow*2) *  Math.random();
        }
        
        function initialize()
        {
            createGauges();
            setInterval(updateGauges, 500);
        }
                
        function sparkLine(div,data) {        
            // create an SVG element inside the #graph div that fills 100% of the div
            var graph = d3.select(div).append("svg:svg").attr("height", "100%").attr("width","100%");

            // create a simple data array that we'll plot with a line (this array represents only the Y values, X will just be the index location)
            var data = [3, 6, 2, 7, 5, 2, 1, 3, 8, 9, 2, 5, 9, 3, 6, 3, 6, 2, 7, 5, 2, 1, 3, 8, 9, 2, 5, 9, 2, 7, 5, 2, 1, 3, 8, 9, 2, 5, 9, 3, 6, 2, 7, 5, 2, 1, 3, 8, 9, 2, 5, 9];

            // X scale will fit values from 0-10 within pixels 0-100
            var x = d3.scaleLinear().domain([0, 10]).range([0, 50]);
            // Y scale will fit values from 0-10 within pixels 0-100
            var y = d3.scaleLinear().domain([0, 10]).range([0, 30]);

            // create a line object that represents the SVN line we're creating
            var line = d3.line()
                // assign the X function to plot our line as we wish
                .x(function(d,i) { 
                    // verbose logging to show what's actually being done
                    //console.log('Plotting X value for data point: ' + d + ' using index: ' + i + ' to be at: ' + x(i) + ' using our xScale.');
                    // return the X coordinate where we want to plot this datapoint
                    return x(i); 
                })
                .y(function(d) { 
                    // verbose logging to show what's actually being done
                    //console.log('Plotting Y value for data point: ' + d + ' to be at: ' + y(d) + " using our yScale.");
                    // return the Y coordinate where we want to plot this datapoint
                    return y(d); 
                })
        
                // display the line by appending an svg:path element with the data line we created above
                graph.append("svg:path").attr("d", line(data));
            }

        initialize();        
        
        var data = [3, 6, 2, 7, 5, 2, 1, 3, 8, 9, 2, 5, 9, 3, 6, 3, 6, 2, 7, 5, 2, 1, 3, 8, 9, 2, 5, 9, 2, 7, 5, 2, 1, 3, 8, 9, 2, 5, 9, 3, 6, 2, 7, 5, 2, 1, 3, 8, 9, 2, 5, 9];
        
        sparkLine("#memoryGaugeContainerSP",data);
        sparkLine("#network2GaugeContainerSP",data);
        sparkLine("#cpuGaugeContainerSP",data);
        sparkLine("#networkGaugeContainerSP",data);        
        
    })            
	</script>
        
</body>
</html>
