<HR>
<!-- footer -->
<div id="divfooter" class="region">
  <div id="divfooterblocks" class="region">
    <!-- default block template -->
    <div id="block-block-25" class="block block-block block-footer-address">
      <p><a href="/">Laboratory for Interactive Human and Computer Analytics - Eli Brown, PhD </a><br />
      <a href="http://www.depaul.edu">DePaul University</a><br />
    </div>
  </div><!-- divfooterregion -->
</div><!-- divfooter -->