{% load static %}

<script src="https://d3js.org/d3.v4.min.js"></script>    

<link rel="stylesheet" type="text/css" href="{% static 'omics/style.css' %}" />

<p>Start workflow</p>

<form action= "workflowresults" method="post">
 {% csrf_token %}
    <ul>
    {% for thing in family %}
	<div>
	    <input id="{{thing}}" type="checkbox">
		<label>{{thing}}</label>
	</div>
    {% endfor %}
    </ul>
	
    <input type="submit" value="Run Workflow">
</form>


