{% load static %}

<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  
    <script src="https://cdnjs.cloudflare.com/ajax/libs/vis/4.20.1/vis.min.js"></script>
    <link   href="https://cdnjs.cloudflare.com/ajax/libs/vis/4.20.1/vis.min.css" rel="stylesheet" type="text/css" />
    
	<script src="https://code.jquery.com/jquery-1.12.4.js"></script> 
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>    
    <link   rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">    
	
   	<script src="https://cdnjs.cloudflare.com/ajax/libs/jstree/3.2.1/jstree.min.js"></script>  	
    <link   rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jstree/3.2.1/themes/default/style.min.css" /> 

    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
    
	<script src="https://d3js.org/d3.v4.min.js"></script>
    <script src="https://d3js.org/d3-color.v1.min.js"></script>
    <script src="https://d3js.org/d3-interpolate.v1.min.js"></script>
    <script src="https://d3js.org/d3-scale-chromatic.v1.min.js"></script>    
    <script src="http://colorbrewer2.org/export/colorbrewer.js"></script>    
    <script src="https://cdnjs.cloudflare.com/ajax/libs/d3-legend/2.25.6/d3-legend.js"></script> 
    
    <script src="{% static 'omics/js/heatmap.js' %}"></script>
    <link   rel="stylesheet" href="{% static 'omics/css/heatmap.css' %}" />
   
    <script src="{% static 'omics/js/radial.js' %}"></script>
   
    <script src="{% static 'omics/js/jquery.contextMenu.min.js' %}"></script>
    <link   rel="stylesheet" href="{% static 'omics/css/jquery.contextMenu.min.css' %}" />
    
    <script src="{% static 'omics/js/d3pie.min.js' %}"></script>
    <script src="http://d3js.org/colorbrewer.v1.min.js"></script>
    
    <script type="text/javascript" language="javascript" src="https://reactome.org/FireworksJs/fireworks/fireworks.nocache.js"></script>
    
    <script src="https://unpkg.com/d3-simple-slider@0.2.1/build/d3-simple-slider.js"></script>    

    {# {% include "base.css"    %}  #}
    
<style>
    * {
        box-sizing:border-box;
    }
    .gridwrapper {
        overflow:auto;
        position:relative;
    }
    <!-- .gridcontent { -->
        <!-- width:8.33%; -->
        <!-- margin:0; -->
        <!-- border-right:1px solid grey; -->
        <!-- height:100%; -->
        <!-- float:left; -->
        <!-- background-color:#84c754; -->
        <!-- background-color:#f1f1f1; -->
    <!-- } -->
    .gridcontent {
        width:8.33%;
        margin:1;
        height:100%;
        float:left;
        background-color:#84c754;
        background-color:#f1f1f1;
    }    
    fieldset {
      border: 0;
    }
    label {
      display: block;
      margin: 5px 0 0 0;
    }
    div#banner-content { width: 800px; margin: 0 auto;  padding: 5px;  background-color: #b1c4c6; border: 1px solid #FFF;  }
    <!-- div#divfooter      { position: fixed; right: 0; bottom: 0; left: 0; padding: 1rem; background-color: #b1c4c6; text-align: center; } -->
    div#divfooter      { right: 0; bottom: 0; left: 0; padding: 1rem; background-color: #b1c4c6; text-align: center;  clear: both;}
    
    .jstree-anchor {
		/*enable wrapping*/
		white-space : normal !important;
		/*ensure lower nodes move down*/
		height : auto !important;
		/*offset icon width*/
		padding-right : 24px;
	}		
    
    .jstree-anchor {
      display: inline-block;
      color: black;
      white-space: nowrap;
      padding: 0 4px 0 1px;
      margin: 0;
      vertical-align: top;
    }
    
    .jstree-anchor-exclude {
      color: grey;
      display: inline-block;
      white-space: nowrap;
      padding: 0 4px 0 1px;
      margin: 0;
      vertical-align: top;      
    }
    
    .links line {
      stroke: #999;
      stroke-opacity: 0.6;
    }

    .nodes circle {
      stroke: #fff;
      stroke-width: 1.5px;
    }

    p {
        word-break: break-all;
        white-space: normal;
    }    
    
</style>
        <title>LIHCA Single Cell Omics Workbench</title>
</head>
<body>

<div style="position:absolute;opacity:0.9;width:auto;left:10px;right:10px;">
    <div class="gridcontainer" name = "divabove" id="divabove">
        <div class="gridwrapper" name="header"     style="height:95px;">
            <div class="gridcontent" style="width:100%;background-color: #b1c4c6;border-right-color:transparent;">
                <div id="banner">
                    <div id="banner-content">
                    <h1><center>Single Cell Omics Workbench</center></h1>
                    </div>
                </div>   
            </div>      
        </div>
        
        <!-- <div class="gridwrapper" name="selections" style="height:45px; border: 1px solid Gainsboro;">
          <div class="gridcontent"  style="background-color:#ffffff;border:none;                    width:10%;padding-top:5px;">
            <a href="base.html">Workflow</a>
          </div>               
          <div class="gridcontent" id="clusterchoice"  style="background-color:#ffffff;border:none; width:15%;padding-top:5px;">
                <form action="#">          
                        <select name="data" id="dataselect">
                          <option selected="selected">1</option>
                          <option>2</option>
                          <option>3</option>
                        </select>
                </form>
          </div> 
          <div class="gridcontent"  style="background-color:#ffffff;border:none;                    width:20%;padding-top:5px;"></div>
        </div>  -->
        
        <div class="gridwrapper" name="heatonto" style="height:700px; border: 1px solid Gainsboro; overflow:hidden">
      
            <div class="gridcontent" id="dummy1"    style="background-color:#ffffff;border: 1px solid Gainsboro;width:15%;padding-top:0px;">
                <center><h3>Ontology Tree</h3></center>
                <hr>
<!--                 <div class="gridcontent"  style="background-color:#ffffff;border:none;                    width:50%;padding-top:5px; height:10%;">
                    <center><button id="recalculate">Redraw</button></center>
                </div>          
                <div class="gridcontent"  style="background-color:#ffffff;border:none;                    width:50%;padding-top:5px; height:10%;">
                    <center><button id="recluster">Recluster</button></center>
                </div>                  
 -->                
            <div id="jstreeGO" name="jstreeGO" style="background-color:#ffffff;border:none;   clear:both; width:100%;padding-top:5px; height:90%; overflow-y: scroll;" >
                </div>                  
            </div>
            <div class="gridcontent" id="dummy2"    style="background-color:#ffffff;border: 1px solid Gainsboro;width:60%;padding-top:0px;">
                <div class="gridwrapper" name="onto" style="height:100%">
                    <div class="gridcontent" id="dummy3" style="background-color:#ffffff;border: none; height:5%; width:100%; ">                
                        <center><form action="#">          
                                <select name="ontology" id="ontologyselect"  >
                                  <option selected="selected">Regulation</option>
                                  <option>Expression</option>
                                  <!-- <option>Transcripts</option> -->
                                  <!-- <option>Cell Cycle</option> -->

                                  <!-- <option>Regulation2</option> -->
                                  <option>Regulation3</option>                                     
                                  <option>Pathway</option>                              
                                </select>
                        </form></center>      
                    </div>
                    <div class="gridcontent" id="dummy4" style="background-color:#ffffff;border: none; height:95%; width:100%; padding-top:0px; overflow:hidden;">                
                        <div style="height:100%;padding-top:0px;">
                            <div id="sliderall" style="background-color:#ffffff;border: none; height:30%; width:100%; padding-top:0px;">
                                <div id="slider1t" class="gridcontent" style="background-color:#ffffff;border: none; height:19%; width:24%; padding-top:0px;"><center>Link</center></div>
                                <div id="slider2t" class="gridcontent" style="background-color:#ffffff;border: none; height:19%; width:24%; padding-top:0px;"><center>Charge</center></div>
                                <div id="slider3t" class="gridcontent" style="background-color:#ffffff;border: none; height:19%; width:24%; padding-top:0px;"><center>Collide</center></div>
                                <div id="slider4t" class="gridcontent" style="background-color:#ffffff;border: none; height:19%; width:24%; padding-top:0px;"><center>Edge Strength Cutoff</center></div>                                
                                <div id="slider1" class="gridcontent" style="background-color:#ffffff;border: none; height:60%; width:24%; padding-top:0px;"></div>
                                <div id="slider2" class="gridcontent" style="background-color:#ffffff;border: none; height:60%; width:24%; padding-top:0px;"></div>
                                <div id="slider3" class="gridcontent" style="background-color:#ffffff;border: none; height:60%; width:24%; padding-top:0px;"></div>
                                <div id="slider4" class="gridcontent" style="background-color:#ffffff;border: none; height:60%; width:24%; padding-top:0px;"></div>
                                
                                <!-- <div id="colorbutton1" class="gridcontent" style="background-color:#ffffff;border: none; height:20%; width:24%; padding-top:0px;"></div>
                                <div id="colorbutton2" class="gridcontent" style="background-color:#ffffff;border: none; height:20%; width:24%; padding-top:0px;"></div>
                                <div id="colorbutton3" class="gridcontent" style="background-color:#ffffff;border: none; height:20%; width:24%; padding-top:0px;"></div>
                                <div id="colorbutton4" class="gridcontent" style="background-color:#ffffff;border: none; height:20%; width:24%; padding-top:0px;"></div> -->
                                <div class="gridcontent" id = "colorgroup" style="background-color:#ffffff;border: none; width:100%; height:24%; padding-top:0px;">
                                    <div class="gridcontent" style="background-color:#ffffff;border: none; width:50%; height:100%; padding-top:0px;">
                                        <fieldset id="colorfield" style="background-color:#ffffff;border: none; width:100%; height:100%; padding-top:0px;">
                                            <!-- legend>Node Coloration: </legend> -->
                                            <label for="radio-1">Single Colour</label>
                                            <input class="inputcolor" type="radio" name="radio-1" id="radio-1" />
                                            <label for="radio-2">Edge Count</label>
                                            <input class="inputcolor" type="radio" name="radio-1" id="radio-2" />
                                            <label for="radio-3">Total Edge Weights</label>
                                            <input class="inputcolor" type="radio" name="radio-1" id="radio-3" />
                                        </fieldset>
                                    </div > 
                                    <div class="gridcontent" id = "colorlegend" style="background-color:#ffffff;border: none; width:50%; height:100%; padding-top:0px;">
                                    </div>
                                </div>
                            </div>
                            <div id="heatmap1" style="background-color:#ffffff;border: none; height:70%; width:100%; padding-top:1px; "></div>
                        </div>
                    </div>
                </div>
            </div>            
            <div class="gridcontent" id="ontospace" style="background-color:#ffffff;border: 1px solid Gainsboro;width:25%;padding-top:5px; overflow-y: scroll; overflow-x: scroll;">
            </div>
        </div>

    
   
    </div>



 <!--
    <div class="gridcontainer" style="opacity:0.1;">
        <div class="gridwrapper" style="height:370px;">
          <div class="gridcontent" style="background-color:#ffffff;border-right:1px solid #000000;border-left:1px solid #000000;"></div>
          <div class="gridcontent" style="background-color:#ffffff;border-right:1px solid #000000;"></div>
          <div class="gridcontent" style="background-color:#ffffff;border-right:1px solid #000000;"></div>
          <div class="gridcontent" style="background-color:#ffffff;border-right:1px solid #000000;"></div>
          <div class="gridcontent" style="background-color:#ffffff;border-right:1px solid #000000;"></div>
          <div class="gridcontent" style="background-color:#ffffff;border-right:1px solid #000000;"></div>
          <div class="gridcontent" style="background-color:#ffffff;border-right:1px solid #000000;"></div>
          <div class="gridcontent" style="background-color:#ffffff;border-right:1px solid #000000;"></div>
          <div class="gridcontent" style="background-color:#ffffff;border-right:1px solid #000000;"></div>
          <div class="gridcontent" style="background-color:#ffffff;border-right:1px solid #000000;"></div>
          <div class="gridcontent" style="background-color:#ffffff;border-right:1px solid #000000;"></div>
          <div class="gridcontent" style="background-color:#ffffff;border-right:1px solid #000000;"></div>
        </div>
    </div> -->
    

        
</div>
        
<script>


    
$(function () {

    //console.log("starting script");

    if (window.performance) {
      console.info("window.performance works fine on this browser");
    }
    if (performance.navigation.type == 1) {
        console.info( "This page is reloaded" );
        //reset to defaults here
    } else {
        console.info( "This page is not reloaded");
    }

    const formatTextWrap = (text, maxLineLength) => {
      //console.log('text wrap');
      const words = text.replace(/[\r\n]+/g, ' ').split(' ');
      let lineLength = 0;
      
      // use functional reduce, instead of for loop 
      return words.reduce((result, word) => {
        if (lineLength + word.length >= maxLineLength) {
          lineLength = word.length;
          return result + `\n${word}`; // don't add spaces upfront
        } else {
          lineLength += word.length + (result ? 1 : 0);
          return result ? result + ` ${word}` : `${word}`; // add space only when needed
        }
      }, '');
    };
    
    //TDS hard coded display space - cannot figure out scroll problem
    var width = 983;
    var height = 545;
        
    var geneExcludes = [];
    var mfExcludes   = [];
    var bpExcludes   = [];
    var ccExcludes   = [];
    var cycExcludes  = [];
    var selectedGene = ''; // used to track which gene has been recently clicked somewhere
    
    var currentCluster = 1;
    
    var ontospacedata = '';

    //console.log(ontospacedata);
    //console.log($.grep(ontospacedata, function(obj){return obj.name === 'APOC1'}))
    $("#ontospace").html(JSON.stringify($.grep(ontospacedata, function(obj){return obj.name === 'APOC1'})[0], null, 2));

    // colors for edge count and total edge weight
    //var colorEdge = d3.scaleOrdinal(d3.schemeCategory20);  
    

    
    var linearThing = d3.scaleLinear()
        .domain([0,1])
        .range([ "rgb(46, 73, 123)","rgb(71, 187, 94)"]);
        //console.log(linearThing);
    
    
    function addLegend() {          
        var svg = d3.select("#colorlegend").append("svg")  
        //var svg = d3.select("svg");

        svg.append("g")
          .attr("class", "legendLinear")
          .attr("transform", "translate(20,20)");

        var legendLinear = d3.legendColor()
          .shapeWidth(30)
          .cells(10)
          .orient('horizontal')
          .scale(linearThing)
          //.ascending(true);
          ;
          
        svg.select(".legendLinear")
          .call(legendLinear);
    };      
    addLegend();
    
    $(".inputcolor").checkboxradio({ icon: false});
    $( ".inputcolor" ).on( "click", function() {
      //console.log(this.id );
      if(this.id == "radio-1") {
        d3.select("#heatmap1").selectAll("circle").attr("fill", function(d) {return "#b1c4c6"; });      
      }      
      if(this.id == "radio-2") {
        d3.select("#heatmap1").selectAll("circle").attr("fill", function(d) {
            //console.log(d.id)            
            //graphEdgeCount.find();            
            for (key in graphEdgeCount) {
                obj = graphEdgeCount[key];
                for (key2 in obj) {
                    //console.log(obj)
                    if(key2 == d.id) {
                        //console.log(obj[key2]);
                        var value = obj[key2];
                    }
                }
            }
            //console.log(simulation.nodes());
            //color = 
            //console.log(value);
            //console.log(linearThing(value));
            return linearThing(1-value);           
            //applyColor()
            });      
      }
      if(this.id == "radio-3") {
        d3.select("#heatmap1").selectAll("circle").attr("fill", function(d) {      
            //console.log(d.id)            
            //graphEdgeCount.find();            
            for (key in graphEdgeWeight) {
                obj = graphEdgeWeight[key];
                for (key2 in obj) {
                    //console.log(obj)
                    if(key2 == d.id) {
                        //console.log(obj[key2]);
                        var value = obj[key2];
                    }
                }
            }
            //console.log(simulation.nodes());
            //color = 
            //console.log(value);
            //console.log(linearThing(value));
            return linearThing(1-value);          //wtf - 
            //applyColor()
            });          
      }
      
    });    
    
    $("#radio-1").checked=true;
     
     
    function poponto(gene){
        console.log('poponto: ' + gene );
        //console.log($.grep(ontospacedata, function(obj){return obj.name === gene}));
        obj = $.grep(ontospacedata.list, function(obj){return obj.name === gene})[0];
        //console.log(obj);
        if(obj){
            var generatedHTML = "";
            if(obj.results) {
                $("#ontospace").html("<pre>"+JSON.stringify(obj, null, 2)+"</pre>");
            };
        }
        console.log(obj);
    };

    
    var classesNumber = 10,
        cellSize = 24;
    
    colorbrewer["seurat"] = {12:["#800080", "#690c68", "#511151", "#3c113a" ,"#270f25", "#120611", "#1b1a0b", "#424116", "#6d6c1a", "#9c9a1b", "#cccb16", "#ffff00"]};
    
    var currentHeatData = '';
    var currentGOData   = '';
    var jstreeGOdata    = '';
    
    //console.log(colorbrewer)
    //console.log(colorbrewer["seurat"][12])
    
    var footerResize = function() {
        $('#divfooter').css('position', $("#divabove").height() + $("#divfooter").height() > $(window).height() ? "inherit" : "fixed");
        //console.log($("#divabove").height());
        //console.log($("#divfooter").innerHeight());
        //console.log($(window).height());
        //console.log('resized');
        };
    //footerResize()
    $(window).resize(footerResize).ready(footerResize);

    // test loading cluster data directly

    var rightClick = false;
    
    function customMenu(node) {
        // The default set of all items
        console.log('customMenu')
        console.log(node);
        // set flag so left click does not fire on right click menu
        rightClick = true;
        
        var nodep = '';
        var items = {
            lookupItem1: {
                label:"Lookup Ensembl",
                action: function () {
                    //console.log("Lookup1");
                    var url = "http://useast.ensembl.org/Human/Search/Results?q=" + node.text + ";site=ensembl;facet_species=Human"
                    $("<a>").attr("href", url).attr("target", "_blank")[0].click();
                }
            },
            lookupItem2: {
                label:"Lookup Panther",
                action: function () {
                    //console.log("Lookup2");
                    var url = "http://pantherdb.org/genes/geneList.do?searchType=basic&fieldName=all&organism=all&listType=1&fieldValue=" + node.text                     
                    $("<a>").attr("href", url).attr("target", "_blank")[0].click();
                }
            },            
            lookupItem3: {
                label:"Lookup AmiGO2",
                action: function () {
                    //console.log("Lookup3");
                    var url = "http://amigo.geneontology.org/amigo/search/bioentity?q=" + node.text                     
                    $("<a>").attr("href", url).attr("target", "_blank")[0].click();
                }
            },                     
            lookupItem4: {
                label:"Lookup Term",
                action: function () {
                    //console.log("Lookup4");
                    var url = "http://amigo.geneontology.org/amigo/search/ontology?q=" + node.text.replace(" ","+")                     
                    $("<a>").attr("href", url).attr("target", "_blank")[0].click();
                }
            },               
            //http://amigo.geneontology.org/amigo/search/ontology?q=protein%20kinase%20activity
            includeItem: { 
                label: "Include",
                action: function () {
                    //console.log('include')
                    //console.log(node);                

                    //console.log(node.parent)

                    nodep = $('#jstreeGO').jstree(true).get_node(node.parent).text
                    //console.log(nodep)
                    if ( nodep.indexOf("Gene Level" ) > -1) {
                        if ( geneExcludes.includes(node.text) ==true) {
                            geneExcludes.splice(geneExcludes.indexOf(node.text),1)
                            $("#"+node.id + "_anchor").css("color","black");                            
                        }
                        //console.log(geneExcludes);
                    }
                    if ( nodep.indexOf("Biological Process" ) > -1) {
                        if ( bpExcludes.includes(node.text) ==true) {
                           bpExcludes.splice(bpExcludes.indexOf(node.text),1)
                           $("#"+node.id + "_anchor").css("color","black");                            
                        }
                        //console.log(bpExcludes);
                    }
                    if ( nodep.indexOf("Cellular Component" ) > -1) {
                        if ( ccExcludes.includes(node.text) ==true) {
                            ccExcludes.splice(ccExcludes.indexOf(node.text),1)
                            $("#"+node.id + "_anchor").css("color","black");                             
                        }
                        //console.log(ccExcludes);
                    }
                    if ( nodep.indexOf("Molecular Function" ) > -1) {
                        if ( mfExcludes.includes(node.text) ==true) {
                            mfExcludes.splice(mfExcludes.indexOf(node.text),1)
                            $("#"+node.id + "_anchor").css("color","black");                             
                        }
                        //console.log(mfExcludes);
                    }               
                    if ( nodep.indexOf("Cell Cycle" ) > -1) {
                        if ( cycExcludes.includes(node.text) ==true) {
                            cycExcludes.splice(cycExcludes.indexOf(node.text),1)
                            $("#"+node.id + "_anchor").css("color","black");                             
                        }
                        //console.log(cycExcludes);
                    }                    
                    //$(this).find('a').addClass('active');
                }
            },
            excludeItem: { 
                label: "Exclude",
                action: function () {
                    //console.log('exclude');
                    //console.log(node.parent)
                    //console.log($('#jstreeGO').jstree(true).get_node(node.parent).text);
                    nodep = $('#jstreeGO').jstree(true).get_node(node.parent).text
                    //console.log("|" + nodep + "|")
                    if ( nodep.indexOf("Gene Level") > -1)  {
                        if(geneExcludes.includes(node.text) == false){
                            geneExcludes.push(node.text);
                            //console.log(node);
                            //console.log(node.id+"_anchor");
                            //nodeid = $(this).parent().attr("id").split("_")[1];
                            $("#"+node.id + "_anchor").css("color","red");                            
                        }    
                        //console.log(geneExcludes);
                    }
                    if ( nodep.indexOf("Biological Process" ) > -1) {
                        if(bpExcludes.includes(node.text) == false){
                            bpExcludes.push(node.text);
                            $("#"+node.id + "_anchor").css("color","red");                            
                        }    
                        //console.log(bpExcludes);
                    }
                    if ( nodep.indexOf("Cellular Component" ) > -1) {
                        if(ccExcludes.includes(node.text) == false){
                            ccExcludes.push(node.text);
                            $("#"+node.id + "_anchor").css("color","red");                            
                        }    
                        //console.log(ccExcludes);
                    }
                    if ( nodep.indexOf("Molecular Function" )  > -1) {
                        if(mfExcludes.includes(node.text) == false){
                            mfExcludes.push(node.text);
                            $("#"+node.id + "_anchor").css("color","red");                            
                        }    
                        //console.log(mfExcludes);
                    }                    
                    if ( nodep.indexOf("Cell Cycle" )  > -1) {
                        if(cycExcludes.includes(node.text) == false){
                            cycExcludes.push(node.text);
                            $("#"+node.id + "_anchor").css("color","red");                            
                        }    
                        //console.log(cycExcludes);
                    }        
                    //console.log(node.querySelector("a"));
                }
            }
        }
        //console.log(node.parent);
        if ( node.parent == "#") {
            delete items.includeItem;
            delete items.excludeItem;
            delete items.lookupItem1;
            delete items.lookupItem2;
            delete items.lookupItem3;          
            delete items.lookupItem4;
            return items;
        }      
        nodep = $('#jstreeGO').jstree(true).get_node(node.parent).text
        //console.log("|" + nodep + "|")
        flagged = false;
        
        if (nodep.indexOf("Gene Level") == -1) {
            delete items.lookupItem1;
            delete items.lookupItem2;
            delete items.lookupItem3;     
        }
        if (nodep.indexOf("Gene Level") > -1) {
            delete items.lookupItem4;
        }
             
        if ( (nodep.indexOf("Gene Level") > -1) && geneExcludes.includes(node.text)) {
            flagged = true;
        }
        if ( ( nodep.indexOf("Cellular Component" ) > -1) && ccExcludes.includes(node.text)) {
            flagged = true;        
        }
        if ( ( nodep.indexOf("Molecular Function" ) > -1 ) && mfExcludes.includes(node.text)) {
            flagged = true;
        }
        if (( nodep.indexOf("Biological Process" ) > -1) && bpExcludes.includes(node.text)) {
            flagged = true;
        }       
        if (( nodep.indexOf("Cell Cycle" ) > -1) && cycExcludes.includes(node.text)) {
            flagged = true;
        }         
        if ( flagged == true) {
            delete items.excludeItem;
        } else {
            delete items.includeItem;        
        }
        rightClick = false;
        return items;
    };
   
               
        // this is the basis for building the GOtree
        // data get's added dynamically from the cluster selected
        var treeThing = {
            'core' : {
                'data' : [] ,
                "check_callback" : true
                },
            'plugins': ["contextmenu","sort"], 
            'contextmenu': {'items': customMenu, "select_node":false},
            'sort' : function(a, b) {
                        a1 = this.get_node(a);
                        b1 = this.get_node(b);
                        if (a1.parent == "gene" && b1.parent == "gene"){
                            return (a1.text > b1.text) ? 1 : -1;
                        } else {
                            return (a1.icon > b1.icon) ? 1 : -1;
                        }
            }            
        };
               
        urlit = '{% url "ontologydata" %}?view=express&cluster=1'
        $.ajax({
            url: urlit,
            timeout:60000 //60 second timeout
        }).done(function(data,textStatus, jqXHR){
            console.log('loaded base tree data')
            jstreeGOdata = data // to filterlater
            console.log(data);  
            treeThing.core.data = jstreeGOdata 
            console.log(treeThing);    
            $('#jstreeGO').jstree(treeThing);    
            return(data);
            }).fail(function(jqXHR, textStatus){
                if(textStatus === 'timeout') {     
                    alert('Failed from timeout');                      
                    //console.log("called: " +urlit)
                //do something. Try again perhaps?
                }
        }); 

        
        function resetHeatHighlights(){
            for (var i = 0; i < currentHeatData.index.length; i++) {
                var obj = currentHeatData.index[i];        
                    findit = ".rowLabel:contains('"+ obj +"')";
                    //console.log(findit);
                    $( findit ).removeClass("hover");   
            }        
        }
        
        
        function setTreeSelected(gene) { // used to set the tree control to match the clicks in the graph
            console.log($("#jstreeGO").jstree(true))
            //console.log(gene);
            //console.log($("#jstreeGO").jstree(true).get_node('gene'));
            geneParent = $("#jstreeGO").jstree(true).get_node('gene');
            if(gene == "") {
                $("#jstreeGO").jstree(true).deselect_all(true);
                return;
            }
            children = geneParent.children;
            for(var i = 0; i< children.length; i++) {
                child = $("#jstreeGO").jstree(true).get_node(children[i]);
                //console.log(child);
                if(child.text == gene) { 
                    //console.log('found it now');
                    //console.log(child);
                    $("#jstreeGO").jstree(true).activate_node(children[i]);
                    break;                        
                    }
            };
        };
        
        // go through list of criteria and get all genes related in a list
        function getGeneList(typego, list) {
            var geneListMade = [];  
            //console.log(list);
            //console.log(currentGOData);
            if(typego == 'bp'){
                listThing = currentGOData.bp;
            }
            if(typego == 'cc'){
                listThing = currentGOData.cc
            }
            if(typego == 'mf'){
                listThing = currentGOData.mf            
            }
            //console.log(listThing);
            //for(lookie in list){
            for (var i = 0; i < list.length; i++) {
                var obj = $.grep(listThing, function(obj){return obj.name === list[i];})[0];
                geneList = obj.list;
                //console.log('genelist = ');
                //console.log(geneList);
                for (var j = 0; j<geneList.length;j++){
                    geneListMade.push(geneList[j].name);
                }
            }
            return(geneListMade);
        };
                
        // fires when node is clicked - turned off node selection in right click menus
        $('#jstreeGO').on('activate_node.jstree', function (e, data) {
        //$('#jstreeGO').bind('itemClick', function (event,data) {
            //console.log(rightClick);
            //console.log(data.node.text);
            if (data == undefined || data.node == undefined || data.node.id == undefined) return;
            //console.log('clicked node: ' + data.node.text);
            nodep = $('#jstreeGO').jstree(true).get_node(data.node.parent).text   
            
            var geneList = [];
            var listThing = '';
            if(nodep.indexOf("Gene Level" ) > -1){
                // FDG update
                var currSelect = $("#jstreeGO").jstree("get_selected",true);
                //console.log(currSelect);
                //console.log(currSelect[0].text);
                if( currSelect[0].text == data.node.text) {
                // set old node to not selected
                    currSelect.selected = false;
                    //console.log('set to not selected');
                }
                //console.log('HighLightGene');
                highLightGene(data.node.text, true);                   
            }
            if(nodep.indexOf("Biological Process" ) > -1){
                //console.log(data.node.text)
                listThing = currentGOData.bp;
            }    
            if(nodep.indexOf("Cellular Component" ) > -1){
                //console.log(data.node.text)
                listThing = currentGOData.cc;
            } 
            if(nodep.indexOf("Molecular Function" ) > -1){
                //console.log(data.node.text)
                listThing = currentGOData.mf;
            }           
            if(listThing != ''){
                resetHeatHighlights();         
                var obj = $.grep(listThing, function(obj){return obj.name === data.node.text;})[0];
                geneList = obj.list
                //console.log(geneList);
                
                for (var i = 0; i < geneList.length; i++) {
                    findit = ".rowLabel:contains('"+ geneList[i].name +"')";
                    //console.log(findit);
                    $( findit ).addClass("hover");
                }        
            };    
                
        });
       
        $('#jstreeGO').on("hover_node.jstree", function (e, data) {
                console.log(data.node.text);
                poponto(data.node.text);
            });
            
        $('#jstreeGO').on("dehover_node.jstree", function (e, data) {
                //console.log("no dehover choice on ontology tree");
                //$('#ontospace').empty();
            });    
       
        //$('#jstreeGO').jstree( {plugins: ["contextmenu"], contextmenu: {items: customMenu} });    

        $( "#ontologyselect" ).selectmenu({change:function(){
            var datain = 'before load';

              var x = document.getElementById("sliderall");
              x.style.display = "none"; //  display off              
              
            
            if(this.value == "Cell Cycle"){
                //console.log(currentCluster);
                $('div#heatmap1').empty();  
                //$('#ontologyselect').selectmenu( "option", "disabled", true );
                $("#heatmap1").append('<div class = "workres"> <center><img  src="{% static 'omics/images/loading_img.gif' %}" ></center></div>'); 
                //heatmap_display("{% static 'omics/data/heatdatacycle.json' %}", "#heatmap1", "Spectral");  
                //console.log('{% url "clusterdata" %}?view=cc&cluster=' + currentCluster)              
                heatmap_display('{% url "clusterdata" %}?view=cc&cluster=' + currentCluster, "#heatmap1", "seurat",poponto);                  
            };
            if(this.value == "Regulation"){
                var x = document.getElementById("sliderall");
                x.style.display = "block"; //  display off
                //var x = document.getElementById("slider2");
                //x.style.display = "block"; //  display off
                //var x = document.getElementById("slider3");
                //x.style.display = "block"; //  display off            
                //x.style.display = "block"; //  display on            
                $('div#heatmap1').empty();  
                directgraph("#heatmap1");             
            };    
            if(this.value == "Regulation2"){
                $('div#heatmap1').empty();  
                cooccur("#heatmap1");             
            };              
            if(this.value == "Regulation3"){
                //console.log('hier edge bundling');
                $('div#heatmap1').empty();  
                hieredge("#heatmap1");             
            };              
            if(this.value == "Expression") {
                $('div#heatmap1').empty();
                //heatmap_display_data(currentHeatData, "#heatmap1", "seurat",poponto) ;       
                heatmap_display('{% url "clusterdata" %}?view=express&cluster=1', "#heatmap1", "seurat");
            };
            if(this.value == "Pathway") {
                $('div#heatmap1').empty();
                pathway_browser();       
                //heatmap_display('{% url "clusterdata" %}?view=express&cluster=1', "#heatmap1", "seurat");
            };
        }});
      
        $('#dataselect').on('change',function(){
            //console.log('selected data');
            currentCluster = this.value;
            //console.log(this.value);
            $('div#heatmap1').empty();      
            currentHeatData = heatmap_display(currentCluster , "#heatmap1", "seurat",poponto);              
        });      
  
        $("#recluster"   ).button();
        $("#recalculate" ).button();
        
        //$(     "#recluster" ).selectmenu();
        $('#recalculate').on('click',function(){
            //console.log('recalc');
            recalculate();
        });  
        
        $('#recluster').on('click',function(){
            //console.log('recluster');
            if (confirm('This may take a long time!')) {
                $('div#heatmap1').empty(); 
                $("#heatmap1").append('<div class = "workres"> <img  src="{% static 'omics/images/loading_img.gif' %}" ></div>');              
                recluster();
            }            
            // send exclusions to service to get back data
        });     
        
    function heatmap_display(cluster,divid,palatteName,poponto) {
    
        // take care of refresh page bug in selection
        //console.log($( "#ontologyselect" ));
        var myselect = $("#ontologyselect");
        //important if selection order ever changes or default changes this will break!
        //myselect[0].selectedIndex = 0;
        //myselect.selectmenu("refresh");
        $("#heatmap1").append('<div class = "workres"> <center><img  src="{% static 'omics/images/loading_img.gif' %}" ></center></div>');      
        urlit = '{% url "clusterdata" %}?view=express&cluster='+cluster;
        $.ajax({
            url: urlit,
            timeout:60000 //60 second timeout
        }).done(function(data,textStatus, jqXHR){
            currentHeatData = data; // to filterlater
            console.log(data);
            $(divid).empty();      
            console.log('before heatmap');
            //console.log(divid);
            //console.log( $('div#heatmap1').width() );            
            //console.log( $(divid).width() );
            //console.log( $(divid).innerWidth() );  
            //console.log( $(divid).offsetWidth );
            //console.log( $(divid).clientWidth );            
            //console.log( $(divid).parent().height() );
            
            heatmap_display_data(data, divid, "seurat",poponto);   
            console.log(currentHeatData.index);
            changeOrder("sortinit_row", "#heatmap1");           
            
            //loadGOTreeGenes(currentHeatData.index);
            //loadGOData(currentHeatData.index); // need to send gene list here
            //ontospacedata = loadOntoSpace(currentHeatData.index);
            
            //$(".rowLabel").css('background-color', 'red');       
            //$( "#heatmap1:contains('APOC1')" ).css( "text-decoration", "underline" );         
            //$( ".rowLabel:contains('APOC1')" ).addClass("hover");
            //console.log("trying to find rowlabels")
            //console.log($("#heatmap1, .rowLabel"));            
            return(data);
            }).fail(function(jqXHR, textStatus){
                if(textStatus === 'timeout') {     
                    alert('Failed from timeout');                      
                    //console.log("called: " +urlit);
                //do something. Try again perhaps?
                }
        });         
    };
    
    // pick cluster 1 by default for initial load
    
    //currentHeatData = heatmap_display('1', "#heatmap1", "seurat",poponto);
    
    
    //console.log('After heatmap display');
    // test out background highlight

    //console.log("trying to find rowlabels" + $("#heatmap1 .rowlabel"));
    //$( "#heatmap1:contains('CHI3L1')" ).css( "text-decoration", "underline" );
    
    function loadOntoSpace(list) {
        urlit = '{% url "ontospacedata" %}';
        json_send = JSON.stringify(list); // proper serialization method, read 
        //console.log(json_send);                                              
        $.ajax({
            type: 'POST',
            data: json_send,
            dataType: "text",        
            url: urlit,
            timeout:60000 //60 second timeout
        }).done(function(data,textStatus, jqXHR){
            console.log('got data for loadOntoSpace')
            console.log(data)
            ontospacedata = JSON.parse(data);        
            //return(data);
            }).fail(function(jqXHR, textStatus){
                if(textStatus === 'timeout') {     
                    alert('Failed from timeout');                      
                    //console.log("called: " +urlit);
                //do something. Try again perhaps?
                }
        });       
    }
    
    function loadGOData(list)  {
        //$("#heatmap1").append('<div class = "workres"> <center><img  src="{% static 'omics/images/loading_img.gif' %}" ></center></div>');      
        urlit = '{% url "getgodata" %}';
        json_send = JSON.stringify(list); // proper serialization method, read  
        //console.log(json_send);    
        $("#jstreeGO").append('<div class = "workres"> <center><img  src="{% static 'omics/images/loading_img.gif' %}" ></center></div>');
        $.ajax({
            type: 'POST',
            data: json_send,
            dataType: "text",        
            url: urlit,
            timeout:60000 //60 second timeout
        }).done(function(data,textStatus, jqXHR){
            console.log('emptied GO tree');
            //$("#jstreeGO").empty()
            currentGOData = JSON.parse(data); // to filterlater
            console.log('currentGOData');
            console.log(currentGOData);
            for (var i = 0; i < currentGOData.mf.length; i++) {
                var obj = currentGOData.mf[i];
                //console.log(obj);
                mfLine = {"id":'mf'+i,"parent":"mf","text":currentGOData.mf[i].name};
                treeThing.core.data.push(mfLine);
            }
            for (var i = 0; i < currentGOData.bp.length; i++) {
                var obj = currentGOData.bp[i];
                //console.log(obj);
                bpLine = {"id":'bp'+i,"parent":"bp","text":currentGOData.bp[i].name};
                treeThing.core.data.push(bpLine);
            }
            for (var i = 0; i < currentGOData.cc.length; i++) {
                var obj = currentGOData.cc[i];
                //console.log(obj);
                ccLine = {"id":'cc'+i,"parent":"cc","text":currentGOData.cc[i].name};
                treeThing.core.data.push(ccLine);
            }
            loadGOTreeGenes();            
            //return(data);
            }).fail(function(jqXHR, textStatus){
                if(textStatus === 'timeout') {     
                    alert('Failed from timeout');                      
                    //console.log("called: " +urlit);
                //do something. Try again perhaps?
                }
        });       
    };
    
    function loadGOTreeGenes() {
        console.log('load genes');
        //treeThing.core.data = []; //remove any 
            // take out any gene names
        for (var i = 0; i < currentHeatData.index.length; i++) {
            var obj = currentHeatData.index[i];
            //console.log(obj);
            //console.log(tempHeatData.index.indexOf(obj))
            geneLine = {"id":'gene'+i,"parent":"gene","text":currentHeatData.index[i]};
            //console.log(geneLine);
            treeThing.core.data.push(geneLine);
        };
        console.log(treeThing);
        //$('#jstreeGO').jstree(treeThing); 
        console.log('after tree init');

        //$('#jstreeGO').jstree().refresh();
        console.log('after tree refresh');
    };        
        
    //Creating the Reactome pathways overview widget
    function onReactomeFireworksReady(){  //This function is automatically called when the widget code is ready to be used
    };
    
        //Adding different listeners

        //fireworks.onFireworksLoaded(function (loaded) {
        //    console.info("Loaded ", loaded);
        //});

        //fireworks.onNodeHovered(function (hovered){
        //    console.info("Hovered ", hovered);
        //});

        //fireworks.onNodeSelected(function (selected){
        //    console.info("Selected ", selected);
        //});
    
    
    function pathway_browser() {
        //console.log("pathway create");
        var fireworks = Reactome.Fireworks.create({
        "placeHolder" : "heatmap1",
        "width" : 930,
        "height" : 500
        });
    };
   
    function dg2 (place) {
    };
   

    var simulation = null;
    var startLink  = .005;
    var startMany  = 0;
    var nodeSelected = false;
    var nodeName = "";
    
    // get strength from slider4
    function applyEdgeStrength(strength) {
        //console.log('apply strength');
        d3.select("#heatmap1").selectAll("line")
        .style("visibility", function (d) {
            //console.log(d);
            //console.log(d.value);
            //console.log(strength);        

            if ( d.value > strength ) {
                return "visible";
            } else {
                return "hidden";
            }
        });        
    };

    function highLightGene(node, recurse) {
        //console.log('within highLightGene');
        //console.log(node);
        var nodein = node;
        //console.log(simulation.nodes().attr("title", node));
        //var geneNode  = $('#jstreeGO').jstree(true).get_node(node);
        //var found = d3.select("#heatmap1").selectAll("circle").attr("title", node);     
        var found = d3.select("#heatmap1").selectAll("circle").filter(function(d,nodein) { 
            //console.log(d);
            //console.log(node);
            if(d.id == node) return d;
        } );
        //console.log(simulation)
        //console.log(found._groups[0][0]);
        //console.log(found._groups[0][0].__data__);
        geneClicked(found._groups[0][0].__data__, found._groups[0][0]);
    };
        
    function geneClicked(node, thing, recurse) {
            //highlight
            //console.log(node.clicked);
            //console.log(thing.textContext);
            //console.log(node);
            //console.log(thing);
            node.clicked = 1;
            nodeSelected = true;
            //console.log(nodeName)
            //console.log(thing.textContext)
            //if( nodeName == node.id) {
            //    console.log('already selected')
            //}
            nodeName = node.id;
            //console.log(nodeName)
            
            d3.select("#heatmap1").selectAll("circle").attr("r", function(d) {return 5 });
            d3.select("#heatmap1").selectAll("line")
            .attr("stroke-width", function(d) {return Math.sqrt(d.value)/2 })
            .style("stroke-opacity", function (d) {return 1});  
                
            //console.log(d3.select("#heatmap1").selectAll("circle"))                    
            //console.log(node.clicked);
            //var found = d3.select("#heatmap1").selectAll("circle").attr("title", node);                  
            //console.log(found);
            d3.select(thing).transition(5).attr('r', 10);
            //console.log("highlight");
            
            // set them all to normal
            d3.select("#heatmap1").selectAll("line")
            .attr("stroke-width", function(d) {return Math.sqrt(d.value)/2 })
            .style("stroke-opacity", function (d) {return 0});
            
            d3.select("#heatmap1").selectAll("line").attr("stroke-width", 
                function(d) {
                    //console.log(d);
                    //console.log(node.id);
                    if ( d.source.id == node.id || d.target.id == node.id ) {
                        //console.log("found edge");
                        return Math.sqrt(d.value)
                    }
                })
            .style("stroke-opacity", function (d) {
                if ( d.source.id == node.id || d.target.id == node.id ) {
                    //console.log("opaque");
                    return 1;
                } else {
                    return .1;
                }
            });
            applyEdgeStrength(slider4.value());
            if(recurse) { setTreeSelected(node.id); };
            ontoGet(node);
            //console.log(lines);            
    };        
        
    var cacheReactome = {};
    
    function singleLine(name, text) {
        return( "<p>" + name + ' : ' + text + "</p>" );
    };
    
    function listEntry(text) {
        return("<p>" + text + "</p>");    
    }
    function centerIt(text) {
        return("<center><b>" + text + '</b></center>')
    };
    
    function paintOntoSpace(json,node) { // make it purdy
                $("#ontospace").empty();   
                //console.log(json);
                displayText = ""
                if(json.code == 404){
                    displayText = centerIt("Pathway not found");
                } else {
                    //console.log(json.results[0].entries[0]);
                    if(json.results[0].entries[0]) {
                        var entry = json.results[0].entries[0];
                        //console.log(json.results[0].entries[0]);
                        //console.log(entry.name);                     
                        if(entry.name) { displayText = displayText + singleLine("Name",entry.name); };
                        if(entry.id)   { displayText = displayText + singleLine("ID",entry.id); };
                        displayText = displayText + "<hr>"                        
                        if(entry.compartmentNames) {
                            displayText = displayText + centerIt("Compartment Names");      
                            //console.log(entry.compartmentNames.length);
                            for (var i = 0; i < entry.compartmentNames.length ; i++) {
                                //console.log(entry.compartmentNames[i]);
                                displayText = displayText + listEntry("-> " + entry.compartmentNames[i]);
                            }    
                            displayText = displayText + "<br><hr>"
                        };
                        if(entry.summation) { 
                        //displayText = displayText + formatTextWrap(JSON.stringify(entry.summation, null, 2),60);
                        displayText = displayText + singleLine("Summation", entry.summation);
                        };                
                    } else {
                        displayText = centerIt("Problem Unpacking JSON");
                    }
                };

                displayText = centerIt(node.id) + displayText; 
                $("#ontospace").html("<pre>"+displayText+"</pre>");    
    };
        
   function ontoGet(node) {
        //console.log('hover');
        //console.log(node.id);
        $("#ontospace").empty();
        $("#ontospace").html("<pre>"+JSON.stringify(node, null, 2)+"</pre>");
        var json = cacheReactome[node.id]; //check cache
        //console.log(json);                    
        if(json){
            //console.log('found it');
            paintOntoSpace(json,node);                
        }  else {  
            //console.log("{% url 'reactome'%}?gene=" + node.id)
            d3.json("{% url 'reactome'%}?gene=" + node.id, function(error, graph) {                
                if (error) throw error;
                cacheReactome[node.id] = graph; // cache it
                //console.log('cached it');
                //console.log(graph);
                json = graph;
                paintOntoSpace(json,node);                
            }); 
        };
    };          
        
    var nodeEdgeCounts = {};
    var nodeEdgeWeights = {};    
        
    function minMax(val, max, min) { return (val - min) / (max - min); };        
        
    function calcEdgeWeight(graph) { // min max scaled
        var sources = graph.links;
        //console.log('calcEdgeWeight start');
        //console.log(sources);
        var agg = sources.reduce(function(linkList, link) {
            //console.log(link);
            //console.log(link.source);
            //console.log(link.value);
            //console.log(linkList[link.source]);
            //console.log(linkList[link.source] + link.value);
            linkList[link.source] = linkList[link.source] + link.value || link.value;
            //console.log(linkList);
            return linkList
            }, [] );
        //console.log(agg);

        var total = 0;

        for (var key in agg) {
            total += agg[key];
        };

        var maxT = 0;
        for (var key in agg) { if (agg[key] > maxT) { maxT = agg[key]; }; }; //a find max first
        
        var minT = maxT;
        for (var key in agg) { if (agg[key] < minT) { minT = agg[key]; }; }; // find min based upon max - avoids setting arbitrary max to start - hacky
        //console.log('min/max');
        //console.log(minT);
        //console.log(maxT);
        
        
        //console.log(total/2);
        total = total/2; // most nodes have edges each way
        
        // makes it easier for me to return objects in map function below
        function getObj(k){ var a = {}; a[k]=minMax(agg[k],minT,maxT); //console.log(a);
        return a; };
           
        // get all object property names
        var res = Object.keys(agg)
          // iterate over them and generate the array
          .map(function(k) {
            // generate the array element 
           // return ({k, minMax(agg[k],minT,maxT)});
           //console.log(k);
           //console.log(agg[k]);
           //console.log(minMax(agg[k],minT,maxT));
           //console.log({"k":minMax(agg[k],minT,maxT)});
           //return [k, minMax(agg[k],minT,maxT)];
           var a = getObj(k);
           return (a)
          });

        //console.log('res')
        //console.log(res);
        //console.log('calcEdgeWeight end');        
        return(res);
    };
        
        
    function calcEdgeCount(graph) {
        var sources = graph.links;
        var names = [];
        
        for (var i = 0; i < sources.length; i++ ) {
            //console.log(sources[i].source);
            names.push(sources[i].source);
        };
        var agg = names.reduce(function(countMap, word) {countMap[word] = ++countMap[word] || 1;return countMap}, {});
        //console.log(agg);  
        // get all object property names
        
        var maxT = 0;
        for (var key in agg) { if (agg[key] > maxT) { maxT = agg[key]; }; }; //a find max first
        
        var minT = maxT;
        for (var key in agg) { if (agg[key] < minT) { minT = agg[key]; }; }; // find min based upon max - avoids setting arbitrary max to start 
        
        // makes it easier for me to return objects in map function below
        function getObj(k){ var a = {}; a[k]=minMax(agg[k],minT,maxT); //console.log(a);
        return a; };
        
        var res = Object.keys(agg)
          // iterate over them and generate the array
          .map(function(k) {
            // generate the array element 
           // return ({k, minMax(agg[k],minT,maxT)});
           //console.log(k);
           //console.log(agg[k]);
           //console.log(minMax(agg[k],minT,maxT));
           //console.log({"k":minMax(agg[k],minT,maxT)});
           //return [k, minMax(agg[k],minT,maxT)];
           //var a = {}; 
           //a[k]=agg[k]; //console.log(a);
           //return (a);
           var a = getObj(k);
           return (a)           
          });        
        return(res);
        };
        
    var graphEdgeCount   = [];
    var graphEdgeWeight = [];
    
    function directgraph(place) {
        //console.log("force Graph");
        var viewerWidth = $(place).width() - 12;
        //console.log(viewerWidth);
        //console.log( $(place).width() );
        //console.log( $(place).parent().height() );
        var viewerHeight = $(place).parent().height() - 12;        
        //var viewerWidth = 600;
        //var viewerHeight = 500;
        //var width = viewerWidth;
        //var height = viewerHeight;
        //var viewerPosTop = 50;
        //var viewerPosLeft = 50;    
        
        var viewerPosTop = 0;
        var viewerPosLeft = 0;         
        
        svg = d3.select(place).append("svg")
        //.attr("width", viewerWidth)
        //.attr("height", viewerHeight)
        .attr("width", width)
        .attr("height", height)        
        //.call(zoomListener)
        .append("g")
        .attr("transform", "translate(" + viewerPosLeft + "," + viewerPosTop + ")");

        var color = d3.scaleOrdinal(d3.schemeCategory20);

        // make a global - hackity hack
        simulation = d3.forceSimulation()
        .force("link", d3.forceLink().id(function(d) { return d.id; }))
        .force("charge", d3.forceManyBody().strength(startMany))
        .force("collide", d3.forceCollide(25))      
        .force("center", d3.forceCenter(width / 2, height / 2));

        d3.json("{% static 'omics/data/adjacency.json' %}", function(error, graph) {
            if (error) throw error;

            // calc the node attributes like #edges and total edge weight
            graphEdgeCount = calcEdgeCount(graph);
            //console.log(graphEdgeCount);
            graphEdgeWeight = calcEdgeWeight(graph);
            //console.log(graphEdgeWeight);
            
            var link = svg.append("g")
            .attr("class", "links")
            .selectAll("line")
            .data(graph.links)
            .enter().append("line")
            .attr("stroke-width", function(d) { return Math.sqrt(d.value)/2 })
            .attr("strength", function(d) { return d.value} )
            .on("mouseover",hoverthingedge)
            .on("mouseout",hoverthing2edge);
            

            var node = svg.append("g")
            .attr("class", "nodes")
            .selectAll("circle")
            .data(graph.nodes)
            .enter().append("circle")
            .attr("r", 5)
            //.attr("fill", function(d) { return color(d.group); })
            .attr("fill", function(d) { return "#b1c4c6"; })
            .on("dblclick", releasenode)   
            .on("click", getReactome)
            .on('contextmenu', contextm)
            .on("mouseover",hoverthing)
            .on("mouseout",hoverthing2)
            .call(d3.drag()
                .on("start", dragstarted)
                .on("drag", dragged)
                .on("end", dragended)
            );
            
            node.append("svg:text")
            .attr("class", "nodetext")
            .attr("dx", 12)
            .attr("dy", ".35em")
            .text(function(d) { return d.name });
      
            updateTree(graph);
            
            node.append("title")
              .text(function(d) { return d.id; });

            simulation
              .nodes(graph.nodes)
              .on("tick", ticked);

            simulation.force("link")
              .links(graph.links);

            function getReactome(node) {
                //console.log('click');
                //console.log(node);         
                d3.select("#heatmap1").selectAll("circle").attr("r", function(d) {return 5 });
                d3.select("#heatmap1").selectAll("line")
                .attr("stroke-width", function(d) {return Math.sqrt(d.value)/2 })
                .style("stroke-opacity", function (d) {return 1});  
                
                //console.log("simulation");
                //console.log(simulation.nodes());
                simulation.nodes().forEach(function(d) {if (d.id != node.id && d.clicked == 1) d.clicked = 0} );
                
                if(node.clicked == 0 ||  typeof node.clicked == 'undefined') {
                    //console.log('getReactome call to geneClicked')
                    //console.log(node);
                    //console.log(this);
                    geneClicked(node,this, true);                    
                } else {
                    //unhighlight     
                    //console.log(node.clicked);
                    node.clicked = 0;
                    nodeSelected = false;      
                    nodeName     = ""
                    //console.log(node.clicked);                    
                    d3.select(this).transition(5).attr('r', 5);     
                    setTreeSelected("")
                    //console.log("unhighlight");                    
                }
                
            };
   
   
           function contextm(node) {
                //console.log('context');
                //console.log(node);
                d3.event.preventDefault();                
            }
            
            
           function hoverthing(node) {
                //console.log(node.id);
                if(node.id == nodeName) {return}
                d3.selectAll("circle").filter(function(d) {//console.log(d) 
                    //console.log(d);
                    if(d.id == node.id) {

                        return d;
                    }
                } )
				.transition()
				.duration(5)
				.attr("r", 10);                
           };
                    
            
           function hoverthing2(node) {
                //console.log('hover2');
                //console.log(node);
                if(node.id == nodeName) {return}                
                d3.selectAll("circle").filter(function(d) {
                    //console.log(d);
                    if(d.id == node.id) {

                        return d;
                    }
                } )
				.transition()
				.duration(5)
				.attr("r", 5);                 
            }; 
           
            
           function hoverthingedge(edge) {
                //console.log('hover');
                //console.log(edge);
                //$("#ontospace").empty();
                //$("#ontospace").html("<pre>"+JSON.stringify(edge, null, 2)+"</pre>");
                // paint context into context section
            }            
            
           function hoverthing2edge(edge) {
                //console.log('hover2');
                //console.log(edge);
                //$("#ontospace").empty();                
            } 
           
          var radius = 5;
            
          function ticked() {
            
            node
                .attr("cx", function(d) { return d.x = Math.max(radius, Math.min(width - radius, d.x)); })
                .attr("cy", function(d) { return d.y = Math.max(radius, Math.min(height - radius, d.y)); });            
                //.attr("cx", function(d) { return d.x; })
                //.attr("cy", function(d) { return d.y; });
            //console.log(node.attr("cx"))
            
            
            link
                .attr("x1", function(d) { return d.source.x; })
                .attr("y1", function(d) { return d.source.y; })
                .attr("x2", function(d) { return d.target.x; })
                .attr("y2", function(d) { return d.target.y; });
                
          }
     
          //d3.select("p#value1").text(d3.format('.2%')(slider1.value()))
          //d3.select("a#setValue1").on("click", () => slider1.value(0.015)); 
        });        
        

        function dragstarted(d) {
          if (!d3.event.active) simulation.alphaTarget(0.3).restart();
          d.fx = d.x;
          d.fy = d.y;
        }

        function dragged(d) {
        //console.log(width);
        //console.log(viewerWidth);
        //console.log(height);
        //console.log(viewerHeight);        
        //console.log('dragged');
        //console.log(d3.event.x);
        //console.log(d3.event.y);     
        //console.log(svg.style("width"));
        if(d3.event.x < 0) {
          d.fx = 0;
        } else {
            if(d3.event.x > viewerWidth) {
                d.fx = viewerWidth;
                //console.log('constrain width');
                //console.log(d.fx);
            } else {
                d.fx = d3.event.x;
            }    
        }
        
        if(d3.event.y < 0) {
          d.fy = 0;
        } else {
            if(d3.event.y > viewerHeight) {
                d.fy = viewerHeight;
                //console.log('constrain height');
                //console.log(d.fy);
            } else {
                d.fy = d3.event.y;
            }    
        }        
        
        // d.fx = d3.event.x;
         d.fy = d3.event.y;
         //       d.fx = Math.max(radius, Math.min(width - radius, d3.event.x));
         //       d.fy = Math.max(radius, Math.min(height - radius, d3.event.y));            
          
        }

        function dragended(d) {
            //console.log('dragended');
            //console.log(d);
            if(d.fx > viewerWidth) {
                d.fx = viewerWidth;
                //console.log('constrain width dragended');
                //console.log(d.fx);
                //tick();
            }        
          if (!d3.event.active) simulation.alphaTarget(0);

          //d.fx = null;
          //d.fy = null;
        }
        
        function releasenode(d) {
            d.fx = null;
            d.fy = null;
        };
      };  
    
    //////////////////////////////////////////////////////////////////////////////
    var data1 = [0, .1];
    
      var slider1 = d3.sliderHorizontal()
        .min(d3.min(data1))
        .max(d3.max(data1))
        .width(200)
        .tickFormat(d3.format('.1'))
        .ticks(10)
        .default(0)
        .on('onchange', val => {
          //d3.select("p#value1").text(d3.format('.2%')(val));
          //console.log(val);
          //console.log(d3.select("heatmap1#g"));
          //console.log(simulation)      
          //simulation.force("charge",d3.select("p#value1").text())
          simulation.force("link").strength(slider1.value());
          //simulation.force("center", d3.forceCenter(width / 2, height / 2))              
          
          simulation.alpha(1).restart();
        });

        //console.log(slider1);
        //console.log('find slider')

        
      var g = d3.select("#slider1").append("svg")
        //.attr("width",250)
        //.attr("height", 100)
        .append("g")
        .attr("transform", "translate(30,30)");

      g.call(slider1);  

    //////////////////////////////////////////////////////////////////////////////  
    //slider 2
    var data2 = [-100, 100];

      var slider2 = d3.sliderHorizontal()
        .min(d3.min(data2))
        .max(d3.max(data2))
        .width(200)
        .tickFormat(d3.format('1'))
        .ticks(10)
        .default(startMany)
        .on('onchange', val => {
          //d3.select("p#value1").text(d3.format('.2%')(val));
          //console.log(val);
          //console.log(d3.select("heatmap1#g"));
          //console.log(simulation)      
          //simulation.force("charge",d3.select("p#value1").text())
          simulation.force("charge_force", d3.forceManyBody().strength(slider2.value()))        
          //simulation.force("link").strength(.1);
          //simulation.force("center", d3.forceCenter(width / 2, height / 2))              
          
          simulation.alpha(1).restart();
        });

        //console.log('find slider2');      
        //console.log(slider2);
        
      var g = d3.select("#slider2").append("svg")
        //.attr("width", 250)
        //.attr("height", 100)
        .append("g")
        .attr("transform", "translate(30,30)");

      g.call(slider2);   
      
    //////////////////////////////////////////////////////////////////////////////  
    //slider 3
    var data3 = [5, 50];

      var slider3 = d3.sliderHorizontal()
        .min(d3.min(data3))
        .max(d3.max(data3))
        .width(200)
        .tickFormat(d3.format('1'))
        .ticks(10)
        .default(25)
        .on('onchange', val => {
          //d3.select("p#value1").text(d3.format('.2%')(val));
          //console.log(val);
          //console.log(d3.select("heatmap1#g"));
          //console.log(simulation)      
          //simulation.force("charge",d3.select("p#value1").text())
          //simulation.force("charge_force", d3.forceManyBody().strength(slider3.value()))        
          //simulation.force("link").strength(.1);
          simulation.force("collide", d3.forceCollide(slider3.value()));     
          
          simulation.alpha(1).restart();
        });

        //console.log('find slider3');      
        //console.log(slider3);

      var g = d3.select("#slider3").append("svg")
        //.attr("width", 250)
        //.attr("height", 100)
        .append("g")
        .attr("transform", "translate(30,30)");

      g.call(slider3);  
          
    //////////////////////////////////////////////////////////////////////////////     
    var data4 = [0, 20];

      var slider4 = d3.sliderHorizontal()
        .min(d3.min(data4))
        .max(d3.max(data4))
        .step(1)
        .width(200)
        .tickFormat(d3.format('1'))
        .ticks(10)
        .default(1)
        .on('onchange', val => {
          //d3.select("p#value1").text(d3.format('.2%')(val));
          //console.log(val);
          //console.log(d3.select("heatmap1#g"));
          //console.log(simulation)      
          //simulation.force("charge",d3.select("p#value1").text())
          //simulation.force("charge_force", d3.forceManyBody().strength(slider3.value()))        
          //simulation.force("link").strength(.1);
          applyEdgeStrength(slider4.value());
          //simulation.force("collide", d3.forceCollide(slider4.value()));     
          
          //simulation.alpha(1).restart();
        });

        
      var g = d3.select("#slider4").append("svg")
        //.attr("width", 250)
        //.attr("height", 100)
        .append("g")
        .attr("transform", "translate(30,30)");

      g.call(slider4);    
      
     
    //////////////////////////////////////////////////////////////////////////////

    
      // set parent element to off initially
      //  now displaying at startup
      //var x = document.getElementById("sliderall");
      //x.style.display = "none"; // initially display off  
      
    
    function updateTree(graph) {
    //expects filtered set of active nodes
        console.log('updateTree')
        var nodes = graph.nodes;
        
        console.log(graph)
        console.log(nodes)
        console.log($('#jstreeGO').jstree())
        console.log($('#jstreeGO').jstree(true))
        var geneNodes  = $('#jstreeGO').jstree().get_node("gene").children;
        console.log($('#jstreeGO').jstree().get_node("gene"))        
        if(geneNodes) {
            //console.log(geneNodes);
            //console.log(nodesToGo);      
            $('#jstreeGO').jstree().delete_node(geneNodes);
            //console.log(nodesToGo);
        }
        //console.log($('#jstreeGO').jstree())        
        for ( var i = 0; i < nodes.length; i++ ) {
            //console.log(nodes[i].id);

            $('#jstreeGO').jstree().create_node($('#jstreeGO').jstree().get_node("gene"), nodes[i].id);
        }
        
        console.log($('#jstreeGO').jstree(true))
        //$('#jstreeGO').jstree(true).refresh();
    };

    function cooccur() {

        var margin = {top: 80, right: 0, bottom: 10, left: 80};
            //width = 720,
            //height = 720;

        var x = d3.scaleOrdinal().range([0, width]);

        var x = d3.scaleLinear().domain(d3.range(10));
        
        var c = d3.scaleOrdinal(d3.schemeCategory10);
        
        //var 
            //x = d3.scale.ordinal().rangeBands([0, width]),
            // z = d3.scale.linear().domain([0, 4]).clamp(true),
            //c = d3.scale.category10().domain(d3.range(10));

        var svg = d3.select("heatmap1").append("svg")
            .attr("width", width + margin.left + margin.right)
            .attr("height", height + margin.top + margin.bottom)
            .style("margin-left", -margin.left + "px")
          .append("g")
            .attr("transform", "translate(" + margin.left + "," + margin.top + ")");

        d3.json("{% static 'omics/data/miserables.json' %}", function(miserables) {
          var matrix = [],
              nodes = miserables.nodes,
              n = nodes.length;

          // Compute index per node.
          nodes.forEach(function(node, i) {
            node.index = i;
            node.count = 0;
            matrix[i] = d3.range(n).map(function(j) { return {x: j, y: i, z: 0}; });
          });

          // Convert links to matrix; count character occurrences.
          miserables.links.forEach(function(link) {
            matrix[link.source.index][link.target.index].z += link.value;
            matrix[link.target.index][link.source.index].z += link.value;
            matrix[link.source.index][link.source.index].z += link.value;
            matrix[link.target.index][link.target.index].z += link.value;
            nodes[link.source.index].count += link.value;
            nodes[link.target.index].count += link.value;
          });

          // Precompute the orders.
          var orders = {
            name: d3.range(n).sort(function(a, b) { return d3.ascending(nodes[a].name, nodes[b].name); }),
            count: d3.range(n).sort(function(a, b) { return nodes[b].count - nodes[a].count; }),
            group: d3.range(n).sort(function(a, b) { return nodes[b].group - nodes[a].group; })
          };

          // The default sort order.
          x.domain(orders.name);

          svg.append("rect")
              .attr("class", "background")
              .attr("width", width)
              .attr("height", height);

          var row = svg.selectAll(".row")
              .data(matrix)
            .enter().append("g")
              .attr("class", "row")
              .attr("transform", function(d, i) { return "translate(0," + x(i) + ")"; })
              .each(row);

          row.append("line")
              .attr("x2", width);

          row.append("text")
              .attr("x", -6)
              .attr("y", x.rangeBand() / 2)
              .attr("dy", ".32em")
              .attr("text-anchor", "end")
              .text(function(d, i) { return nodes[i].name; });

          var column = svg.selectAll(".column")
              .data(matrix)
            .enter().append("g")
              .attr("class", "column")
              .attr("transform", function(d, i) { return "translate(" + x(i) + ")rotate(-90)"; });

          column.append("line")
              .attr("x1", -width);

          column.append("text")
              .attr("x", 6)
              .attr("y", x.rangeBand() / 2)
              .attr("dy", ".32em")
              .attr("text-anchor", "start")
              .text(function(d, i) { return nodes[i].name; });

          function row(row) {
            var cell = d3.select(this).selectAll(".cell")
                .data(row.filter(function(d) { return d.z; }))
              .enter().append("rect")
                .attr("class", "cell")
                .attr("x", function(d) { return x(d.x); })
                .attr("width", x.rangeBand())
                .attr("height", x.rangeBand())
                .style("fill-opacity", function(d) { return z(d.z); })
                .style("fill", function(d) { return nodes[d.x].group == nodes[d.y].group ? c(nodes[d.x].group) : null; })
                .on("mouseover", mouseover)
                .on("mouseout", mouseout);
          }

          function mouseover(p) {
            d3.selectAll(".row text").classed("active", function(d, i) { return i == p.y; });
            d3.selectAll(".column text").classed("active", function(d, i) { return i == p.x; });
          }

          function mouseout() {
            d3.selectAll("text").classed("active", false);
          }

          d3.select("#order").on("change", function() {
            clearTimeout(timeout);
            order(this.value);
          });

          function order(value) {
            x.domain(orders[value]);

            var t = svg.transition().duration(2500);

            t.selectAll(".row")
                .delay(function(d, i) { return x(i) * 4; })
                .attr("transform", function(d, i) { return "translate(0," + x(i) + ")"; })
              .selectAll(".cell")
                .delay(function(d) { return x(d.x) * 4; })
                .attr("x", function(d) { return x(d.x); });

            t.selectAll(".column")
                .delay(function(d, i) { return x(i) * 4; })
                .attr("transform", function(d, i) { return "translate(" + x(i) + ")rotate(-90)"; });
          }

          var timeout = setTimeout(function() {
            order("group");
            d3.select("#order").property("selectedIndex", 2).node().focus();
          }, 5000);
        });
    
    };
      
    function hieredge(place) {
        //TODO: put in slider to to hide/show edges by weight
        //TODO: change to radial lines
   
      var width = 500
      var height = 500
      var data = [{"name": 1}, {"name": 2}, {"name": 3}, {"name": 4}];
      var radial = radialthing()
          .center([width / 2, height / 2])
          .size([width / 3, height / 3]);
          
      d3.json("{% static 'omics/data/adjacency.json' %}", function(error, graph) {
          
          radial(graph.nodes);
          
          var svg = d3.select("#heatmap1").append("svg")
            .attr("width", width)
            .attr("height", height)
            .append("g");
            
          //console.log(graph.nodes);
          
          svg.selectAll("text")
            .data(graph.nodes).enter()
            .append("text")
            .attr("transform", 
                function(d) { 
                    if(d.y < 250) {
                        return "translate(" + (d.x) + "," + (d.y)+ ")" + "rotate(" + (90.0+((d.x - 250)*0.56)) + ")" + (d.x < 180 ? "" : "rotate(180)"); 
                    } else {
                        return "translate(" + (d.x) + "," + (d.y)+ ")" + "rotate(" + (90.0+((d.x - 250)*0.56)+(416-d.x)) + ")" + (d.x < 180 ? "" : "rotate(180)");
                    }
                })
            .attr("text-anchor", function(d) { return d.x > 180 ? "start" : "end"; })              
            .text(function(d) { return d.id} )
            //.attr("r", 1)
            .attr("id", function(d) {return d.id;} )
            .attr("link","");
            //.attr("fill", "#668866");
    
        svg.selectAll("line")
           .data(graph.links).enter()
           .append("line")
           .style("stroke", "black")   
           .attr("strength", function(d) {return d.value})
           .attr("y1", function(d) {
                            //console.log("getting y");
                            //console.log(d.source);      
                            //console.log("#"+d.source.replace(".","\\."));
                            textnode = d3.select("#"+d.source.replace(".","\\."));
                            //console.log(textnode._groups[0][0].__data__.y);
                            return textnode._groups[0][0].__data__.y;
                            //return 1;
                            })                                      
           .attr("x1", function(d) {
                           // console.log("getting x");
                            //console.log(d.source);
                            //console.log(d3.select("#"+d.source)); 
                            textnode = d3.select("#"+d.source.replace(".","\\."));
                            //console.log(textnode._groups[0][0].__data__.x);
                            return textnode._groups[0][0].__data__.x;
                            })   
           .attr("x2", function(d) {
                            //console.log("getting data");
                            //console.log(d.target);
                            //console.log(d3.select("#"+d.target)); 
                            textnode = d3.select("#"+d.target.replace(".","\\."));
                            //console.log(textnode._groups[0][0].__data__.x);
                            return textnode._groups[0][0].__data__.x;
                            })     
           .attr("y2", function(d) {
                            //console.log("getting data");
                            //console.log(d.target);
                            //console.log(d3.select("#"+d.source)); 
                            textnode = d3.select("#"+d.target.replace(".","\\."));
                            //console.log(textnode._groups[0][0].__data__.x);
                            return textnode._groups[0][0].__data__.y;
                            });        
       });
    };
    
    function recalculate() { // still sending exclusion to back end for safekeeping
        //var response = {data:[{a:1, b:2},{a:2, b:2}]};
        var response = { gene: geneExcludes, mf: mfExcludes, bp: bpExcludes, cc : ccExcludes, cyc: cycExcludes };
        //console.log(response);
        //console.log(currentHeatData.index);
        json_send = JSON.stringify(response); // proper serialization method, read 
                                              // http://ejohn.org/blog/ecmascript-5-strict-mode-json-and-more/
        $.post('{% url "saveexclusion" %}',json_send);   
        //console.log(getGeneList('bp',bpExcludes));    
        bpGenes = getGeneList('bp',bpExcludes)
        ccGenes = getGeneList('cc',ccExcludes)
        mfGenes = getGeneList('mf',mfExcludes)
        geneExcludesCombined = geneExcludes.concat(bpGenes, ccGenes,mfGenes);
        //console.log(geneExcludesCombined);
        
        $('div#heatmap1').empty();         
        //console.log('posted json');
        tempHeatData = JSON.parse(JSON.stringify(currentHeatData))        // cloning is ugly
        for (var i = 0; i < geneExcludesCombined.length; i++) {
            var obj = geneExcludesCombined[i];
            //console.log(obj);
            //console.log(tempHeatData.index.indexOf(obj))
            findit = tempHeatData.index.indexOf(obj)
            if(findit > -1){
                //console.log('removing gene');
                tempHeatData.index.splice(findit,1);
                tempHeatData.data.splice(findit,1);
            }
        }
        //console.log(currentHeatData.index);        
        heatmap_display_data(tempHeatData, "#heatmap1", "seurat",poponto);
        resetHeatHighlights();
    };
    
    function recluster()   { // remember to reload all the page elements since reclustering will change them
        var response = {data:[{a:1, b:2},{a:2, b:2}]};
        
        json_response = JSON.stringify(response); // proper serialization method, read 
                                                  // http://ejohn.org/blog/ecmascript-5-strict-mode-json-and-more/
        $.post('{% url "saveexclusion" %}',json_response);    
        $('div#heatmap1').empty();         
        //console.log('{% url "clusterdata" %}?view=express&cluster='+ currentCluster);
        heatmap_display('{% url "clusterdata" %}?view=express&cluster='+ currentCluster, "#heatmap1", "seurat",poponto);
        //console.log('posted json');
    };
    

/**
* Simple layout for positioning data along a radial ellipse.
*
* Expects an array of objects that need positioning.
* Will add x and y values so that the objects are equally spaced around a
* circle or ellipse (depending on width and height).
*/

  function radialthing() {
  var increment = 0;
  var width = 500;
  var height = 500;
  var taper = 0;
  var center = [0,0];
  var start = -90;

  var current = start;

  var radialLocation = function(center, angle, width, height, taper) {
    return {"x":(center[0] + (width * Math.cos(angle * Math.PI / 180) - taper)),
            "y": (center[1] + (height * Math.sin(angle * Math.PI / 180) + taper))};
  };

  var place = function(obj) {
    var value = radialLocation(center, current, width, height, taper);

    // now it just adds attributes to the object.
    obj.x = value.x;
    obj.y = value.y;
    obj.angle = current;
    //obj.name = 

    current += increment;
    taper += increment;
    taper = Math.min(taper, 0);
    return value;
  };

  var placement = function(objs) {
    increment = 360 / objs.length;

    objs.forEach(function(obj) {
      place(obj);
    });

    return objs;
  };

  placement.center = function(_) {
    if (!arguments.length) {
      return center;
    }
    center = _;
    return placement;
  };

  placement.size = function(_) {
    if (!arguments.length) {
      return [width, height];
    }

    width = _[0];
    height = _[1];

    return placement;
  };

  placement.width = function(_) {
    if (!arguments.length) {
      return width;
    }

    width = _;
    return placement;
  };

  placement.height = function(_) {
    if (!arguments.length) {
      return height;
    }

    height = _;
    return placement;
  };

  placement.start = function(_) {
    if (!arguments.length) {
      return start;
    }
    start = _;
    return placement;
  };

  placement.taper = function(_) {
    if (!arguments.length) {
      return taper;
    }

    taper = _;
    return placement;
  };

  return placement;
};

   
   
        $('div#heatmap1').empty();  
        //$('#jstreeGO').jstree();          
        directgraph('#heatmap1');      
   
}); 
 

</script>
</body>
</html>