{% load static %}

<!DOCTYPE html>
<html>
<head>


    <script src="https://cdnjs.cloudflare.com/ajax/libs/vis/4.20.1/vis.min.js"></script>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/vis/4.20.1/vis.min.css" rel="stylesheet" type="text/css" />
	<script src="https://code.jquery.com/jquery-1.12.4.js">      </script>
	<script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
	<script src="https://d3js.org/d3.v4.min.js"></script>


<style type="text/css">
    #mynetwork,#mynetwork2 {
        width: 300px;
        height: 300px;
        border: 1px solid lightgray;
    }

    #myheat,#myheat2 {
        width: 600px;
        height: 300px;
        border: 1px solid lightgray;
    }    
</style>

<style>
* {
    box-sizing: border-box;
}
.header, .footer {
    background-color: grey;
    color: white;
    padding: 15px;
}

<!-- .right {
	float:right;
    padding: 15px;
}
.left {
	float:left;
    padding: 15px;
} -->
.clearfix::after {
    content: "";
    clear: both;
    display: table;
}
.halfsies {
	width:50%;
    background-color: white;    
}    
.fullrow {
    width:100%;
    height:300;
}

div#divfooter { position: absolute; right: 0; bottom: 0; left: 0; padding: 1rem; background-color: #b1c4c6; text-align: center; }

</style>
</head>
<body>

<div class="header">
  <h1>Interactive Viz</h1>
</div>

<div class="fullrow clearfix">
    <div class="halfsies left" id="mynetwork">
    network1 - cell cycle
        <script type="text/javascript">
            // create an array with nodes
            var nodes = new vis.DataSet([
                {id: 1, label: 'Cell Cycle'},
                {id: 2, label: 'S'},
                {id: 3, label: 'G1'},
                {id: 4, label: 'G2'},
                {id: 5, label: 'M'}
            ]);

            // create an array with edges
            var edges = new vis.DataSet([
                {from: 1, to: 2},
                {from: 1, to: 3},
                {from: 1, to: 4},
                {from: 1, to: 5}
            ]);

            // create a network
            var container = document.getElementById('mynetwork');

            // provide the data in the vis format
            var data = {
                nodes: nodes,
                edges: edges
            };
            var options = {};

            // initialize your network!
            var network = new vis.Network(container, data, options);
            network.on("click", function (params) {
                var nodeID = params['nodes']['0'];
                if (nodeID) {
                    var clickedNode = nodes.get(nodeID);
                    if(clickedNode.color.border == '#000000') {
                        clickedNode.color = {
                            border: '#f44242',
                            background: '#f44242',
                            highlight: {
                                border: '#000000',
                                background: '#000000'
                            }
                        }
                    } else {
                        clickedNode.color = {
                            border: '#000000',
                            background: '#000000',
                            highlight: {
                                border: '#2B7CE9',
                                background: '#D2E5FF'
                            }
                        }   
                    }    
                    nodes.update(clickedNode);
                }
            });            
        </script>
    </div>

    <div class="halfsies right" id="myheat">
    heatmap1 - cell level
    </div>
</div>

<div class="fullrow">
    <div class="halfsies left" id="mynetwork2">
    network2 - family levels
        <script type="text/javascript">
            // create an array with nodes
            var nodes2 = new vis.DataSet([
                {id: 1, label: 'PFam'},
                {id: 2, label: 'Fam1'},
                {id: 3, label: 'Fam2'},
                {id: 4, label: 'Fam3'},
                {id: 5, label: 'Fam4'},
                {id: 6, label: 'Fam5'},
                {id: 7, label: 'Fam6'}                
                
            ]);

            // create an array with edges
            var edges2 = new vis.DataSet([
                {from: 1, to: 2},
                {from: 1, to: 3},
                {from: 1, to: 4},
                {from: 1, to: 5},
                {from: 1, to: 6},
                {from: 1, to: 7},                 
            ]);

            // create a network
            var container2 = document.getElementById('mynetwork2');

            // provide the data in the vis format
            var data2 = {
                nodes: nodes2,
                edges: edges2
            };
            var options2 = {};

            // initialize your network!
            var network2 = new vis.Network(container2, data2, options2);
        </script>
    </div>
</div>

<div class="halfsies right" id="myheat2">
heatmap2 - gene family level

</div>

<div id="divfooter" class="region">
  <div id="divfooterblocks" class="region">
    <!-- default block template -->
    <div id="block-block-25" class="block block-block block-footer-address">
      <p><a href="/">Laboratory for Interactive Human and Computer Analytics - Eli Brown, PhD </a><br />
      <a href="http://www.depaul.edu">DePaul University</a><br />
    </div>
  </div><!-- divfooterregion -->
</div><!-- divfooter -->

<script>

$(document).ready(function() {
  //var canvas = document.getElementById("mynetwork");
  console.log($('#mynetwork canvas').width())
  //$('#mynetwork canvas').width = 100;
  
  //$('#resultstab canvass').width = $("#parent").width();

  //$('#resultstab canvass').height = $("#parent").height();

  //canvas.width = $("#parent").width();
  //canvas.height = $("#parent").height();
  
  var data = [
  {
    z: [[1, 20, 30, 50], [20, 1, 60, 80], [30, 60, 1, -10]],
    x: ['S', 'G1', 'G2', 'M'],
    y: ['c1', 'c2', 'c3'],
    type: 'heatmap'
  }
];

Plotly.newPlot('myheat', data);

  var data = [
  {
    z: [[1, 20, 30, 50, 1], [20, 1, 60, 80, 30], [30, 60, 1, -10, 20]],
    x: ['fam1', 'fam2', 'fam3', 'fam4', 'fam5'],
    y: ['c1', 'c2', 'c3'],
    type: 'heatmap'
  }
];

Plotly.newPlot('myheat2', data);
  
});

</script>

</body>

</html>
