{% load static %}

<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  
    <script src="https://cdnjs.cloudflare.com/ajax/libs/vis/4.20.1/vis.min.js"></script>
    <link   href="https://cdnjs.cloudflare.com/ajax/libs/vis/4.20.1/vis.min.css" rel="stylesheet" type="text/css" />
    
	<script src="https://code.jquery.com/jquery-1.12.4.js"></script> 
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>    
    <link   rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">    
	
   	<script src="https://cdnjs.cloudflare.com/ajax/libs/jstree/3.2.1/jstree.min.js"></script>  	
    <link   rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jstree/3.2.1/themes/default/style.min.css" /> 

    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
    
	<script src="https://d3js.org/d3.v4.min.js"></script>
    <script src="http://colorbrewer2.org/export/colorbrewer.js"></script>    
    
    <script src="{% static 'omics/js/heatmap.js' %}"></script>
    <link   rel="stylesheet" href="{% static 'omics/css/heatmap.css' %}" />
   
    <script src="{% static 'omics/js/jquery.contextMenu.min.js' %}"></script>
    <link   rel="stylesheet" href="{% static 'omics/css/jquery.contextMenu.min.css' %}" />
    
    <script src="{% static 'omics/js/d3pie.min.js' %}"></script>
    <script src="http://d3js.org/colorbrewer.v1.min.js"></script>

    {# {% include "base.css"    %}  #}
    
<style>
    * {
        box-sizing:border-box;
    }
    .gridwrapper {
        overflow:auto;
        position:relative;
        height:250px;
    }
    .gridcontent {
        width:8.33%;
        margin:0;
        border-right:1px solid grey;
        height:100%;
        float:left;
        background-color:#84c754;
        background-color:#f1f1f1;
    }
    fieldset {
      border: 0;
    }
    label {
      display: block;
      margin: 5px 0 0 0;
    }
    div#banner-content { width: 800px; margin: 0 auto;  padding: 10px;  background-color: #b1c4c6; border: 1px solid #000;  }
    div#divfooter      { position: fixed; right: 0; bottom: 0; left: 0; padding: 1rem; background-color: #b1c4c6; text-align: center; }

    .jstree-anchor {
		/*enable wrapping*/
		white-space : normal !important;
		/*ensure lower nodes move down*/
		height : auto !important;
		/*offset icon width*/
		padding-right : 24px;
	}		
    
    .jstree-anchor {
      display: inline-block;
      color: black;
      white-space: nowrap;
      padding: 0 4px 0 1px;
      margin: 0;
      vertical-align: top;
    }
    
    .jstree-anchor-exclude {
      color: grey;
      display: inline-block;
      white-space: nowrap;
      padding: 0 4px 0 1px;
      margin: 0;
      vertical-align: top;      
    }
    
    .links line {
      stroke: #999;
      stroke-opacity: 0.6;
    }

    .nodes circle {
      stroke: #fff;
      stroke-width: 1.5px;
    }
    
</style>
        <title>LIHCA Single Cell Omics Workbench</title>
</head>
<body>

<div style="position:absolute;opacity:0.9;width:auto;left:10px;right:10px;">
    <div class="gridcontainer">
        <div class="gridwrapper" name="header"     style="height:90px;">
            <div class="gridcontent" style="width:100%;background-color: #b1c4c6;border-right-color:transparent;">
                <div id="banner">
                    <div id="banner-content">
                    <h1>Single Cell Omics Workbench</h1>
                    </div>
                </div>   
            </div>      
        </div>
        <div class="gridwrapper" name="selections" style="height:40px;">
          <div class="gridcontent"  style="background-color:#ffffff;border:none;               width:10%;padding-top:5px;">
            <a href="base.html">Workflow</a>
          </div>      
          <div class="gridcontent" id="mychoices"  style="background-color:#ffffff;border:none;width:15%;padding-top:5px;">
                <form action="#">          
                        <select name="data" id="dataselect">
                          <option>All Data</option>
                          <option selected="selected">Cluster1</option>
                          <option>Cluster2</option>
                          <option>Cluster3</option>
                        </select>
                </form>
          </div>
          <div class="gridcontent" id="mychoices2" style="background-color:#ffffff;border:none;width:15%;padding-top:5px;">
                <form action="#">          
                        <select name="bias" id="biasselect">
                          <option selected="selected">Chromosome</option>
                          <option>Zero Counts</option>
                          <option>Technical Noise</option>
                          <option>GC Bias</option> 
                          <option>Splice Variants (Isoforms)</option>  
                          <option>Reference</option>
                        </select>
                </form>
          </div>
          <div class="gridcontent"  style="background-color:#ffffff;border:none;               width:20%;padding-top:5px;">
                <form action="#">          
                        <select name="ontology" id="ontologyselect"  >
                          <option selected="selected">Expression</option>
                          <option>Transcripts</option>
                          <option>Cell Cycle</option>
                          <option>Regulation</option>
                        </select>
                </form>          
          </div>
          <div class="gridcontent"  style="background-color:#ffffff;border:none;               width:20%;padding-top:5px;"></div>
          <div class="gridcontent"  style="background-color:#ffffff;border:none;               width:20%;padding-top:5px;">
            <button id="recluster">Recluster</button>
          </div>
        </div>  
        <div class="gridwrapper" name="uppergraphs" id = "uppergraphs" style="height:800px;">  
          <div class="gridcontent" id="mynetwork" style="background-color:#ffffff;border:none;width:15%;padding-top:25px;">
          </div>
          <div class="gridcontent" id="mysomething" style="background-color:#ffffff;border:none;width:25%;padding-top:5px;height:400px">
          
          </div>
          <div class="gridcontent" id="mysomething2" style="background-color:#ffffff;border:none;width:20%;padding-top:35px;">
			<div id="jstreeGO" name="jstreeGO">
				<ul>
					<li>Biological Process
						<ul>
							<li><a href = "https://www.ebi.ac.uk/QuickGO/term/GO:0004672">GO:0044550 secondary metabolite biosynthetic process</a></li>
							<li>Cellular Apoptosis</li>
							<li>Transcription</li>
                            <li>Citric Acid Cycle</li>
                            <li>mitotic cell cycle</li>
						</ul>
					</li>
					<li>Cellular Component
						<ul>
							<li>cytoplasmic chromosome</li>
							<li>proteinaceous extracellular matrix</li>
							<li>lysosome</li>
						</ul>
					</li>	
					<li>Molecular Function
						<ul>
							<li>protein kinase activity</li>
							<li>transcription factor binding</li>
							<li>methyltransferase activity</li>
							<li><a href = "https://www.rcsb.org/pdb/ngl/ngl.do?pdbid=1ETE">FLT3</a></li>
						</ul>
					</li>
					<li>Cell Cycle
						<ul>
							<li>G1</li>
							<li>G2</li>
							<li>S</li>
							<li>M</a></li>
						</ul>
					</li>                    
					<li>Gene Level
						<ul>
                            <li>APOC1</li>
                            <li>SNHG12</li>
                            <li>BCL2A1</li>
                            <li>GADD45B</li>
                            <li>NDUFB9</li>
                            <li>S100A4</li>
                            <li>MTRNR2L2</li>
                            <li>NCAPH</li>
                            <li>CIR1</li>
                            <li>IER3</li>
                            <li>CCL22</li>
                            <li>TIMP3</li>
                            <li>IL1RN</li>
                            <li>FGL2</li>
                            <li>ALDH1A2</li>
                            <li>CCL1</li>
                            <li>GREM1</li>
                            <li>CTD-2319I12.1</li>
                            <li>IL7R</li>
                            <li>FABP4</li>
                            <li>SOD2</li>
                            <li>GRINA</li>
                            <li>TNFAIP6</li>
                            <li>C15orf48</li>
                            <li>CD14</li>
                            <li>NUPR1</li>
                            <li>PTAFR</li>
                            <li>AKR1C1</li>
                            <li>FUCA1</li>
                            <li>S100A8</li>                            
						</ul>
					</li>
				</ul>
			</div>          
          </div>          
          <div class="gridcontent" id="myheat" style="background-color:#ffffff;border:none;width:40%;padding-top:5px;">
            <div id="heatmap1"></div>
          </div>
        </div>
        <div class="gridwrapper" name="selections2" style="height:35px;">
          <div class="gridcontent"  style="background-color:#ffffff;border:none;               width:10%;padding-top:15px;">
          </div>      
          <div class="gridcontent" id="mychoices"  style="background-color:#ffffff;border:none;width:15%;padding-top:15px;">
                <form action="#">          
                        <select name="data2" id="dataselect">
                          <option>All Data</option>
                          <option selected="selected">Cluster1</option>
                          <option>Cluster2</option>
                          <option>Cluster3</option>
                        </select>
                </form>
          </div>
          <div class="gridcontent" id="mychoices2" style="background-color:#ffffff;border:none;width:15%;padding-top:15px;">
                <form action="#">          
                        <select name="bias2" id="biasselect">
                          <option selected="selected">Non-Linear</option>
                          <option>Read Length</option>
                          <option>Technical Noise</option>
                          <option>Drop Outs</option> 
                          <option>Chromosome</option> 
                          <option>Splice Variants (Isoforms)</option>  
                          <option>Differential</option>
                          <option>IncRNA</option>
                          <option>LincRNA</option>
                          <option>PseudoGenes</option>
                          <option>poly-adenylation</option>                          
                        </select>
                </form>
          </div>
          <div class="gridcontent"  style="background-color:#ffffff;border:none;               width:20%;padding-top:15px;">
                <form action="#">          
                        <select name="ontology2" id="ontologyselect">
                          <option selected="selected">Expression</option>
                          <option>Transcripts</option>
                          <option>Cell Cycle</option>
                          <option>Regulation</option>
                        </select>
                </form>          
          </div>
          <div class="gridcontent"  style="background-color:#ffffff;border:none;               width:20%;padding-top:15px;"></div>
          <div class="gridcontent"  style="background-color:#ffffff;border:none;               width:20%;padding-top:15px;">
            <button id="recluster">Recalculate</button>
          </div>
        </div>        
        <div class="gridwrapper" name = "lowergraphs" style="height:400px;">
            <div class="gridcontent" id="mynetwork2" style="background-color:#ffffff;border:none;width:33%;padding-top:15px;">
                 <script>
                var pie = new d3pie("mynetwork2", {
                "header": {
                    "title": {
                        "text": "Cell Cycle Percents",
                        "fontSize": 12,
                        "font": "open sans"
                    },
                    //"subtitle": {
                    //	"text": "A full pie chart to show off label collision detection and resolution.",
                    //	"color": "#999999",
                    //	"fontSize": 12,
                    //	"font": "open sans"
                    //},
                    "titleSubtitlePadding": 0
                },
                "footer": {
                    "color": "#999999",
                    "fontSize": 10,
                    "font": "open sans",
                    "location": "bottom-left"
                },
                "size": {
                    "canvasWidth": 300,
                    "pieOuterRadius": "90%",
                    "canvasHeight":300
                },
                "data": {
                    "sortOrder": "value-desc",
                    "content": [
                        {
                            "label": "S",
                            "value": 25,
                            "color": "#2484c1"
                        },
                        {
                            "label": "G1",
                            "value": 10,
                            "color": "#0c6197"
                        },
                        {
                            "label": "G2",
                            "value": 35,
                            "color": "#4daa4b"
                        },
                        {
                            "label": "M",
                            "value": 30,
                            "color": "#90c469"
                        }
                    ]
                },
                "labels": {
                    "outer": {
                        "pieDistance": 10
                    },
                    "inner": {
                        "hideWhenLessThanPercentage": 3
                    },
                    "mainLabel": {
                        "fontSize": 11
                    },
                    "percentage": {
                        "color": "#ffffff",
                        "decimalPlaces": 0
                    },
                    "value": {
                        "color": "#adadad",
                        "fontSize": 11
                    },
                    "lines": {
                        "enabled": true
                    },
                    "truncation": {
                        "enabled": true
                    }
                },
                "effects": {
                    "load": {
                        "effect": "none"
                    },
                    "pullOutSegmentOnClick": {
                        "effect": "none",
                        "speed": 400,
                        "size": 8
                    }
                },
                "misc": {
                    "gradient": {
                        "enabled": true,
                        "percentage": 100
                    }
                }
            });
            </script>

            </div>
            <div class="gridcontent" id="mysomething" style="background-color:#ffffff;border:none;width:33%;padding-top:15px;"></div>
            <div class="gridcontent" id="myheat2" style="background-color:#ffffff;border:none;width:33%;padding-top:15px;">
                <div id="heatmap2"></div>
            </div>
        </div>
    </div>


    <div class="gridcontainer" style="opacity:0.1;">
        <div class="gridwrapper" style="height:370px;">
          <div class="gridcontent" style="background-color:#ffffff;border-right:1px solid #000000;border-left:1px solid #000000;"></div>
          <div class="gridcontent" style="background-color:#ffffff;border-right:1px solid #000000;"></div>
          <div class="gridcontent" style="background-color:#ffffff;border-right:1px solid #000000;"></div>
          <div class="gridcontent" style="background-color:#ffffff;border-right:1px solid #000000;"></div>
          <div class="gridcontent" style="background-color:#ffffff;border-right:1px solid #000000;"></div>
          <div class="gridcontent" style="background-color:#ffffff;border-right:1px solid #000000;"></div>
          <div class="gridcontent" style="background-color:#ffffff;border-right:1px solid #000000;"></div>
          <div class="gridcontent" style="background-color:#ffffff;border-right:1px solid #000000;"></div>
          <div class="gridcontent" style="background-color:#ffffff;border-right:1px solid #000000;"></div>
          <div class="gridcontent" style="background-color:#ffffff;border-right:1px solid #000000;"></div>
          <div class="gridcontent" style="background-color:#ffffff;border-right:1px solid #000000;"></div>
          <div class="gridcontent" style="background-color:#ffffff;border-right:1px solid #000000;"></div>
        </div>
    </div>
</div>

		{% include "omics/footer.html"   %} 
        
<script>

$(function () {

    var geneExcludes = [];
    var mfExcludes   = [];
    var bpExcludes   = [];
    var ccExcludes   = [];
    var cycExcludes  = [];
    
    console.log("starting script");

    var classesNumber = 10,
        cellSize = 24;
    
    colorbrewer["seurat"] = {12:["#800080", "#690c68", "#511151", "#3c113a" ,"#270f25", "#120611", "#1b1a0b", "#424116", "#6d6c1a", "#9c9a1b", "#cccb16", "#ffff00"]};
    console.log(colorbrewer)
    console.log(colorbrewer["seurat"][12])
    
    function customMenu(node) {
        // The default set of all items
        console.log(node);
        var nodep = '';
        var items = {
            lookupItem1: {
                label:"Lookup Ensembl",
                action: function () {
                    console.log("Lookup1");
                    var url = "http://useast.ensembl.org/Human/Search/Results?q=" + node.text + ";site=ensembl;facet_species=Human"
                    $("<a>").attr("href", url).attr("target", "_blank")[0].click();
                }
            },
            lookupItem2: {
                label:"Lookup Panther",
                action: function () {
                    console.log("Lookup2");
                    var url = "http://pantherdb.org/genes/geneList.do?searchType=basic&fieldName=all&organism=all&listType=1&fieldValue=" + node.text                     
                    $("<a>").attr("href", url).attr("target", "_blank")[0].click();
                }
            },            
            lookupItem3: {
                label:"Lookup AmiGO2",
                action: function () {
                    console.log("Lookup3");
                    var url = "http://amigo.geneontology.org/amigo/search/bioentity?q=" + node.text                     
                    $("<a>").attr("href", url).attr("target", "_blank")[0].click();
                }
            },                     
            lookupItem4: {
                label:"Lookup Term",
                action: function () {
                    console.log("Lookup4");
                    var url = "http://amigo.geneontology.org/amigo/search/ontology?q=" + node.text.replace(" ","+")                     
                    $("<a>").attr("href", url).attr("target", "_blank")[0].click();
                }
            },               
            //http://amigo.geneontology.org/amigo/search/ontology?q=protein%20kinase%20activity
            includeItem: { 
                label: "Include",
                action: function () {
                    console.log('include')
                    console.log(node);                

                    console.log(node.parent)

                    nodep = $('#jstreeGO').jstree(true).get_node(node.parent).text
                    //console.log(nodep)
                    if ( nodep.indexOf("Gene Level" ) > -1) {
                        if ( geneExcludes.includes(node.text) ==true) {
                            geneExcludes.splice(geneExcludes.indexOf(node.text),1)
                            $("#"+node.id + "_anchor").css("color","black");                            
                        }
                        console.log(geneExcludes);
                    }
                    if ( nodep.indexOf("Biological Process" ) > -1) {
                        if ( bpExcludes.includes(node.text) ==true) {
                           bpExcludes.splice(bpExcludes.indexOf(node.text),1)
                           $("#"+node.id + "_anchor").css("color","black");                            
                        }
                        console.log(bpExcludes);
                    }
                    if ( nodep.indexOf("Cellular Component" ) > -1) {
                        if ( ccExcludes.includes(node.text) ==true) {
                            ccExcludes.splice(ccExcludes.indexOf(node.text),1)
                            $("#"+node.id + "_anchor").css("color","black");                             
                        }
                        console.log(ccExcludes);
                    }
                    if ( nodep.indexOf("Molecular Function" ) > -1) {
                        if ( mfExcludes.includes(node.text) ==true) {
                            mfExcludes.splice(mfExcludes.indexOf(node.text),1)
                            $("#"+node.id + "_anchor").css("color","black");                             
                        }
                        console.log(mfExcludes);
                    }               
                    if ( nodep.indexOf("Cell Cycle" ) > -1) {
                        if ( cycExcludes.includes(node.text) ==true) {
                            cycExcludes.splice(cycExcludes.indexOf(node.text),1)
                            $("#"+node.id + "_anchor").css("color","black");                             
                        }
                        console.log(cycExcludes);
                    }                    
                    //$(this).find('a').addClass('active');
                }
            },
            excludeItem: { 
                label: "Exclude",
                action: function () {
                    console.log('exclude');
                    console.log(node.parent)
                    //console.log($('#jstreeGO').jstree(true).get_node(node.parent).text);
                    nodep = $('#jstreeGO').jstree(true).get_node(node.parent).text
                    console.log("|" + nodep + "|")
                    if ( nodep.indexOf("Gene Level") > -1)  {
                        if(geneExcludes.includes(node.text) == false){
                            geneExcludes.push(node.text);
                            console.log(node);
                            console.log(node.id+"_anchor");
                            //nodeid = $(this).parent().attr("id").split("_")[1];
                            $("#"+node.id + "_anchor").css("color","red");                            
                        }    
                        console.log(geneExcludes);
                    }
                    if ( nodep.indexOf("Biological Process" ) > -1) {
                        if(bpExcludes.includes(node.text) == false){
                            bpExcludes.push(node.text);
                            $("#"+node.id + "_anchor").css("color","red");                            
                        }    
                        console.log(bpExcludes);
                    }
                    if ( nodep.indexOf("Cellular Component" ) > -1) {
                        if(ccExcludes.includes(node.text) == false){
                            ccExcludes.push(node.text);
                            $("#"+node.id + "_anchor").css("color","red");                            
                        }    
                        console.log(ccExcludes);
                    }
                    if ( nodep.indexOf("Molecular Function" )  > -1) {
                        if(mfExcludes.includes(node.text) == false){
                            mfExcludes.push(node.text);
                            $("#"+node.id + "_anchor").css("color","red");                            
                        }    
                        console.log(mfExcludes);
                    }                    
                    if ( nodep.indexOf("Cell Cycle" )  > -1) {
                        if(cycExcludes.includes(node.text) == false){
                            cycExcludes.push(node.text);
                            $("#"+node.id + "_anchor").css("color","red");                            
                        }    
                        console.log(cycExcludes);
                    }        
                    //console.log(node.querySelector("a"));
                }
            }
        }
        console.log(node.parent);
        if ( node.parent == "#") {
            delete items.includeItem;
            delete items.excludeItem;
            delete items.lookupItem1;
            delete items.lookupItem2;
            delete items.lookupItem3;          
            delete items.lookupItem4;
            return items;
        }      
        nodep = $('#jstreeGO').jstree(true).get_node(node.parent).text
        console.log("|" + nodep + "|")
        flagged = false;
        
        if (nodep.indexOf("Gene Level") == -1) {
            delete items.lookupItem1;
            delete items.lookupItem2;
            delete items.lookupItem3;     
        }
        if (nodep.indexOf("Gene Level") > -1) {
            delete items.lookupItem4;
        }
             
        if ( (nodep.indexOf("Gene Level") > -1) && geneExcludes.includes(node.text)) {
            flagged = true;
        }
        if ( ( nodep.indexOf("Cellular Component" ) > -1) && ccExcludes.includes(node.text)) {
            flagged = true;        
        }
        if ( ( nodep.indexOf("Molecular Function" ) > -1 ) && mfExcludes.includes(node.text)) {
            flagged = true;
        }
        if (( nodep.indexOf("Biological Process" ) > -1) && bpExcludes.includes(node.text)) {
            flagged = true;
        }       
        if (( nodep.indexOf("Cell Cycle" ) > -1) && cycExcludes.includes(node.text)) {
            flagged = true;
        }         
        if ( flagged == true) {
            delete items.excludeItem;
        } else {
            delete items.includeItem;        
        }
        
        return items;
    };
    
        $('#jstreeGO').jstree({plugins: ["contextmenu"], contextmenu: {items: customMenu}});    
        
        
        //$( "#ontologyselect" ).selectmenu();        
        $('#ontologyselect').on('change',function(){
            var datain = 'before load'
            if(this.value == "Cell Cycle"){
                $('div#heatmap1').empty();  
                //heatmap_display("{% static 'omics/data/heatdatacycle.json' %}", "#heatmap1", "Spectral");  
                heatmap_display('{% url "clusterdata" %}?view=cc&cluster=1', "#heatmap1", "seurat");                  
            };
            if(this.value == "Regulation"){
                $('div#heatmap1').empty();  
                directgraph("#heatmap1");             
            };    
            if(this.value == "Expression") {
                $('div#heatmap1').empty();
                heatmap_display('{% url "clusterdata" %}?view=express&cluster=1', "#heatmap1", "seurat");
            };
        });
      
        //$(     "#dataselect" ).selectmenu();
        $('#dataselect').on('change',function(){
            console.log('selected data');
        });      

        //$(     "#biasselect" ).selectmenu();
        $('#biasselect').on('change',function(){
            console.log('selected bias');
            if(this.value == "Chromosome") {

                Plotly.newPlot('mysomething', bardata, layout, {displayModeBar: false});
            };      
            if(this.value == "Reference") {
                Plotly.newPlot('mysomething', bardata2, layout2, {displayModeBar: false});   
            }        
        });        
  
        //$(     "#recluster" ).selectmenu();
        $('#recluster').on('click',function(){
            console.log('recluster');
        });     
        
      //var canvas = document.getElementById("mynetwork");
      //console.log($('#mynetwork canvas').width())
      //$('#mynetwork canvas').width = 100;
      
      //$('#resultstab canvass').width = $("#parent").width();

      //$('#resultstab canvass').height = $("#parent").height();

      //canvas.width = $("#parent").width();
      //canvas.height = $("#parent").height();
      
      var bardata = [
      {
        x: ["1", "2", "3", "4", "5", "6", "7", "8", "9", "10", "11", "12", "13", "14", "15", "16", "17", "18", "19", "20", "21", "22", "X", "Y"],
        y: [150, 130, 45, 340, 90	, 10, 9	, 70, 100	, 130	, 120, 100, 175	, 25	, 40	, 34	, 234, 21, 150, 27	, 125	, 225, 230, 2],
        type: 'bar',
        name: 'hits'
      },
      {
        x: ["1", "2", "3", "4", "5", "6", "7", "8", "9", "10", "11", "12", "13", "14", "15", "16", "17", "18", "19", "20", "21", "22", "X", "Y"],
        y: [2000, 1300, 1000, 1000, 900	, 1000, 900	, 700	, 800	, 700	, 1300, 1100, 300	, 800	, 600	, 800	, 1200, 200	, 1500, 500	, 200	, 500, 800, 50],
        type: 'bar',
        name: 'tot genes'
      }];

        var layout = {
            title: 'Hits Per Chromosome',
            showlegend: true
        };

      var bardata2 = [
      {
        x: ["APOC1","SNHG12","BCL2A1","GADD45B","NDUFB9","S100A4","MTRNR2L2","NCAPH","CIR1","IER3","CCL22","TIMP3",
            "IL1RN","FGL2","ALDH1A2","CCL1","GREM1","CTD-2319I12.1","IL7R","FABP4","SOD2","GRINA","TNFAIP6",
            "C15orf48","CD14","NUPR1","PTAFR","AKR1C1","FUCA1","S100A8"],        
        y: [150, 130, 45, 340, 90	, 10, 9	, 700, 100	, 130	, 120, 100, 175	, 2500	, 40	, 34	, 234, 21, 150, 27	, 125	, 225, 230, 2],
        type: 'bar',
        name: 'Expressed'
      },
      {
        x: ["APOC1","SNHG12","BCL2A1","GADD45B","NDUFB9","S100A4","MTRNR2L2","NCAPH","CIR1","IER3","CCL22","TIMP3",
            "IL1RN","FGL2","ALDH1A2","CCL1","GREM1","CTD-2319I12.1","IL7R","FABP4","SOD2","GRINA","TNFAIP6",
            "C15orf48","CD14","NUPR1","PTAFR","AKR1C1","FUCA1","S100A8"],
        y: [10, 1300, 10, 1000, 900	, 1000, 90	, 700	, 800	, 700	, 130, 100, 300	, 800	, 600	, 800	, 1200, 200	, 1500, 500	, 200	, 500, 800, 50],
        type: 'bar',
        name: 'Healthy Tissue'
      }];

        var layout2 = {
            title: 'Tissue Expression Comparison',
            showlegend: true
        };
        
      Plotly.newPlot('mysomething', bardata, layout, {displayModeBar: false});
      
      var data = [
      {
        z: [[1, 20, 30, 50], [20, 1, 60, 80], [30, 60, 1, -10]],
        x: ['S', 'G1', 'G2', 'M'],
        y: ['c1', 'c2', 'c3'],
        type: 'heatmap'
      }];


    
        //Plotly.newPlot('myheat', data);

      var data = [
      {
        z: [[1, 20, 30, 50, 1], [20, 1, 60, 80, 30], [30, 60, 1, -10, 20]],
        x: ['fam1', 'fam2', 'fam3', 'fam4', 'fam5'],
        y: ['c1', 'c2', 'c3'],
        type: 'heatmap'
      }];

        // jquery UI stuff



        $("#recluster" ).button();
        
        //{% static 'omics/js/heatmap.js' %}
        heatmap_display('{% url "clusterdata" %}?view=express&cluster=1', "#heatmap1", "seurat");
        //heatmap_display("{% static 'omics/data/metrics1.json' %}", "#heatmap2", "Spectral");

        
        //Plotly.newPlot('myheat2', data);
        //$("#uppergraphs").height(1000);

        var pie = new d3pie("mynetwork", {
        header: {
            title: {
                text: "Cell Cycle Percents",
                fontSize: 12,
                font: "open sans"
            },
            titleSubtitlePadding: 0
        },
        footer: {
            color: "#999999",
            fontSize: 10,
            font: "open sans",
            location: "bottom-left"
        },
        size: {
            canvasWidth: 200,
            pieOuterRadius: "90%",
            canvasHeight:200
        },
        data: {
            sortOrder: "value-desc",
            content: [
                {
                    label: "S",
                    "value": 25,
                    color: "#2484c1"
                },
                {
                    label: "G1",
                    value: 10,
                    color: "#0c6197"
                },
                {
                    label: "G2",
                    value: 35,
                    color: "#4daa4b"
                },
                {
                    label: "M",
                    value: 30,
                    color: "#90c469"
                }
            ]
        },
        labels: {
            outer: {
                pieDistance: 10
            },
            inner: {
                hideWhenLessThanPercentage: 3
            },
            mainLabel: {
                fontSize: 11
            },
            percentage: {
                color: "#ffffff",
                decimalPlaces: 0
            },
            value: {
                color: "#adadad",
                fontSize: 11
            },
            lines: {
                enabled: true
            },
            truncation: {
                enabled: true
            }
        },
        effects: {
            load: {
                effect: "none"
            },
            pullOutSegmentOnClick: {
                effect: "bounce",
                speed: 400,
                size: 8
            }
        },
        callbacks : {
            onClickSegment : function(a) { 
                //alert('Segment clicked! See the console for all data passed to the click handler.'); 
                console.log(a.data.label);
                
            }},                    
        misc: {
            gradient: {
                enabled: true,
                percentage: 100
            }
        }
        }); 
      

    //ontologyMap("myType", "#heatmap1");
    
    function directgraph(place) {
        console.log("force Graph");
        var viewerWidth = 600;
        var viewerHeight = 500;
        var width = viewerWidth;
        var height = viewerHeight;
        var viewerPosTop = 50;
        var viewerPosLeft = 50;    
        
        svg = d3.select(place).append("svg")
        .attr("width", viewerWidth)
        .attr("height", viewerHeight)
        //.call(zoomListener)
        .append("g")
        .attr("transform", "translate(" + viewerPosLeft + "," + viewerPosTop + ")");
            
        //var svg = d3.select("heatmap1"),
        //width = +svg.attr("width"),
        //height = +svg.attr("height");

        var color = d3.scaleOrdinal(d3.schemeCategory20);

        var simulation = d3.forceSimulation()
        .force("link", d3.forceLink().id(function(d) { return d.id; }))
        .force("charge", d3.forceManyBody())
        .force("center", d3.forceCenter(width / 2, height / 2));

        d3.json("{% static 'omics/data/miserables.json' %}", function(error, graph) {
      if (error) throw error;

      var link = svg.append("g")
          .attr("class", "links")
        .selectAll("line")
        .data(graph.links)
        .enter().append("line")
          .attr("stroke-width", function(d) { return Math.sqrt(d.value); });

      var node = svg.append("g")
          .attr("class", "nodes")
        .selectAll("circle")
        .data(graph.nodes)
        .enter().append("circle")
          .attr("r", 5)
          .attr("fill", function(d) { return color(d.group); })
          .call(d3.drag()
              .on("start", dragstarted)
              .on("drag", dragged)
              .on("end", dragended));

      node.append("title")
          .text(function(d) { return d.id; });

      simulation
          .nodes(graph.nodes)
          .on("tick", ticked);

      simulation.force("link")
          .links(graph.links);

          function ticked() {
            link
                .attr("x1", function(d) { return d.source.x; })
                .attr("y1", function(d) { return d.source.y; })
                .attr("x2", function(d) { return d.target.x; })
                .attr("y2", function(d) { return d.target.y; });

            node
                .attr("cx", function(d) { return d.x; })
                .attr("cy", function(d) { return d.y; });
          }
        });

        function dragstarted(d) {
          if (!d3.event.active) simulation.alphaTarget(0.3).restart();
          d.fx = d.x;
          d.fy = d.y;
        }

        function dragged(d) {
          d.fx = d3.event.x;
          d.fy = d3.event.y;
        }

        function dragended(d) {
          if (!d3.event.active) simulation.alphaTarget(0);
          d.fx = null;
          d.fy = null;
        }
      };  
    
	});    
    
</script>
</body>
</html>