{% load static %}

<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  
    <script src="https://cdnjs.cloudflare.com/ajax/libs/vis/4.20.1/vis.min.js"></script>
    <link   href="https://cdnjs.cloudflare.com/ajax/libs/vis/4.20.1/vis.min.css" rel="stylesheet" type="text/css" />
    
	<script src="https://code.jquery.com/jquery-1.12.4.js"></script> 
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>    
    <link   rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">    
	
   	<script src="https://cdnjs.cloudflare.com/ajax/libs/jstree/3.2.1/jstree.min.js"></script>  	
    <link   rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jstree/3.2.1/themes/default/style.min.css" /> 

    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
    
	<script src="https://d3js.org/d3.v4.min.js"></script>
    <script src="http://colorbrewer2.org/export/colorbrewer.js"></script>    
    
    <script src="{% static 'omics/js/heatmap.js' %}"></script>
    <link   rel="stylesheet" href="{% static 'omics/css/heatmap.css' %}" />
   
    <script src="{% static 'omics/js/jquery.contextMenu.min.js' %}"></script>
    <link   rel="stylesheet" href="{% static 'omics/css/jquery.contextMenu.min.css' %}" />
    
    <script src="{% static 'omics/js/d3pie.min.js' %}"></script>
    <script src="http://d3js.org/colorbrewer.v1.min.js"></script>
    
    <script type="text/javascript" language="javascript" src="https://reactome.org/FireworksJs/fireworks/fireworks.nocache.js"></script>

    {# {% include "base.css"    %}  #}
    
<style>
    * {
        box-sizing:border-box;
    }
    .gridwrapper {
        overflow:auto;
        position:relative;
    }
    <!-- .gridcontent { -->
        <!-- width:8.33%; -->
        <!-- margin:0; -->
        <!-- border-right:1px solid grey; -->
        <!-- height:100%; -->
        <!-- float:left; -->
        <!-- background-color:#84c754; -->
        <!-- background-color:#f1f1f1; -->
    <!-- } -->
    .gridcontent {
        width:8.33%;
        margin:1;
        height:100%;
        float:left;
        background-color:#84c754;
        background-color:#f1f1f1;
    }    
    fieldset {
      border: 0;
    }
    label {
      display: block;
      margin: 5px 0 0 0;
    }
    div#banner-content { width: 800px; margin: 0 auto;  padding: 10px;  background-color: #b1c4c6; border: 1px solid #000;  }
    <!-- div#divfooter      { position: fixed; right: 0; bottom: 0; left: 0; padding: 1rem; background-color: #b1c4c6; text-align: center; } -->
    div#divfooter      { right: 0; bottom: 0; left: 0; padding: 1rem; background-color: #b1c4c6; text-align: center;  clear: both;}
    
    .jstree-anchor {
		/*enable wrapping*/
		white-space : normal !important;
		/*ensure lower nodes move down*/
		height : auto !important;
		/*offset icon width*/
		padding-right : 24px;
	}		
    
    .jstree-anchor {
      display: inline-block;
      color: black;
      white-space: nowrap;
      padding: 0 4px 0 1px;
      margin: 0;
      vertical-align: top;
    }
    
    .jstree-anchor-exclude {
      color: grey;
      display: inline-block;
      white-space: nowrap;
      padding: 0 4px 0 1px;
      margin: 0;
      vertical-align: top;      
    }
    
    .links line {
      stroke: #999;
      stroke-opacity: 0.6;
    }

    .nodes circle {
      stroke: #fff;
      stroke-width: 1.5px;
    }
    
</style>
        <title>LIHCA Single Cell Omics Workbench</title>
</head>
<body>

<div style="position:absolute;opacity:0.9;width:auto;left:10px;right:10px;">
    <div class="gridcontainer" name = "divabove" id="divabove">
        <div class="gridwrapper" name="header"     style="height:95px;">
            <div class="gridcontent" style="width:100%;background-color: #b1c4c6;border-right-color:transparent;">
                <div id="banner">
                    <div id="banner-content">
                    <h1>Single Cell Omics Workbench</h1>
                    </div>
                </div>   
            </div>      
        </div>
        <div class="gridwrapper" name="selections" style="height:45px; border: 1px solid Gainsboro;">
          <div class="gridcontent"  style="background-color:#ffffff;border:none;                    width:10%;padding-top:5px;">
            <a href="base.html">Workflow</a>
          </div>               
          <div class="gridcontent" id="clusterchoice"  style="background-color:#ffffff;border:none; width:15%;padding-top:5px;">
                <form action="#">          
                        <select name="data" id="dataselect">
                          <option selected="selected">1</option>
                          <option>2</option>
                          <option>3</option>
                        </select>
                </form>
          </div> 
          <div class="gridcontent"  style="background-color:#ffffff;border:none;                    width:20%;padding-top:5px;"></div>

        </div>  
        <div class="gridwrapper" name="heatonto" style="height:600px; border: 1px solid Gainsboro;">
      
            <div class="gridcontent" id="dummy1"    style="background-color:#ffffff;border: 1px solid Gainsboro;width:15%;padding-top:5px;">
                <center><h3>Ontology Tree</h3></center>
                <hr>
                <div class="gridcontent"  style="background-color:#ffffff;border:none;                    width:50%;padding-top:5px; height:10%;">
                    <center><button id="recalculate">Redraw</button></center>
                </div>          
                <div class="gridcontent"  style="background-color:#ffffff;border:none;                    width:50%;padding-top:5px; height:10%;">
                    <center><button id="recluster">Recluster</button></center>
                </div>                  
                <div id="jstreeGO" name="jstreeGO" style="background-color:#ffffff;border:none;   clear:both; width:100%;padding-top:5px; height:90%;" >
                </div>                  
            </div>
            <div class="gridcontent" id="dummy2"    style="background-color:#ffffff;border: 1px solid Gainsboro;width:70%;padding-top:5px;">
                <div class="gridwrapper" name="onto" style="height:100%">
                    <div class="gridcontent" id="dummy3" style="background-color:#ffffff;border: none; height:10%; width:100%; ">                
                        <center><form action="#">          
                                <select name="ontology" id="ontologyselect"  >
                                  <option selected="selected">Expression</option>
                                  <option>Transcripts</option>
                                  <option>Cell Cycle</option>
                                  <option>Regulation</option>
                                  <option>Pathway</option>                                  
                                </select>
                        </form></center>      
                    </div>
                    <div class="gridcontent" id="dummy4" style="background-color:#ffffff;border: none; height:90%; width:100%; padding-top:5px;">                
                        <div style="height:100%;padding-top:5px;">
                            <div id="heatmap1"></div>
                        </div>
                    </div>
                </div>
            </div>            
            <div class="gridcontent" id="ontospace" style="background-color:#ffffff;border: 1px solid Gainsboro;width:15%;padding-top:5px;">
            </div>
        </div>
        <div class="gridwrapper" name="uppergraphs" id = "uppergraphs" style="height:300px;">  
            <div class="gridcontent" id="mynetwork" style="background-color:#ffffff;border: 1px solid Gainsboro;width:50%;padding-top:5px;">
                <center><form action="#">          
                        <select name="bias" id="biasselect">
                          <option selected="selected">Chromosome</option>
                          <option>Reference</option>
                          <option>Cell Cycle</option>
                          <option>Zero Counts</option>
                          <option>Technical Noise</option>
                          <option>GC Bias</option> 
                          <option>Splice Variants (Isoforms)</option>  
                        </select>
                </form></center>              
                <div id="mysomething" style="background-color:#ffffff;border:none;width:100%;height:250px">
                </div> 
            </div>        
            <div class="gridcontent" id="meh" style="background-color:#ffffff;border: 1px solid Gainsboro;width:50%;padding-top:5px;">
            </div>              
        </div> 
    
   
    </div>

	{% include "omics/footer.html"   %}  

 <!--
    <div class="gridcontainer" style="opacity:0.1;">
        <div class="gridwrapper" style="height:370px;">
          <div class="gridcontent" style="background-color:#ffffff;border-right:1px solid #000000;border-left:1px solid #000000;"></div>
          <div class="gridcontent" style="background-color:#ffffff;border-right:1px solid #000000;"></div>
          <div class="gridcontent" style="background-color:#ffffff;border-right:1px solid #000000;"></div>
          <div class="gridcontent" style="background-color:#ffffff;border-right:1px solid #000000;"></div>
          <div class="gridcontent" style="background-color:#ffffff;border-right:1px solid #000000;"></div>
          <div class="gridcontent" style="background-color:#ffffff;border-right:1px solid #000000;"></div>
          <div class="gridcontent" style="background-color:#ffffff;border-right:1px solid #000000;"></div>
          <div class="gridcontent" style="background-color:#ffffff;border-right:1px solid #000000;"></div>
          <div class="gridcontent" style="background-color:#ffffff;border-right:1px solid #000000;"></div>
          <div class="gridcontent" style="background-color:#ffffff;border-right:1px solid #000000;"></div>
          <div class="gridcontent" style="background-color:#ffffff;border-right:1px solid #000000;"></div>
          <div class="gridcontent" style="background-color:#ffffff;border-right:1px solid #000000;"></div>
        </div>
    </div>
-->
    

        
</div>
        
<script>


    
$(function () {

    console.log("starting script");
        
    var geneExcludes = [];
    var mfExcludes   = [];
    var bpExcludes   = [];
    var ccExcludes   = [];
    var cycExcludes  = [];
    var selectedGene = ''; // used to track which gene has been recently clicked somewhere
    
    var currentCluster = 1;
    
    var ontospacedata = '';

    //console.log(ontospacedata);
    //console.log($.grep(ontospacedata, function(obj){return obj.name === 'APOC1'}))
    $("#ontospace").html(JSON.stringify($.grep(ontospacedata, function(obj){return obj.name === 'APOC1'})[0], null, 2));


    function poponto(gene){
        //console.log($.grep(ontospacedata, function(obj){return obj.name === gene}));
        obj = $.grep(ontospacedata.list, function(obj){return obj.name === gene})[0];
        console.log(obj);
        if(obj){
            $("#ontospace").html("<pre>"+JSON.stringify(obj, null, 2)+"</pre>");
        }
    };

    
    var classesNumber = 10,
        cellSize = 24;
    
    colorbrewer["seurat"] = {12:["#800080", "#690c68", "#511151", "#3c113a" ,"#270f25", "#120611", "#1b1a0b", "#424116", "#6d6c1a", "#9c9a1b", "#cccb16", "#ffff00"]};
    
    var currentHeatData = '';
    var currentGOData   = '';
    var jstreeGOdata    = '';
    
    //console.log(colorbrewer)
    //console.log(colorbrewer["seurat"][12])
    
    var footerResize = function() {
        $('#divfooter').css('position', $("#divabove").height() + $("#divfooter").height() > $(window).height() ? "inherit" : "fixed");
        //console.log($("#divabove").height());
        //console.log($("#divfooter").innerHeight());
        //console.log($(window).height());
        //console.log('resized');
        };
    //footerResize()
    $(window).resize(footerResize).ready(footerResize);

    // test loading cluster data directly

    var rightClick = false;
    
    function customMenu(node) {
        // The default set of all items
        //console.log(node);
        // set flag so left click does not fire on right click menu
        rightClick = true;
        
        var nodep = '';
        var items = {
            lookupItem1: {
                label:"Lookup Ensembl",
                action: function () {
                    //console.log("Lookup1");
                    var url = "http://useast.ensembl.org/Human/Search/Results?q=" + node.text + ";site=ensembl;facet_species=Human"
                    $("<a>").attr("href", url).attr("target", "_blank")[0].click();
                }
            },
            lookupItem2: {
                label:"Lookup Panther",
                action: function () {
                    //console.log("Lookup2");
                    var url = "http://pantherdb.org/genes/geneList.do?searchType=basic&fieldName=all&organism=all&listType=1&fieldValue=" + node.text                     
                    $("<a>").attr("href", url).attr("target", "_blank")[0].click();
                }
            },            
            lookupItem3: {
                label:"Lookup AmiGO2",
                action: function () {
                    //console.log("Lookup3");
                    var url = "http://amigo.geneontology.org/amigo/search/bioentity?q=" + node.text                     
                    $("<a>").attr("href", url).attr("target", "_blank")[0].click();
                }
            },                     
            lookupItem4: {
                label:"Lookup Term",
                action: function () {
                    //console.log("Lookup4");
                    var url = "http://amigo.geneontology.org/amigo/search/ontology?q=" + node.text.replace(" ","+")                     
                    $("<a>").attr("href", url).attr("target", "_blank")[0].click();
                }
            },               
            //http://amigo.geneontology.org/amigo/search/ontology?q=protein%20kinase%20activity
            includeItem: { 
                label: "Include",
                action: function () {
                    //console.log('include')
                    //console.log(node);                

                    //console.log(node.parent)

                    nodep = $('#jstreeGO').jstree(true).get_node(node.parent).text
                    //console.log(nodep)
                    if ( nodep.indexOf("Gene Level" ) > -1) {
                        if ( geneExcludes.includes(node.text) ==true) {
                            geneExcludes.splice(geneExcludes.indexOf(node.text),1)
                            $("#"+node.id + "_anchor").css("color","black");                            
                        }
                        //console.log(geneExcludes);
                    }
                    if ( nodep.indexOf("Biological Process" ) > -1) {
                        if ( bpExcludes.includes(node.text) ==true) {
                           bpExcludes.splice(bpExcludes.indexOf(node.text),1)
                           $("#"+node.id + "_anchor").css("color","black");                            
                        }
                        //console.log(bpExcludes);
                    }
                    if ( nodep.indexOf("Cellular Component" ) > -1) {
                        if ( ccExcludes.includes(node.text) ==true) {
                            ccExcludes.splice(ccExcludes.indexOf(node.text),1)
                            $("#"+node.id + "_anchor").css("color","black");                             
                        }
                        //console.log(ccExcludes);
                    }
                    if ( nodep.indexOf("Molecular Function" ) > -1) {
                        if ( mfExcludes.includes(node.text) ==true) {
                            mfExcludes.splice(mfExcludes.indexOf(node.text),1)
                            $("#"+node.id + "_anchor").css("color","black");                             
                        }
                        //console.log(mfExcludes);
                    }               
                    if ( nodep.indexOf("Cell Cycle" ) > -1) {
                        if ( cycExcludes.includes(node.text) ==true) {
                            cycExcludes.splice(cycExcludes.indexOf(node.text),1)
                            $("#"+node.id + "_anchor").css("color","black");                             
                        }
                        //console.log(cycExcludes);
                    }                    
                    //$(this).find('a').addClass('active');
                }
            },
            excludeItem: { 
                label: "Exclude",
                action: function () {
                    //console.log('exclude');
                    //console.log(node.parent)
                    //console.log($('#jstreeGO').jstree(true).get_node(node.parent).text);
                    nodep = $('#jstreeGO').jstree(true).get_node(node.parent).text
                    //console.log("|" + nodep + "|")
                    if ( nodep.indexOf("Gene Level") > -1)  {
                        if(geneExcludes.includes(node.text) == false){
                            geneExcludes.push(node.text);
                            //console.log(node);
                            //console.log(node.id+"_anchor");
                            //nodeid = $(this).parent().attr("id").split("_")[1];
                            $("#"+node.id + "_anchor").css("color","red");                            
                        }    
                        //console.log(geneExcludes);
                    }
                    if ( nodep.indexOf("Biological Process" ) > -1) {
                        if(bpExcludes.includes(node.text) == false){
                            bpExcludes.push(node.text);
                            $("#"+node.id + "_anchor").css("color","red");                            
                        }    
                        //console.log(bpExcludes);
                    }
                    if ( nodep.indexOf("Cellular Component" ) > -1) {
                        if(ccExcludes.includes(node.text) == false){
                            ccExcludes.push(node.text);
                            $("#"+node.id + "_anchor").css("color","red");                            
                        }    
                        //console.log(ccExcludes);
                    }
                    if ( nodep.indexOf("Molecular Function" )  > -1) {
                        if(mfExcludes.includes(node.text) == false){
                            mfExcludes.push(node.text);
                            $("#"+node.id + "_anchor").css("color","red");                            
                        }    
                        //console.log(mfExcludes);
                    }                    
                    if ( nodep.indexOf("Cell Cycle" )  > -1) {
                        if(cycExcludes.includes(node.text) == false){
                            cycExcludes.push(node.text);
                            $("#"+node.id + "_anchor").css("color","red");                            
                        }    
                        //console.log(cycExcludes);
                    }        
                    //console.log(node.querySelector("a"));
                }
            }
        }
        //console.log(node.parent);
        if ( node.parent == "#") {
            delete items.includeItem;
            delete items.excludeItem;
            delete items.lookupItem1;
            delete items.lookupItem2;
            delete items.lookupItem3;          
            delete items.lookupItem4;
            return items;
        }      
        nodep = $('#jstreeGO').jstree(true).get_node(node.parent).text
        //console.log("|" + nodep + "|")
        flagged = false;
        
        if (nodep.indexOf("Gene Level") == -1) {
            delete items.lookupItem1;
            delete items.lookupItem2;
            delete items.lookupItem3;     
        }
        if (nodep.indexOf("Gene Level") > -1) {
            delete items.lookupItem4;
        }
             
        if ( (nodep.indexOf("Gene Level") > -1) && geneExcludes.includes(node.text)) {
            flagged = true;
        }
        if ( ( nodep.indexOf("Cellular Component" ) > -1) && ccExcludes.includes(node.text)) {
            flagged = true;        
        }
        if ( ( nodep.indexOf("Molecular Function" ) > -1 ) && mfExcludes.includes(node.text)) {
            flagged = true;
        }
        if (( nodep.indexOf("Biological Process" ) > -1) && bpExcludes.includes(node.text)) {
            flagged = true;
        }       
        if (( nodep.indexOf("Cell Cycle" ) > -1) && cycExcludes.includes(node.text)) {
            flagged = true;
        }         
        if ( flagged == true) {
            delete items.excludeItem;
        } else {
            delete items.includeItem;        
        }
        rightClick = false;
        return items;
    };
   
        // this is the basis for building the GOtree
        // data get's added dynamically from the cluster selected
        var treeThing = {
            'core' : {
                'data' : jstreeGOdata 
                },
            'plugins': ["contextmenu","sort"], 
            'contextmenu': {'items': customMenu, "select_node":false},
            'sort' : function(a, b) {
                        a1 = this.get_node(a);
                        b1 = this.get_node(b);
                        if (a1.parent == "gene" && b1.parent == "gene"){
                            return (a1.text > b1.text) ? 1 : -1;
                        } else {
                            return (a1.icon > b1.icon) ? 1 : -1;
                        }
            }            
        };
                
        urlit = '{% url "ontologydata" %}?view=express&cluster=1'
        $.ajax({
            url: urlit,
            timeout:60000 //60 second timeout
        }).done(function(data,textStatus, jqXHR){
            jstreeGOdata = data // to filterlater
            //console.log(data);  
            treeThing.core.data = jstreeGOdata 
            //console.log(treeThing);    
            //$('#jstreeGO').jstree(treeThing);    
            return(data);
            }).fail(function(jqXHR, textStatus){
                if(textStatus === 'timeout') {     
                    alert('Failed from timeout');                      
                    console.log("called: " +urlit)
                //do something. Try again perhaps?
                }
        }); 

        function resetHeatHighlights(){
            for (var i = 0; i < currentHeatData.index.length; i++) {
                var obj = currentHeatData.index[i];        
                    findit = ".rowLabel:contains('"+ obj +"')";
                    //console.log(findit);
                    $( findit ).removeClass("hover");   
            }        
        }
        
        // go through list of criteria and get all genes related in a list
        function getGeneList(typego, list) {
            var geneListMade = [];  
            //console.log(list);
            //console.log(currentGOData);
            if(typego == 'bp'){
                listThing = currentGOData.bp;
            }
            if(typego == 'cc'){
                listThing = currentGOData.cc
            }
            if(typego == 'mf'){
                listThing = currentGOData.mf            
            }
            //console.log(listThing);
            //for(lookie in list){
            for (var i = 0; i < list.length; i++) {
                var obj = $.grep(listThing, function(obj){return obj.name === list[i];})[0];
                geneList = obj.list;
                //console.log('genelist = ');
                //console.log(geneList);
                for (var j = 0; j<geneList.length;j++){
                    geneListMade.push(geneList[j].name);
                }
            }
            return(geneListMade);
        }
                
        // fires when node is clicked - turned off node selection in right click menus
        $('#jstreeGO').on('activate_node.jstree', function (e, data) {
        //$('#jstreeGO').bind('itemClick', function (event,data) {
            //console.log(rightClick);
            if (data == undefined || data.node == undefined || data.node.id == undefined) return;
            //console.log('clicked node: ' + data.node.id);
            nodep = $('#jstreeGO').jstree(true).get_node(data.node.parent).text   
            
            var geneList = [];
            var listThing = '';
            
            if(nodep.indexOf("Biological Process" ) > -1){
                //console.log(data.node.text)
                listThing = currentGOData.bp;
            }    
            if(nodep.indexOf("Cellular Component" ) > -1){
                //console.log(data.node.text)
                listThing = currentGOData.cc;
            } 
            if(nodep.indexOf("Molecular Function" ) > -1){
                //console.log(data.node.text)
                listThing = currentGOData.mf;
            }           
            if(listThing != ''){
                resetHeatHighlights();         
                var obj = $.grep(listThing, function(obj){return obj.name === data.node.text;})[0];
                geneList = obj.list
                //console.log(geneList);
                
                for (var i = 0; i < geneList.length; i++) {
                    findit = ".rowLabel:contains('"+ geneList[i].name +"')";
                    //console.log(findit);
                    $( findit ).addClass("hover");
                }
            }    
            
                
        });
       
        $('#jstreeGO').on("hover_node.jstree", function (e, data) {
                //console.log(data.node.text);
                poponto(data.node.text);

            });
            
        $('#jstreeGO').on("dehover_node.jstree", function (e, data) {
                $('#ontospace').empty();
            });    
       
        //$('#jstreeGO').jstree( {plugins: ["contextmenu"], contextmenu: {items: customMenu} });    

        $( "#ontologyselect" ).selectmenu({change:function(){
            var datain = 'before load';
            
            //$('#fireworks').remove();
            //if (frame){
            //    console.log("destroy fireworks iframe")
            //    frame.destroy();
            //}
            
            if(this.value == "Cell Cycle"){
                //console.log(currentCluster);
                $('div#heatmap1').empty();  
                //$('#ontologyselect').selectmenu( "option", "disabled", true );
                $("#heatmap1").append('<div class = "workres"> <center><img  src="{% static 'omics/images/loading_img.gif' %}" ></center></div>'); 
                //heatmap_display("{% static 'omics/data/heatdatacycle.json' %}", "#heatmap1", "Spectral");  
                //console.log('{% url "clusterdata" %}?view=cc&cluster=' + currentCluster)              
                heatmap_display('{% url "clusterdata" %}?view=cc&cluster=' + currentCluster, "#heatmap1", "seurat",poponto);                  
            };
            if(this.value == "Regulation"){
                $('div#heatmap1').empty();  
                directgraph("#heatmap1");             
            };    
            if(this.value == "Expression") {
                $('div#heatmap1').empty();
                heatmap_display_data(currentHeatData, "#heatmap1", "seurat",poponto) ;       
                //heatmap_display('{% url "clusterdata" %}?view=express&cluster=1', "#heatmap1", "seurat");
            };
            if(this.value == "Pathway") {
                $('div#heatmap1').empty();
                pathway_browser();       
                //heatmap_display('{% url "clusterdata" %}?view=express&cluster=1', "#heatmap1", "seurat");
            };
        }});
      
        //$("#dataselect" ).selectmenu();
        //$('#dataselect').trigger("chosen:updated");
        $('#dataselect').on('change',function(){
            //console.log('selected data');
            currentCluster = this.value;
            //console.log(this.value);
            $('div#heatmap1').empty();      
            currentHeatData = heatmap_display(currentCluster , "#heatmap1", "seurat",poponto);              
        });      
        
        //$(     "#biasselect" ).selectmenu();
        $('#biasselect').on('change',function(){
            //console.log('selected bias');
            if(this.value == "Chromosome") {
                Plotly.newPlot('mysomething', bardata, layout, {displayModeBar: false});
            };      
            if(this.value == "Reference") {
                Plotly.newPlot('mysomething', bardata2, layout2, {displayModeBar: false});   
            }      
            if(this.value == "Cell Cycle") {
                //console.log('cell cycle pie');
                var data = [{
                  values: [20, 37, 21, 22],
                  labels: ['G1', 'G2', 'M','S'],
                  type: 'pie'
                }];
                var layout = {
                  height: 300,
                  width: 300,
                  showlegend: false,
                  r:5,
                  l:5,
                  t:5,
                  b:5
                };
                Plotly.newPlot('mysomething', data, layout);                
            } 
        });        
  
        $("#recluster"   ).button();
        $("#recalculate" ).button();
        
        //$(     "#recluster" ).selectmenu();
        $('#recalculate').on('click',function(){
            //console.log('recalc');
            recalculate();
        });  
        
        $('#recluster').on('click',function(){
            //console.log('recluster');
            if (confirm('This may take a long time!')) {
                $('div#heatmap1').empty(); 
                $("#heatmap1").append('<div class = "workres"> <img  src="{% static 'omics/images/loading_img.gif' %}" ></div>');              
                recluster();
            }            
            // send exclusions to service to get back data
        });     
        
     
      var bardata = [
          {
            x: ["1", "2", "3", "4", "5", "6", "7", "8", "9", "10", "11", "12", "13", "14", "15", "16", "17", "18", "19", "20", "21", "22", "X", "Y"],
            y: [150, 130, 45, 340, 90	, 10, 9	, 70, 100	, 130	, 120, 100, 175	, 25	, 40	, 34	, 234, 21, 150, 27	, 125	, 225, 230, 2],
            type: 'bar',
            name: 'hits'
          },
          {
            x: ["1", "2", "3", "4", "5", "6", "7", "8", "9", "10", "11", "12", "13", "14", "15", "16", "17", "18", "19", "20", "21", "22", "X", "Y"],
            y: [2000, 1300, 1000, 1000, 900	, 1000, 900	, 700	, 800	, 700	, 1300, 1100, 300	, 800	, 600	, 800	, 1200, 200	, 1500, 500	, 200	, 500, 800, 50],
            type: 'bar',
            name: 'tot genes'
          }
      ];

      var layout = {
            title: 'Hits Per Chromosome',
            showlegend: true,
            autosize: true
        };

      var bardata2 = [
      {
        x: ["APOC1","SNHG12","BCL2A1","GADD45B","NDUFB9","S100A4","MTRNR2L2","NCAPH","CIR1","IER3","CCL22","TIMP3",
            "IL1RN","FGL2","ALDH1A2","CCL1","GREM1","CTD-2319I12.1","IL7R","FABP4","SOD2","GRINA","TNFAIP6",
            "C15orf48","CD14","NUPR1","PTAFR","AKR1C1","FUCA1","S100A8"],        
        y: [150, 130, 45, 340, 90	, 10, 9	, 700, 100	, 130	, 120, 100, 175	, 2500	, 40	, 34	, 234, 21, 150, 27	, 125	, 225, 230, 2],
        type: 'bar',
        name: 'expressed'
      },
      {
        x: ["APOC1","SNHG12","BCL2A1","GADD45B","NDUFB9","S100A4","MTRNR2L2","NCAPH","CIR1","IER3","CCL22","TIMP3",
            "IL1RN","FGL2","ALDH1A2","CCL1","GREM1","CTD-2319I12.1","IL7R","FABP4","SOD2","GRINA","TNFAIP6",
            "C15orf48","CD14","NUPR1","PTAFR","AKR1C1","FUCA1","S100A8"],
        y: [10, 1300, 10, 1000, 900	, 1000, 90	, 700	, 800	, 700	, 130, 100, 300	, 800	, 600	, 800	, 1200, 200	, 1500, 500	, 200	, 500, 800, 50],
        type: 'bar',
        name: 'Healthy Tissue'
      }];

      var layout2 = {
            title: 'Tissue Expression Comparison',
            showlegend: true
        };
        
      Plotly.newPlot('mysomething', bardata, layout, {displayModeBar: false});
      
      <!-- var data = [ -->
      <!-- { -->
        <!-- z: [[1, 20, 30, 50], [20, 1, 60, 80], [30, 60, 1, -10]], -->
        <!-- x: ['S', 'G1', 'G2', 'M'], -->
        <!-- y: ['c1', 'c2', 'c3'], -->
        <!-- type: 'heatmap' -->
      <!-- }]; -->


      <!-- var data = [ -->
      <!-- { -->
        <!-- z: [[1, 20, 30, 50, 1], [20, 1, 60, 80, 30], [30, 60, 1, -10, 20]], -->
        <!-- x: ['fam1', 'fam2', 'fam3', 'fam4', 'fam5'], -->
        <!-- y: ['c1', 'c2', 'c3'], -->
        <!-- type: 'heatmap' -->
      <!-- }]; -->


    function heatmap_display(cluster,divid,palatteName,poponto) {
    
        $("#heatmap1").append('<div class = "workres"> <center><img  src="{% static 'omics/images/loading_img.gif' %}" ></center></div>');      
        urlit = '{% url "clusterdata" %}?view=express&cluster='+cluster;
        $.ajax({
            url: urlit,
            timeout:60000 //60 second timeout
        }).done(function(data,textStatus, jqXHR){
            currentHeatData = data; // to filterlater
            //console.log(data);
            $(divid).empty();         
            heatmap_display_data(data, divid, "seurat",poponto);   
            //console.log(currentHeatData.index);
            changeOrder("sortinit_row", "#heatmap1");             
            loadGOData(currentHeatData.index); // need to send gene list here
            ontospacedata = loadOntoSpace(currentHeatData.index);
            //$(".rowLabel").css('background-color', 'red');       
            //$( "#heatmap1:contains('APOC1')" ).css( "text-decoration", "underline" );         
            //$( ".rowLabel:contains('APOC1')" ).addClass("hover");
            console.log("trying to find rowlabels")
            //console.log($("#heatmap1, .rowLabel"));            
            return(data);
            }).fail(function(jqXHR, textStatus){
                if(textStatus === 'timeout') {     
                    alert('Failed from timeout');                      
                    //console.log("called: " +urlit);
                //do something. Try again perhaps?
                }
        });         
    };
    
    // pick cluster 1 by default for initial load
    currentHeatData = heatmap_display('1', "#heatmap1", "seurat",poponto);
    console.log('After heatmap display');
    // test out background highlight

    //console.log("trying to find rowlabels" + $("#heatmap1 .rowlabel"));
    //$( "#heatmap1:contains('CHI3L1')" ).css( "text-decoration", "underline" );
    
    function loadOntoSpace(list) {
        urlit = '{% url "ontospacedata" %}';
        json_send = JSON.stringify(list); // proper serialization method, read 
        // http://ejohn.org/blog/ecmascript-5-strict-mode-json-and-more/   
        console.log(json_send);                                              
        $.ajax({
            type: 'POST',
            data: json_send,
            dataType: "text",        
            url: urlit,
            timeout:60000 //60 second timeout
        }).done(function(data,textStatus, jqXHR){
            ontospacedata = JSON.parse(data);        
            //return(data);
            }).fail(function(jqXHR, textStatus){
                if(textStatus === 'timeout') {     
                    alert('Failed from timeout');                      
                    console.log("called: " +urlit);
                //do something. Try again perhaps?
                }
        });       
    }
    
    
    function loadGOData(list)  {
        //$("#heatmap1").append('<div class = "workres"> <center><img  src="{% static 'omics/images/loading_img.gif' %}" ></center></div>');      
        urlit = '{% url "getgodata" %}';
        json_send = JSON.stringify(list); // proper serialization method, read 
        // http://ejohn.org/blog/ecmascript-5-strict-mode-json-and-more/   
        //console.log(json_send);    
        $("#jstreeGO").append('<div class = "workres"> <center><img  src="{% static 'omics/images/loading_img.gif' %}" ></center></div>');
        $.ajax({
            type: 'POST',
            data: json_send,
            dataType: "text",        
            url: urlit,
            timeout:60000 //60 second timeout
        }).done(function(data,textStatus, jqXHR){
            console.log('emptied GO tree');
            $("#jstreeGO").empty()
            currentGOData = JSON.parse(data); // to filterlater
            console.log('currentGOData');
            console.log(currentGOData);
            for (var i = 0; i < currentGOData.mf.length; i++) {
                var obj = currentGOData.mf[i];
                //console.log(obj);
                mfLine = {"id":'mf'+i,"parent":"mf","text":currentGOData.mf[i].name};
                treeThing.core.data.push(mfLine);
            }
            for (var i = 0; i < currentGOData.bp.length; i++) {
                var obj = currentGOData.bp[i];
                //console.log(obj);
                bpLine = {"id":'bp'+i,"parent":"bp","text":currentGOData.bp[i].name};
                treeThing.core.data.push(bpLine);
            }
            for (var i = 0; i < currentGOData.cc.length; i++) {
                var obj = currentGOData.cc[i];
                //console.log(obj);
                ccLine = {"id":'cc'+i,"parent":"cc","text":currentGOData.cc[i].name};
                treeThing.core.data.push(ccLine);
            }
            loadGOTreeGenes();            
            //return(data);
            }).fail(function(jqXHR, textStatus){
                if(textStatus === 'timeout') {     
                    alert('Failed from timeout');                      
                    console.log("called: " +urlit);
                //do something. Try again perhaps?
                }
        });       
    };
    
    function loadGOTreeGenes() {
        //console.log('load genes');
        //treeThing.core.data = []; //remove any 
            // take out any gene names
        for (var i = 0; i < currentHeatData.index.length; i++) {
            var obj = currentHeatData.index[i];
            //console.log(obj);
            //console.log(tempHeatData.index.indexOf(obj))
            geneLine = {"id":'gene'+i,"parent":"gene","text":currentHeatData.index[i]};
            console.log(geneLine);
            treeThing.core.data.push(geneLine);
            
            //findit = currentHeatData.index.indexOf(obj)
            //if(findit > -1){
            //    console.log('removing gene');
            //    tempHeatData.index.splice(findit,1);
            //    tempHeatData.data.splice(findit,1);
            //}
        };
        console.log(treeThing);
        $('#jstreeGO').jstree(treeThing); 
        console.log('after tree init');


        $('#jstreeGO').jstree().refresh();
        console.log('after tree refresh');
        
    };        
        
    function pieit() {
            var pie = new d3pie("mysomething", {
            header: {
                title: {
                    text: "Cell Cycle Percents",
                    fontSize: 12,
                    font: "open sans"
                },
                titleSubtitlePadding: 0
            },
            footer: {
                color: "#999999",
                fontSize: 10,
                font: "open sans",
                location: "bottom-left"
            },
            size: {
                canvasWidth: 200,
                pieOuterRadius: "90%",
                canvasHeight:200
            },
            data: {
                sortOrder: "value-desc",
                content: [
                    {
                        label: "S",
                        "value": 25,
                        color: "#2484c1"
                    },
                    {
                        label: "G1",
                        value: 10,
                        color: "#0c6197"
                    },
                    {
                        label: "G2",
                        value: 35,
                        color: "#4daa4b"
                    },
                    {
                        label: "M",
                        value: 30,
                        color: "#90c469"
                    }
                ]
            },
            labels: {
                outer: {
                    pieDistance: 10
                },
                inner: {
                    hideWhenLessThanPercentage: 3
                },
                mainLabel: {
                    fontSize: 11
                },
                percentage: {
                    color: "#ffffff",
                    decimalPlaces: 0
                },
                value: {
                    color: "#adadad",
                    fontSize: 11
                },
                lines: {
                    enabled: true
                },
                truncation: {
                    enabled: true
                }
            },
            effects: {
                load: {
                    effect: "none"
                },
                pullOutSegmentOnClick: {
                    effect: "bounce",
                    speed: 400,
                    size: 8
                }
            },
            callbacks : {
                onClickSegment : function(a) { 
                    //alert('Segment clicked! See the console for all data passed to the click handler.'); 
                    console.log(a.data.label);
                    
                }},                    
            misc: {
                gradient: {
                    enabled: true,
                    percentage: 100
                }
            }
            }); 
        };         
   
   

        //Creating the Reactome pathways overview widget
    function onReactomeFireworksReady(){  //This function is automatically called when the widget code is ready to be used
    };
    
    


        //Adding different listeners

        fireworks.onFireworksLoaded(function (loaded) {
            console.info("Loaded ", loaded);
        });

        fireworks.onNodeHovered(function (hovered){
            console.info("Hovered ", hovered);
        });

        fireworks.onNodeSelected(function (selected){
            console.info("Selected ", selected);
        });
    
    
    function pathway_browser() {
        console.log("pathway create");
        var fireworks = Reactome.Fireworks.create({
        "placeHolder" : "heatmap1",
        "width" : 930,
        "height" : 500
        });
    };
   
    function directgraph(place) {
        console.log("force Graph");
        var viewerWidth = $(place).width() - 12;
        //console.log(viewerWidth);
        //console.log( $(place).width() );
        //console.log( $(place).parent().height() );
        var viewerHeight = $(place).parent().height() - 12;        
        //var viewerWidth = 600;
        //var viewerHeight = 500;
        var width = viewerWidth;
        var height = viewerHeight;
        var viewerPosTop = 50;
        var viewerPosLeft = 50;    
        
        svg = d3.select(place).append("svg")
        .attr("width", viewerWidth)
        .attr("height", viewerHeight)
        //.call(zoomListener)
        .append("g")
        .attr("transform", "translate(" + viewerPosLeft + "," + viewerPosTop + ")");
            
        //var svg = d3.select("heatmap1"),
        //width = +svg.attr("width"),
        //height = +svg.attr("height");

        var color = d3.scaleOrdinal(d3.schemeCategory20);

        var simulation = d3.forceSimulation()
        .force("link", d3.forceLink().id(function(d) { return d.id; }))
        .force("charge", d3.forceManyBody())
        .force("center", d3.forceCenter(width / 2, height / 2));

        d3.json("{% static 'omics/data/adjacency.json' %}", function(error, graph) {
            if (error) throw error;

            var link = svg.append("g")
            .attr("class", "links")
            .selectAll("line")
            .data(graph.links)
            .enter().append("line")
              .attr("stroke-width", function(d) { return Math.sqrt(d.value); });

            var node = svg.append("g")
            .attr("class", "nodes")
            .selectAll("circle")
            .data(graph.nodes)
            .enter().append("circle")
              .attr("r", 5)
              .attr("fill", function(d) { return color(d.group); })
              .call(d3.drag()
                  .on("start", dragstarted)
                  .on("drag", dragged)
                  .on("end", dragended));

            node.append("title")
              .text(function(d) { return d.id; });

            simulation
              .nodes(graph.nodes)
              .on("tick", ticked);

            simulation.force("link")
              .links(graph.links);

          function ticked() {
            link
                .attr("x1", function(d) { return d.source.x; })
                .attr("y1", function(d) { return d.source.y; })
                .attr("x2", function(d) { return d.target.x; })
                .attr("y2", function(d) { return d.target.y; });

            node
                .attr("cx", function(d) { return d.x; })
                .attr("cy", function(d) { return d.y; });
          }
        });

        function dragstarted(d) {
          if (!d3.event.active) simulation.alphaTarget(0.3).restart();
          d.fx = d.x;
          d.fy = d.y;
        }

        function dragged(d) {
          d.fx = d3.event.x;
          d.fy = d3.event.y;
        }

        function dragended(d) {
          if (!d3.event.active) simulation.alphaTarget(0);
          d.fx = null;
          d.fy = null;
        }
      };  
    
    function recalculate() { // still sending exclusion to back end for safekeeping
        //var response = {data:[{a:1, b:2},{a:2, b:2}]};
        var response = { gene: geneExcludes, mf: mfExcludes, bp: bpExcludes, cc : ccExcludes, cyc: cycExcludes };
        //console.log(response);
        //console.log(currentHeatData.index);
        json_send = JSON.stringify(response); // proper serialization method, read 
                                              // http://ejohn.org/blog/ecmascript-5-strict-mode-json-and-more/
        $.post('{% url "saveexclusion" %}',json_send);   
        //console.log(getGeneList('bp',bpExcludes));    
        bpGenes = getGeneList('bp',bpExcludes)
        ccGenes = getGeneList('cc',ccExcludes)
        mfGenes = getGeneList('mf',mfExcludes)
        geneExcludesCombined = geneExcludes.concat(bpGenes, ccGenes,mfGenes);
        //console.log(geneExcludesCombined);
        
        $('div#heatmap1').empty();         
        console.log('posted json');
        tempHeatData = JSON.parse(JSON.stringify(currentHeatData))        // cloning is ugly
        for (var i = 0; i < geneExcludesCombined.length; i++) {
            var obj = geneExcludesCombined[i];
            //console.log(obj);
            //console.log(tempHeatData.index.indexOf(obj))
            findit = tempHeatData.index.indexOf(obj)
            if(findit > -1){
                //console.log('removing gene');
                tempHeatData.index.splice(findit,1);
                tempHeatData.data.splice(findit,1);
            }
        }
        //console.log(currentHeatData.index);        
        heatmap_display_data(tempHeatData, "#heatmap1", "seurat",poponto);
        resetHeatHighlights();
    };
    
    function recluster()   { // remember to reload all the page elements since reclustering will change them
        var response = {data:[{a:1, b:2},{a:2, b:2}]};
        
        json_response = JSON.stringify(response); // proper serialization method, read 
                                                  // http://ejohn.org/blog/ecmascript-5-strict-mode-json-and-more/
        $.post('{% url "saveexclusion" %}',json_response);    
        $('div#heatmap1').empty();         
        //console.log('{% url "clusterdata" %}?view=express&cluster='+ currentCluster);
        heatmap_display('{% url "clusterdata" %}?view=express&cluster='+ currentCluster, "#heatmap1", "seurat",poponto);
        console.log('posted json');
    };
    
	});    
    
   
</script>
</body>
</html>