{% load static %}

<!DOCTYPE html>

<html>
    <head>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />	
		<meta name="robots" content="none" />
		
		{# {% include "base.css"    %}  #}

		<link rel="stylesheet" type="text/css" href="{% static 'omics/css/jheatmap-1.0.0-min.css' %}" />
		<link rel="stylesheet" type="text/css" href="{% static 'omics/jquery-ui-1.12.1/jquery-ui.min.css' %}" />     
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jstree/3.2.1/themes/default/style.min.css" />
		<script src="https://code.jquery.com/jquery-1.12.4.js">      </script>
		<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/jstree/3.2.1/jstree.min.js"></script>
		<script src="https://d3js.org/d3.v4.min.js"></script>
		<script src="http://vizjs.org/viz.v1.1.0.min.js"></script>
		<script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
	
        <style>

            div#banner         { position: absolute;  top: 0; left: 0;  background-color: #b1c4c6;  width: 100%; }
            div#banner-content { width: 800px; margin: 0 auto;  padding: 10px;  background-color: #b1c4c6; border: 1px solid #000;  }
            div#main-content   { padding-top: 100px;   padding-bottom: 10px; background-color: #e1eced; }       
            
            div#divfooter      { position: fixed; right: 0; bottom: 0; left: 0; padding: 1rem; background-color: #b1c4c6; text-align: center; }
            
            #jstree     { float:left; min-width:319px; border-right:1px solid silver; overflow:hidden; padding:0px 0; }
            #container, #container1, #runcontainer  { min-width:320px; margin:0px auto 0 auto; background:white; border-radius:0px; padding:0px; overflow:hidden; }
            #data, #data1, #stepdata                { margin-left:320px; font: normal normal normal 12px/18px 'Consolas', monospace !important; overflow: scroll}
            #data textarea, #data1 textarea, #stepdata textarea  { margin:0; padding:0; height:100%; width:100%; border:0; background:white; display:block; line-height:18px; resize:none; }
                     
            #sortable1, #sortable2       {  border: 4px solid #eee; width: 142px; min-height: 20px; list-style-type: none; margin: 1; padding: 5px 0 0 0; float: left; margin-right: 10px; border-color: red;}
            #sortable1 li, #sortable2 li { margin: 0 5px 5px 5px; padding: 5px; font-size: 1.2em; width: 120px; }            
            
            #sortable1-1, #sortable2-1       {  border: 4px solid #eee; width: 142px; min-height: 20px; list-style-type: none; margin: 1; padding: 5px 0 0 0; float: left; margin-right: 10px; border-color: red;}
            #sortable1-1 li, #sortable2-1 li { margin: 0 5px 5px 5px; padding: 5px; font-size: 1.2em; width: 120px; }            

            .column-left33  { float: left; width: 32%; 	min-height: 320px;		height : auto !important;  }  
    
            .border-style-red { border-style: solid; border-width: 1px; border-color: red;}    
    
            {% block head_script_block    %}
                <!-- space to generate override script tags such as including js for other widgets -->
            {% endblock head_script_block %}

            {% block css_override    %}
                <!-- space to generate override CSS -e.g. including a new widget from another library -->
            {% endblock css_override %}

        </style>  
        
        <title>Interactive Topic Browser</title>
    </head>
    <body>
    <div id="banner">
        <div id="banner-content">
        <h1>Interactive Topic Browser</h1>
        </div>
    </div>    
    <div id="main-content">    
		<HR>
		<div id="maintabs">
		  <ul>
			<li><a href="#tab-build">Build</a></li>   
			<li><a href="#tab-upload">Upload Files</a></li>                     
		  </ul>
              <div id="tab-upload">
                <div id="uploadcontainer" >
                    <div id = "ufiles">
                        <label for="upfiles">Upload a file</label>
                        <input name="upfiles" id="uploadfiles"> </input>
                    </div> 
                    <input type="submit" value="UpLoad">
                </div>
              </div>                 
              <div id="tab-build">          
                <div >    
                    <center><input type="submit" value="Rerun Global Topic Discovery"></center>
                </div>
                <br>
                <div id="accordion">              


                {% for key, value in terms.items %}
                    <h3>{{key}}</h3>
                        <div id="container1" >
                        
                            <div >
                                <div class="column-left33 border-style-red" > 
                                    <br>
                                    <center><input type="submit" value="Rerun Topic Discovery"></center>

                                </div>
                                <div class="column-left33 border-style-red">
                                       
                                    <center> <p> <b>These are related terms and weights</b></p> </center>                                    
                                    <ul id="sortable1" class="connectedSortable border-style-red">
                                          {% for term, value2 in value.items %}
                                          <li class="ui-state-default" id="start-{{thing}}" >{{term}}:{{value2}}</li>
                                          {% endfor %} 
                                   
                                    </ul>
                                    <br>
                                    <center> <p> Drag any terms here to the right list to add to stop words </p> </center>                                     
                                </div>
                                <div class="column-left33 border-style-red">
                                    <center> <p> <b>These are stops words to use for this term</b></p> </center>                        
                                    <ul id="sortable2" class="connectedSortable">                                    
                                    </ul>   
                                    <center> <p> Drag any terms here back to center list to keep</p>  </center>     
                                </div>	

                            </div>	
                        </div>   
           

                {% endfor %}                          

  
                    <h3>anemia</h3>
                        <div id="container1-1" >
                            <div id="steps1-1">

                                <ul id="sortable1-1" class="connectedSortable2-1">
                                  <li class="ui-state-default" id="start1-1" >abiraterone 267</li>
                                  <li class="ui-state-default" id="start1-1" >mhspc 267</li>
                                  <li class="ui-state-default" id="start1-1" >data 92</li>
                                  <li class="ui-state-default" id="start1-1" >chemo 83</li>
                                  <li class="ui-state-default" id="start1-1" >mcrpc 67</li>    
                                  <li class="ui-state-default" id="start1-1" >docetaxel 66</li>   
                                  <li class="ui-state-default" id="start1-1" >enzalutimide 63</li>                                             
                                </ul>   
                                Drag here to add this to stop words
                                <ul id="sortable2-1" class="connectedSortable2-1">                                 
                                </ul>
                             </div>
                        
                        </div>               

                </div>
            </div>
            
 		</div>
	</div>

    
		{% block tab_block         %}{% endblock tab_block %}
		{% block body_block        %}{% endblock body_block %}

     
<SCRIPT>
    $( "#maintabs" ).tabs();
    $( "#accordion" ).accordion();    
      
    // yes global variable 
    var delthing;


                    
    $("#sortable2, #sortable1").sortable({
            connectWith:    ".connectedSortable"
        });
 
    $( "#sortable2-1, #sortable1-1" ).sortable({
      connectWith: ".connectedSortable2-1"
    });
        

    $( "#loadfiles" ).selectmenu();   

	{% block tail_script_block %}{% endblock tail_script_block %}
    <!-- 4 include the jQuery library -->
   // 6 create an instance when the DOM is ready


		</SCRIPT>
    </body>
</html>