{{

import json
f = open('C:\\Users\\doug\\Documents\\CoffeeCup Software\\My Website\\experiment1.json', 'r')
thingy = json.load(f)

meta = thingy[0]

print(
'  <div id="container" role="main">\n',\
'    <div id="jstree">\n',\
    )
    #
    #   <!-- in this example the tree is populated from inline HTML -->
    #   <ul>
    #     <li id = "child_node_1" >Experiment 1
    #       <ul>
    #         <li id="child_node_1_1">Filtering</li>
    #         <li id="child_node_1_2">Preprocessing</li>
    #         <li id="child_node_1_3">Gene List</li>
  	# 	    <li id="child_node_1_4">Gene Family</li>
	 #  		<li id="child_node_1_5">Clusters
		# 	<ul>
  	# 	    		  <li id="child_node_1_clus1">Cluster 1</li>
  	# 	    		  <li id="child_node_1_clus2">Cluster 2</li>
		# 	</ul>
		# 	</li>
		#   </ul>
    #     </li>
    #     <li id = "child_node_2" >Experiment 2
  	#     <ul>
    #         <li id="child_node_2_1">Filtering</li>
    #         <li id="child_node_2_2">Preprocessing</li>
    #       </ul>
  	#   </li>
    #   </ul>

print('<ul>')
print('<li id = "child_{0}"> {0}'.format(meta['experiment']))
print('<ul>')
#print(meta['experiment'])
for steps in sorted(meta['steps']):

    #print(steps)
    #print('8*8*8*8*8*8*8*8*8*8')

    for step in sorted(steps):
        #print(step)
        print('<li id="child_{0}_{1}">'.format(meta['experiment'],step),end='')
        stepdetail = steps[step]
        #print(stepdetail)
        #print()
        stepcontents = stepdetail[0]
        print(stepcontents['name'],end='')
        resultlist = stepcontents['results'][0]
        #resultlistdetail = resultlist[]
        #print(resultlist)
        list = 0
        for thing in sorted(resultlist):
            #print(thing,end='')
            #print(':',end='')
            #print(resultlist[thing])
            if('graphic' in thing):
                if(list == 0):
                    list = 1
                    print('\n<ul>')
                print('<li id="child_{0}_{1}_{2}">{2}</li>'.format(meta['experiment'], step,thing))
        if(list > 0):
            print('\n</ul>')
        print('\n</li>')

    print('</li>')

print('</ul>')

print('</div>')
print('<div id="data">')
print('<div class="content code" style="display:none;"><textarea id="code" readonly="readonly"></textarea></div>')
print('<div class="content folder" style="display:none;"></div>')
print(
    '<div class="content image" style="display:none; position:relative;"><img src="" alt="" style="display:block; ',end='')
print ('position:absolute; left:50%; top:50%; padding:0; max-height:90%; max-width:90%;" /></div>')
print('<div class="content default" style="text-align:center;">No Results Selected</div>')
print('</div>')

print('</div>\n')

#print(
#  '\n', \
#  '<!-- 4 include the jQuery library -->\n', \
#  '<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/1.12.1/jquery.min.js"></script>\n', \
#  '<!-- 5 include the minified jstree source -->\n', \
#  '<script src="https://cdnjs.cloudflare.com/ajax/libs/jstree/3.2.1/jstree.min.js"></script>\n', \
#  '<script>\n', \
#  '$(function () {\n', \
#  '  // 6 create an instance when the DOM is ready\n', \
#  '  $(\'#jstree\').jstree();\n', \
#      )

for steps in sorted(meta['steps']):

    # print(steps)

    # generate top level information
    print('$(\'#jstree\').on("changed.jstree", function (e, data) {')
    print('console.log(data.selected);')
    print('var')
    print('i, j, r = [];')
    print('i = 0')
    print('$(\'#data\').html(data.instance.get_node(data.selected[i]).text);')
    print('var thing = data.instance.get_node(data.selected[i])')
    print('if (thing.id === "child_{0}") '.format(meta['experiment']),end='')
    print('{')
    print('$(\'#data\').html(\'<table id="resultstab" ></table>\')')
    for thing in sorted(meta):
        if(thing != 'steps'):
            print('$(\'#resultstab\').append(\'<tr ><td>{0}</td><td>{1}</td></tr>\')'.format(thing,meta[thing]));
    print('}')

    for step in sorted(steps):
        #print( step)
        print('if (thing.id === "child_{0}_{1}") '.format(meta['experiment'],step), end='')
        print('{')
        print('$(\'#data\').html(\'<table id="resultstab" ></table>\')')
        #print(steps[step][0])
        items = steps[step][0]
        results = items['results'][0]
        for thing in sorted(results):
            #print(thing)
            if 'graphic' not in thing:
                print('$(\'#resultstab\').append(\'<tr ><td>{0}</td><td>{1}</td></tr>\')'.format(thing, results[thing]))
        print('}')
        for thing in sorted(results):
            if 'graphic' in thing:
                print('if (thing.id === "child_{0}_{1}_{2}") '.format(meta['experiment'], step,thing), end='')
                print('{')
                print('$(\'#data\').html(\'<img src="{0}" />\')'.format(results[thing]))
                print('}')
                #print('$(\'#data\').html(\'<table id="resultstab" ></table>\')')

    print('});')


        # print(step)
        #print('<li id="child_{0}_{1}">'.format(meta['experiment'],), end='')
        #stepdetail = steps[step]
        # print(stepdetail)
        # print()
        #stepcontents = stepdetail[0]
        #print(stepcontents['name'], end='')
        #resultlist = stepcontents['results'][0]
        # resultlistdetail = resultlist[]
        # print(resultlist)
        # for thing in resultlist:
        #     print(thing,end='')
        #     print(':',end='')
        #     print(resultlist[thing])

        # var
        # thing = data.instance.get_node(data.selected[i])
        # if (thing.id === "child_node_1") {
        # // $('#data').html('Exp1');
        # $('#copybutt').prop("hidden", false);
        # $('#delbutt').prop("hidden", false);
        # $('#data').html('<table id="resultstab" ><tr ><td>Date Last Run</td><td>01-01-2017</td></tr></table>');
        # $('#resultstab').append('<tr ><td>Filtering</td><td>Filter Results</td></tr>');
        # $('#resultstab').append('<tr ><td>Original Data set</td><td>sample1-5000UMI.csv</td></tr>');
        # $('#resultstab').append('<tr><td>Preprocessing</td><td>Preprocessing Results</td></tr>');
        # $('#resultstab').append('<tr><td>Clusters generated</td><td>2</td></tr>')

        #}
print('});')
print('</script>')
print('</body></html>')
}}