<!doctype html>
<html lang="us">
<head>
	<meta charset="utf-8">
	<title>Single Cell Transcriptomics Workbench</title>
	
	{% load static %}
	
	<link rel="stylesheet" type="text/css" href="{% static 'omics/css/jquery-ui.css' %}" />
	<link rel="stylesheet" type="text/css" href="{% static 'omics/css/jheatmap-1.0.0-min.css' %}" />
	
	<script src="{% static 'omics/js/jquery.js' %}"></script>
	<script src="{% static 'omics/js/jquery-ui.js' %}"</script>
	<script src="{% static 'omics/js/jheatmap-1.0.0-min.js' %}"</script>
	
	<script src="https://d3js.org/d3.v4.min.js"></script>
	<script src="http://vizjs.org/viz.v1.1.0.min.js"></script>
	<script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
	
    <script>
  $( function() {
    var availableTags = [
      "ActionScript",
      "AppleScript",
      "Asp",
      "BASIC",
      "C",
      "C++",
      "Clojure",
      "COBOL",
      "ColdFusion",
      "Erlang",
      "Fortran",
      "Groovy",
      "Haskell",
      "Java",
      "JavaScript",
      "Lisp",
      "Perl",
      "PHP",
      "Python",
      "Ruby",
      "Scala",
      "Scheme"
    ];
    $( "#tags" ).autocomplete({
      source: availableTags
    });
  } );
  </script>
    
	<style>
	#draggable1 {
    width: 100px;
    height: 100px;
    background: #ccc;
	}
	#draggable2 {
    width: 100px;
    height: 40px;
    background: #ccc;
	}

  #sortable { list-style-type: none; margin: 0; padding: 0; width: 60%; }
  #sortable li { margin: 0 3px 3px 3px; padding: 0.4em; padding-left: 1.5em; font-size: 1.4em; height: 50px; }
  #sortable li span { position: absolute; margin-left: -1.3em; }

</style>
</head>
<body>




<h1>Single Cell Transcriptomics</h1>

<!-- Tabs -->
<h2 class="demoHeaders">Workflow</h2>
<div id="tabs">
	<ul>
		<li><a href="#tabs-1">Loading</a></li>
        <li><a href="#tabs-genes">Gene Exclusions</a></li>
        <li><a href="#tabs-genefams">Family Exclusions</a></li>
		<li><a href="#tabs-2">PreProcessing</a></li>		
		<li><a href="#tabs-3">Filtering</a></li>
		<li><a href="#tabs-4">Processing</a></li>
		<li><a href="#tabs-5">Visualization</a></li>

	</ul>
	
	<div id="tabs-1">
	Upload Files<br>
	Choose File:<br>
	<button>Upload</button>
 	<script>
	$( "button" ).button();
	</script>
	</div>

    <div id="tabs-genes">
        <div class="ui-widget">
        <label for="tags">Genes: </label>
        <input id="tags">
        </div>
        <br>
        <button id="addgene" >AddToGeneList</button>
        <script>
        $( "button" ).button();
        </script>
        <br>
        <br>
        <br>
        <div id = "exlistgenediv"> 
            <label for="exclude">Excluded Genes</label>
            <select name="exglist" id="exglist" >	
            </select>		
        </div>
        <br>

        <button id="cleargene" >RemoveGene</button>
        <script>
        $( "button" ).button();
        </script>
        
        <button id="savegene" >SaveGeneList</button>
        <script>
        $( "button" ).button();
        </script>
        
        <button id="clearallgene" >ClearGeneList</button>
        <script>
        $( "button" ).button();
        </script>
        
    </div>
    
    <div id="tabs-genefams">
		<div id = "famlistdiv"> 
			<label for="fam">Families</label>
			<select name="famlist" id="famlist" >
			  <option selected="selected">Endogenous ligands</option>
			  <option>Long non-coding RNAs</option>
			  <option>Mitochondrially encoded ribosomal RNAs</option>			</select>		
        </div>
    <br>
    <button id="addfam" >AddToList</button>
 	<script>
	$( "button" ).button();
	</script>
    <br>
    <br>
    <div id = "exlistdiv"> 
        <label for="exclude">Excluded Families</label>
        <select name="exlist" id="exlist" >	
        </select>		
    </div>
    <br>

    <button id="clearfam" >RemoveFamily</button>
 	<script>
	$( "button" ).button();
	</script>
    
    <button id="savefam" >SaveList</button>
 	<script>
	$( "button" ).button();
	</script>
    
    <button id="clearall" >ClearList</button>
 	<script>
	$( "button" ).button();
	</script>
    
	</div>
    
    
	<div id="tabs-2">		
	Preprocessing and upfront analysis here
	<ul id="sortable">
	  <li class="ui-state-default">
		<div id = "normalm"> 
		 <fieldset>
			<label for="norm">normalization</label>
			<select name="normalize" id="normalize" >
			  <option selected="selected">None</option>
			  <option>Column Z-Score</option>
			  <option>Other</option>
			</select>		
		  </fieldset>
	  </div>
	  </li>
	  <li class="ui-state-default">
	  	<div id = "remgenes"> 
		 <fieldset>
			<label for="gene">Remove Selected Genes</label>
			<select name="genedelete" id="genedelete" >
			  <option>Gene List</option>
			  <option selected="selected">None</option>
			</select>		
		  </fieldset>
	  </div>
	  </li>
	  <li class="ui-state-default">
        <div id = "remfams"> 
        <fieldset>
        <label for="family">Remove Selected Families</label>
        <select name="famdelete" id="famdelete" >
          <option>Fam List</option>
          <option selected="selected">None</option>
        </select>		
      </fieldset>
	  </div>
</li>
	</ul>
 
	<!--> <script>$("#sortable").sortable();</script> </-->
	<button id="prepbutt" >Preprocess</button>
 	<script>
	$( "button" ).button()	
	</script>

	</div>

	<div id="tabs-3">		
		<!-- Slider -->
		<h2 class="demoHeaders">Gene Expression Level</h2>
	
		<img src="{% static 'omics/images/bell-curve.jpg' %}" style="width:800px;height:100px;">
		<div id="slider1"></div>
		<script>
		$( "#slider1" ).slider(
		
		{
        range: true,
        animate: true,
		values: [ 10, 25 ]
       }
		);
		</script>
		<h2 class="demoHeaders">Cell Expression Level</h2>
		<img src="{% static 'omics/images/bell-curve.jpg' %}" style="width:800px;height:100px;">
		<div id="slider2"></div>
		<script>
		$( "#slider2" ).slider(
		{
		range:true,
		animate: true,
		values: [ 10, 25 ]
		}
		);
		</script>
		<button id="filterbutt">Filter</button>
		<script>
		$( "button" ).button();
		</script>
	</div>
	
	<div id="tabs-4">
	<div id="workflowarea></div>
	<form id="workflowstart" class=""  method="post" action="workflow_url">  
	
	<button id="workbutt" >Start Workflow</button>
 	<script>
	$( "button" ).button();
	</script>
	
	</form>
	</div>
	</div>
	<div id="tabs-5">
		<div id="tabs2">
			<ul id='vizli'>
				<li><a href="#tabs2-1">ColStats</a></li>
				<li><a href="#tabs2-2">RowStats</a></li>
				<li><a href="#tabs2-3">Cluster1</a></li>
				<li><a href="#tabs2-4">Cluster2</a></li>
				<li><a href="#tabs2-5">Coexpression</a></li>
				<li><a href="#tabs2-6">Heat</a></li>
                <li><a href="#tabs2-7">Family Analysis</a></li>
			</ul>
			<div id="tabs2-1">
			<img src="{% static 'omics/images/dna.jpg' %}" >
			</div>
			<div id="tabs2-2">
			<img src="{% static 'omics/images/dna.jpg' %}" >
			</div>
			<div id="tabs2-3">
			<img src="{% static 'omics/images/Sample1QUBICClus1.png' %}" >
			<img src="{% static 'omics/images/samplenetworkfull.jpg' %}" >
			</div>
			<div id="tabs2-4">
			<img src="{% static 'omics/images/Sample1QUBICClus2.png' %}" >
			<img src="{% static 'omics/images/samplenetworkfull.jpg' %}" >
			</div>
			<div id="tabs2-5">		
			<div id="Coexpression"></div>
			</div>		
			<div id="tabs2-6">		
			<div id="heatmap"></div>
			</div>	
			<div id="tabs2-7">		
			<div id="familytab">
            </div>
			</div>	            
		</div>
	</div>
</div>


<script>

$( "#tabs" ).tabs();
$( "#tabs2" ).tabs();

       // <button id="addgene" >AddToGeneList</button>
       // <button id="cleargene" >RemoveGene</button>     
       // <button id="savegene" >SaveGeneList</button>
       // <button id="clearallgene" >ClearGeneList</button>
       
    // ################### gene exclusion buttons #################################
    function addGeneFilter() {
        console.log("add gene called")
        // need to check for empty value !
        var genesel = $("#tags").val();
        console.log(genesel)
        
        if(genesel.length > 0) {
        //need to check and see if already there    
            var index = $("#exglist").index(genesel);
            console.log(index)
            if(!$('#exglist').find("option:contains('" + genesel  + "')").length) {
                $("#exglist").append("<option>"+genesel+"</option>")
            }
        }
    }
    $(addgene).click(addGeneFilter);       

   
    function clearGeneFilter() {
        console.log("clear gene called")
        var genesel = $("#exglist :selected").text()
        // check for empty string
        if(genesel.length > 0) {
        console.log(genesel)
        $("#exglist :selected").remove()      
        }        
    }
    $(cleargene).click(clearGeneFilter); 
    
    function saveGeneFilter() {
        console.log("save gene called")
        
        var list = [];

        $("#exglist option").each(function() {
            list.push({
            "e" : $(this).val()
            })
        });
        console.log(list)
        //JSON.stringify(list, null, "  ");     
        console.log(JSON.stringify(list, null, "  ")); 
        //check for empty list
        if(list.length > 0) {
        $(".prepres").remove();
        $("#tabs-genes").append('<div class = "prepres"> <img  src="{% static 'omics/images/loading_img.gif' %}" ></div>');
        $(this).attr("disabled",true);        
            $.ajax({
                url: '/ajax/savegene_submit/',
                data: {
                  'list': JSON.stringify(list, null, "  ")
                },
                dataType: 'json',
                success: function (data) {
                    console.log("save gene"); 
                    $('#savegene').button( "option", "disabled", false );    
                    var response = data.response;   
                    $(".prepres").remove();    
                    alert('Saved')
                },
                error: function (data) {
                    console.log("error occured"); 
                    alert('Error occured');
                    $('#savegene').button( "option", "disabled", false );    
                    var response = data.response;   
                    $(".prepres").remove();                
                }
            });  
        } else {
        alert('Empty List')
        }
    }
    $(savegene).click(saveGeneFilter);   
    
    function clearAllGeneFilter() {
        console.log("clear all gene called")
    }
    $(clearallgene).click(clearAllGeneFilter);   

    // ###################### family exclusion filters ##########################
    function addFamFilter() {
        console.log("add fam called")
        var famsel = $("#famlist :selected").text()
        if(famsel.length > 0) {
            console.log(famsel)
            $("#exlist").append("<option>"+famsel+"</option>")
            $("#famlist :selected").remove()
        }
    }
    $(addfam).click(addFamFilter);

    function clearallFamFilter() {
        console.log("clearallFamFilter called")
    }
    $(clearall).click(clearallFamFilter);    
    
    function clearFamFilter() {
        console.log("clear fam called")
        var famsel = $("#exlist :selected").text()
        // check for empty string
        if(famsel.length > 0) {
        console.log(famsel)
        $("#famlist").append("<option>"+famsel+"</option>")
        $("#exlist :selected").remove()      
        }
    }
    $(clearfam).click(clearFamFilter);
    
    function saveFamFilter() {
        console.log("save fam called")
        var list = [];

        $("#exlist option").each(function() {
            list.push({
            "e" : $(this).val()
            })
        });
        console.log(list)
        //JSON.stringify(list, null, "  ");     
        console.log(JSON.stringify(list, null, "  "));    
        if(list.length > 0) {
            $(".prepres").remove();
            $("#tabs-genefams").append('<div class = "prepres"> <img  src="{% static 'omics/images/loading_img.gif' %}" ></div>');
            $('#savefam').button( "option", "disabled", true );
            //check for empty list
            $.ajax({
            url: '/ajax/savefam_submit/',
            data: {
              'list': JSON.stringify(list, null, "  ")
            },
            dataType: 'json',
            success: function (data) {
                console.log("save gene"); 
                $('#savefam').button( "option", "disabled", false );    
                var response = data.response;   
                $(".prepres").remove();     
                alert('Saved')                
            },
            error: function (data) {
                console.log("error occured"); 
                alert('Error occured');
                $('#savefam').button( "option", "disabled", false );    
                var response = data.response;   
                $(".prepres").remove();                
            }
                
            });  
        } else {
            alert('Empty list')
        }
    }
    $(savefam).click(saveFamFilter);    
    
    // ###########################################################################
	function prepit() { 
	//window.alert("alert"); 
	console.log("prepit");
	$(".prepres").remove();
	$("#tabs-2").append('<div class = "prepres"> <img  src="{% static 'omics/images/loading_img.gif' %}" ></div>');
	$(this).attr("disabled",true);
	
	$.ajax({
	url: '/ajax/prep_submit/',
	data: {
	  'username': 'test'
	},
	dataType: 'json',
	success: function (data) {
	console.log("prep called");
    $(".prepres").remove();    
    $('#prepbutt').button( "option", "disabled", false );    
    var response = data.response;   
    //console.log(response)
    $.each(data, function(key, value) {
    console.log(key, value);
    $("#tabs-2").append("<p class = 'prepres'>"+ value +'</p>');
    });
	},
    error: function (data) {
        console.log("error occured"); 
        alert('Error occured');
        $('#prepbutt').button( "option", "disabled", false );    
        var response = data.response;   
        $(".prepres").remove();                
    }
	});

	function doSomethingprep() {
	//do whatever you want here
	$(".prepres").remove();	   
	//$("#tabs-2").append('<div class = "prepres"> <img src="{% static 'omics/images/bell-curve.jpg' %}" style="width:800px;height:100px;"> </div>');
	$('#prepbutt').button( "option", "disabled", false );
	//console.log($('#prepbutt').button( "option", "disabled" ));
	}
	//setTimeout(doSomethingprep, 1000);	
	};
	$(prepbutt).click(prepit);

	function filterit() { 
	//window.alert("alert"); 
	console.log("filterit");
	// show results in placeholder
	$(".filtres").remove();
	$("#tabs-3").append('<div class = "filtres"> <img  src="{% static 'omics/images/loading_img.gif' %}" ></div>');
	$(this).attr("disabled",true);
	
	$.ajax({
	url: '/ajax/filt_submit/',
	data: {
	  'username': 'test'
	},
	dataType: 'json',
	success: function (data) {
		console.log("filtercalled");
        $(".filtres").remove();
	},
    error: function (data) {
        console.log("error occured"); 
        alert('Error occured');
        $('#filterbutt').button( "option", "disabled", false );      
        $(".filtres").remove();
    }    
	});	
	
	function doSomethingfilt() {
	   //do whatever you want here
	$(".filtres").remove();	   
	$("#tabs-3").append('<div class = "filtres"> <img src="{% static 'omics/images/bell-curve.jpg' %}" style="width:800px;height:100px;"> </div>');
	$('#filterbutt').button( "option", "disabled", false );
	console.log($('#filterbutt').button( "option", "disabled" ));
	}
	setTimeout(doSomethingfilt, 1000);
	};
	$(filterbutt).click(filterit);

    function populatefamtab(json) {
            jsstring = '<script>'
            jsstring = jsstring.concat('var trace1 = {');
            
            //build up X array
            jsstring = jsstring.concat(" x: [");
            var arrayLength = json.length;
            console.log(arrayLength)
            for (var i = 0; i< arrayLength;i++) {
            //console.log(history[i])
            jsstring = jsstring.concat('"', json[i]["Gene.family.description"], '",'  );
            //jsstring = jsstring.concat(",")
            }            
            jsstring = jsstring.concat("], ");
            //jsstring = jsstring.concat(" x: ['Doh', 'Feb', 'Mar', 'Apr', 'May', 'Jun', 'Jul', 'Aug', 'Sep', 'Oct', 'Nov', 'Dec'], ");

            // build up Y array
            jsstring = jsstring.concat(" y: [");
            //var arrayLength = history.length;
            //console.log(arrayLength)
            for (var i = 0; i< arrayLength;i++) {
            //console.log(history[i])
            jsstring = jsstring.concat(json[i]["sum.expression"],"," );
            //jsstring = jsstring.concat(",")
            }            
            jsstring = jsstring.concat("], ");
            //jsstring = jsstring.concat(" y: [20, 14, 25, 16, 18, 22, 19, 15, 12, 16, 14, 17], ");
            
            jsstring = jsstring.concat(" type: 'bar', name: 'Level', marker: { color: 'rgb(49,130,189)', opacity: 0.7 } };");
            jsstring = jsstring.concat("var data = [trace1];");
            jsstring = jsstring.concat("var layout = { title: 'family expresson levels', xaxis: { tickangle: -90 }, barmode: 'group' };");
            jsstring = jsstring.concat("Plotly.newPlot('familytab', data, layout);");
            jsstring = jsstring.concat("<\/script>");
            //console.log(jsstring);
            return(jsstring);
    };
    
    function makeTable(json) {
        console.log("makeTable");    
        var htmlstring = "<table>";
        
        var arrayLength = json.length;
        for (var i = 0; i< arrayLength;i++) {
        //console.log(history[i])
        htmlstring = htmlstring.concat('<tr><td><a href="http://pfam.xfam.org/family/PF',json[i]["Gene.family.ID"],'" target="_blank">',json[i]["Gene.family.description"],'</a></td></tr>');
        //jsstring = jsstring.concat(",")
        } 
        
        htmlstring = htmlstring.concat("</table>");
        //console.log(htmlstring)
        return(htmlstring)    
    }
    
	function workit() { 
	//window.alert("alert"); 
	console.log("workit");
	$(".workres").remove();
	$("#tabs-4").append('<div class = "workres"> <img  src="{% static 'omics/images/loading_img.gif' %}" ></div>');
	$(this).attr("disabled",true);
	
	$.ajax({
	url: '/ajax/proc_submit/',
	data: {
	  'username': 'test'
	},
	dataType: 'json',
	success: function (json) {
		console.log("process called");
		//console.log(json)
		var colstatsfile = json.histcolfile
		var rowstatsfile = json.histrowfile
        var familyheat   = json.heatmapfile
        var history      = json.history
        var jsonresults  = json.famdata.response
		console.log(colstatsfile)
		console.log(rowstatsfile)
        console.log(familyheat)
        var arrayLength = jsonresults.length;       
        
        console.log(arrayLength)
        //console.log(history[1])
        for (var i = 0; i < arrayLength; i++) {
        //alert(myStringArray[i]);
        console.log(history[i])
        }
        
        //send stuff to viz tabs
        if (rowstatsfile != 'NA') {
            $("#tabs2-1").html('"<img src="'+ rowstatsfile +'" ' + '>');
        }
        if (colstatsfile != 'NA') {
            $("#tabs2-2").html('"<img src="'+ colstatsfile +'" ' + '>');
        }
        if (familyheat != 'NA') {
            $("#tabs2-6").html('"<img src="'+ familyheat +'" ' + ' style="width:800px;height:600px;">');
        }      
        scriptthing = populatefamtab(jsonresults)
        
        $(".workres").remove();	 // remove the whole class  
        $("#tabs-4").append('<div class = "workres" id="workres"></div>');

        var arrayLength = history.length;
        
        for (var i = 0; i < arrayLength; i++) {
        //alert(myStringArray[i]);
        //console.log(history[i])
        $("#workres").append('<p>' + history[i] + '</p>')
        }
        //$("#tabs-4").append('<div class = "workres"> <img src="{% static 'omics/images/bell-curve.jpg' %}" style="width:800px;height:100px;"> </div>');
        //$("#workres").append('<img src="{% static 'omics/images/bell-curve.jpg' %}" style="width:800px;height:100px;"> </div>');
        $("#tabs2-7").append(scriptthing);
        var restable = makeTable(jsonresults);
        console.log(restable);
        $("#tabs2-7").append(restable);
        $('#workbutt').button( "option", "disabled", false );
        console.log($('#workbutt').button( "option", "disabled" ));

	},
    error: function (data) {
        console.log("error occured"); 
        alert('Error occured');
        $('#workbutt').button( "option", "disabled", false );    
        var response = data.response;   
        $(".workres").remove();                
    }    
	});	
	
	//function doSomethingfilt() {
	   //do whatever you want here
	//$(".workres").remove();	   
	//$("#tabs-4").append('<div class = "workres"> <img src="{% static 'omics/images/bell-curve.jpg' %}" style="width:800px;height:100px;"> </div>');
	//$('#workbutt').button( "option", "disabled", false );
	//console.log($('#workbutt').button( "option", "disabled" ));
	//}
	//setTimeout(doSomethingfilt, 3000);
	
	};
	$(workbutt).click(workit);


var data = [
["Fam1","Fam2",343000]
,["Fam1","Fam4",27000]
,["Fam1","Fam3",3000]
,["Fam1","Fam5",212000]
,["Fam2","Fam4",9000]
,["Fam2","Fam3",2000]
,["Fam2","Fam5",86000]
,["Fam2","Fam1",842000]
,["Fam5","Fam2",607000]
,["Fam5","Fam4",9000]
,["Fam5","Fam3",5000]
,["Fam5","Fam1",715000]
,["Fam4","Fam2",711000]
,["Fam4","Fam3",7000]
,["Fam4","Fam5",183000]
,["Fam4","Fam1",2104000]
,["Fam3","Fam2",621000]
,["Fam3","Fam4",9000]
,["Fam3","Fam5",777000]
,["Fam3","Fam1",1969000]
];

var colors = {
   "Fam1":"rgb(193,161,111)"
  ,"Fam2":"rgb(115,146,17)"
  ,"Fam5":"rgb(234,193,36)"
  ,"Fam4":"rgb(217,36,5)"
  ,"Fam3":"rgb(53,99,235)"
};

var sortOrder =["Fam5","Fam4","Fam1","Fam3","Fam2"];
function sort(a,b){ return d3.ascending(sortOrder.indexOf(a),sortOrder.indexOf(b)); }
function valueFormat(x){ return (d3.format(",")(x/1000))+"k";}

//var chi = viz.ch().data(data).padding(.05)
//      .source(d=>d[1])
//      .target(d=>d[0])
//      .sort(sort)
//	  .valueFormat(valueFormat)
//      .fill(function(d){ return colors[d];});

var che = viz.ch().data(data).padding(.05)
      .sort(sort)
	  .valueFormat(valueFormat)
      .fill(function(d){ return colors[d];});

var width=1200, height=600;
var svg = d3.select("#tabs2-5").append("svg").attr("height",height).attr("width",width);

svg.append("g").attr("transform", "translate(300,300)").call(che);
//svg.append("g").attr("transform", "translate(900,300)").call(chi);

//svg.append("text").attr("x",300).attr("y",50).text("Emigration").style("font-weight","bold")
//svg.append("text").attr("x",900).attr("y",50).text("Immigration").style("font-weight","bold")

// adjFam1t height of frame in bl.ocks.org

//d3.select(self.frameElement).style("height", height+"px").style("width", width+"px");



var data = [
  {
    z: [[1, 20, 30, 50, 1], [20, 1, 60, 80, 30], [30, 60, 1, -10, 20]],
    x: ['Monday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday'],
    y: ['Morning', 'Afternoon', 'Evening'],
    type: 'heatmap'
  }
];

Plotly.newPlot('heatmap', data);

</script>

</body>
</html>
