{% load static %}
{% load staticfiles %}
    
    <!DOCTYPE html>
<head>
  <link href="https://vjs.zencdn.net/7.4.1/video-js.css" rel="stylesheet">

  <!-- If you'd like to support IE8 (for Video.js versions prior to v7) -->
  <script src="https://vjs.zencdn.net/ie8/ie8-version/videojs-ie8.min.js"></script>
  <script src='https://vjs.zencdn.net/7.4.1/video.js'></script>
  <script src="https://code.jquery.com/jquery-1.12.4.js"></script> 

  <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>    
  <link   rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">     
  
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  
<style>
* {
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
}

/* Style the header */
header {
  background-color: #666;
  padding: 30px;
  text-align: center;
  font-size: 35px;
  color: white;
}

.word:hover {
   color: blue;
}

.word {
    display: inline;
}

.wordregular {
    color: black;
}


/* Create two columns/boxes that floats next to each other */
nav {
  float: left;
  width: 30%;
  height: 300px; /* only for demonstration, should be removed */
  background: #ccc;
  padding: 20px;
}

/* Style the list inside the menu */
nav ul {
  list-style-type: none;
  padding: 0;
}

article {
  float: left;
  padding: 20px;
  width: 70%;
  background-color: #f1f1f1;
  /* height: 300px; */  /* only for demonstration, should be removed */
  height: auto;
}

/* Clear floats after the columns */
section:after {
  content: "";
  display: table;
  clear: both;
}

/* Style the footer */
footer {
  background-color: #777;
  padding: 10px;
  text-align: center;
  color: white;
}

/* Responsive layout - makes the two columns/boxes stack on top of each other instead of next to each other, on small screens */
@media (max-width: 600px) {
  nav, article {
    width: 100%;
    height: auto;
  }
}
</style>
    
  
</head>

<body>

<header>
  <h2>Smart Maintenance Training</h2>
</header>

<section>
  <nav>
    <ul>
      <li>Sections</li>
      <li><a id = "un1" href="#">Four Stroke Cycle</a></li>
      <li><a id = "un2" href="#">Camshaft</a></li>
    </ul>
  </nav>
  
  <article>
  <video id='my-video' class='video-js' controls preload='auto' width='640' height='264' data-setup='{}'>
    <source src="{% static 'omics/data/motor_2.mp4' %}" type='video/mp4'>

    <p class='vjs-no-js'>
      To view this video please enable JavaScript, and consider upgrading to a web browser that
      <a href='https://videojs.com/html5-video-support/' target='_blank'>supports HTML5 video</a>
    </p>
  </video>
  Audio Requests
  <audio id="sound1" src= "{% static 'omics/data/camshaft.wav' %}"  preload="auto" onended="document.getElementById('un2').click();"></audio>
  <button onclick="document.getElementById('sound1').play();  ">Camshaft</button>
  <audio id="sound2" src= "{% static 'omics/data/fourstrokecycle2.wav' %}"  preload="auto" onended="document.getElementById('un1').click();"></audio>
  <button onclick="document.getElementById('sound2').play();  ">Four Stroke Cycle</button>  
  <button id="listenbutton" >Listen</button>
  <div id="indexin"></div>
  </article>
  <article>
  <div id = "transcript" name="text" > 
    
  </div>
  </article>
</section>  
  
<footer>
  <p>Footer</p>
</footer>  
  
<script>

$(function () {

    var vidText = 
    {"jobName":"tests1","accountId":"660955250303","results":{"transcripts":[{"transcript":"Engines. Reciprocating engines have several cylinders inside. Of those cylinders, fuel and air are mixed, compressed and then ignited. As this fuel air mixture is ignited, its explosive force moves the piston inward. These pistons are connected to a crankshaft, and when the pistons move in and out that causes the crankshaft to rotate. The propeller is connected to the crankshaft, so as the crank shaft rotates, so does the propeller. The cylinders undergo a continuous four stroke cycle. The four strokes are called intake compression power and exhaust the first stroke. The intake stroke is when the pissed and inside the cylinder moves away from the cylinder head. As the piston moves away, the intake valve opens and the fuel air mixture is sucked into the cylinders. Combustion chamber. Once the piston has reached the base of the cylinder, it's time for the second stroke compression. During this phase, the intake valve is closed and the piston reverses direction. Moving back towards the cylinder head. This compresses the fuel air mixture, since it has nowhere to escape. Once the piston approaches the top of the cylinder, we begin the third stroke power to spark plugs at the head of the cylinder each lead off a spark, which ignites the fuel mixture and makes it combust. This controlled explosion pushes the piston back inward towards the base of the cylinder, which in turn rotates the crankshaft and therefore the propeller. Finally, we reached the last stroke exhaust. During this phase, the exhaust valve opens and the piston moves back towards the cylinder head, pushing out the combusted gases commonly called exhaust. Then the process starts all over again, repeating the process thousands of times every minute on a typical four cylinder engine. Each one of the cylinders is in the middle of a different strokes. That way. One cylinder is always in the power stroke, and the engine is able to keep the crankshaft rotating, thereby allowing the remaining cylinders to go through their respective stroke. As we just saw in these four strokes, there are two valves at the head of each cylinder that open and close to allow the fuel mixture in and the exhaust gases out. But what controls those valves? That would be a camshaft. The camshaft is a rotating cylinder, situated above the crankshaft with various ob long lobes protruding from it. These lobes push on rods that connect Teo each valve. Pushing them open the valves or spring loaded and will return to the closed position is the camshaft loaves move away from their respective rod. Getting the valves tow open at the exact moment is very crucial for the engine to operate. Because of that, the camshaft is geared to the crankshaft so they will remain synchronized. The camshaft is geared to spend half a CZ fast as the crankshaft. This results in the valves opening twice during the four stroke cycle."}],"items":[{"start_time":"0.0","end_time":"0.78","alternatives":[{"confidence":"0.9824","content":"Engines"}],"type":"pronunciation"},{"alternatives":[{"confidence":null,"content":"."}],"type":"punctuation"},{"start_time":"1.98","end_time":"2.74","alternatives":[{"confidence":"1.0000","content":"Reciprocating"}],"type":"pronunciation"},{"start_time":"2.74","end_time":"3.12","alternatives":[{"confidence":"1.0000","content":"engines"}],"type":"pronunciation"},{"start_time":"3.12","end_time":"3.27","alternatives":[{"confidence":"1.0000","content":"have"}],"type":"pronunciation"},{"start_time":"3.27","end_time":"3.69","alternatives":[{"confidence":"1.0000","content":"several"}],"type":"pronunciation"},{"start_time":"3.69","end_time":"4.52","alternatives":[{"confidence":"1.0000","content":"cylinders"}],"type":"pronunciation"},{"start_time":"4.99","end_time":"5.54","alternatives":[{"confidence":"0.9995","content":"inside"}],"type":"pronunciation"},{"alternatives":[{"confidence":null,"content":"."}],"type":"punctuation"},{"start_time":"5.54","end_time":"5.62","alternatives":[{"confidence":"1.0000","content":"Of"}],"type":"pronunciation"},{"start_time":"5.62","end_time":"5.82","alternatives":[{"confidence":"1.0000","content":"those"}],"type":"pronunciation"},{"start_time":"5.82","end_time":"6.44","alternatives":[{"confidence":"1.0000","content":"cylinders"}],"type":"pronunciation"},{"alternatives":[{"confidence":null,"content":","}],"type":"punctuation"},{"start_time":"6.57","end_time":"7.12","alternatives":[{"confidence":"1.0000","content":"fuel"}],"type":"pronunciation"},{"start_time":"7.12","end_time":"7.33","alternatives":[{"confidence":"1.0000","content":"and"}],"type":"pronunciation"},{"start_time":"7.34","end_time":"7.76","alternatives":[{"confidence":"1.0000","content":"air"}],"type":"pronunciation"},{"start_time":"7.76","end_time":"7.94","alternatives":[{"confidence":"1.0000","content":"are"}],"type":"pronunciation"},{"start_time":"7.94","end_time":"8.54","alternatives":[{"confidence":"1.0000","content":"mixed"}],"type":"pronunciation"},{"alternatives":[{"confidence":null,"content":","}],"type":"punctuation"},{"start_time":"8.75","end_time":"9.57","alternatives":[{"confidence":"1.0000","content":"compressed"}],"type":"pronunciation"},{"start_time":"9.61","end_time":"9.88","alternatives":[{"confidence":"1.0000","content":"and"}],"type":"pronunciation"},{"start_time":"9.88","end_time":"9.99","alternatives":[{"confidence":"0.9997","content":"then"}],"type":"pronunciation"},{"start_time":"9.99","end_time":"10.69","alternatives":[{"confidence":"1.0000","content":"ignited"}],"type":"pronunciation"},{"alternatives":[{"confidence":null,"content":"."}],"type":"punctuation"},{"start_time":"11.19","end_time":"11.43","alternatives":[{"confidence":"1.0000","content":"As"}],"type":"pronunciation"},{"start_time":"11.43","end_time":"11.67","alternatives":[{"confidence":"1.0000","content":"this"}],"type":"pronunciation"},{"start_time":"11.67","end_time":"12.12","alternatives":[{"confidence":"1.0000","content":"fuel"}],"type":"pronunciation"},{"start_time":"12.12","end_time":"12.34","alternatives":[{"confidence":"1.0000","content":"air"}],"type":"pronunciation"},{"start_time":"12.34","end_time":"12.81","alternatives":[{"confidence":"1.0000","content":"mixture"}],"type":"pronunciation"},{"start_time":"12.81","end_time":"12.94","alternatives":[{"confidence":"0.8223","content":"is"}],"type":"pronunciation"},{"start_time":"12.94","end_time":"13.59","alternatives":[{"confidence":"1.0000","content":"ignited"}],"type":"pronunciation"},{"alternatives":[{"confidence":null,"content":","}],"type":"punctuation"},{"start_time":"13.75","end_time":"13.94","alternatives":[{"confidence":"0.9076","content":"its"}],"type":"pronunciation"},{"start_time":"13.94","end_time":"14.56","alternatives":[{"confidence":"1.0000","content":"explosive"}],"type":"pronunciation"},{"start_time":"14.56","end_time":"14.99","alternatives":[{"confidence":"1.0000","content":"force"}],"type":"pronunciation"},{"start_time":"14.99","end_time":"15.5","alternatives":[{"confidence":"1.0000","content":"moves"}],"type":"pronunciation"},{"start_time":"15.5","end_time":"15.62","alternatives":[{"confidence":"1.0000","content":"the"}],"type":"pronunciation"},{"start_time":"15.62","end_time":"16.18","alternatives":[{"confidence":"1.0000","content":"piston"}],"type":"pronunciation"},{"start_time":"16.19","end_time":"16.85","alternatives":[{"confidence":"0.6922","content":"inward"}],"type":"pronunciation"},{"alternatives":[{"confidence":null,"content":"."}],"type":"punctuation"},{"start_time":"17.31","end_time":"17.59","alternatives":[{"confidence":"1.0000","content":"These"}],"type":"pronunciation"},{"start_time":"17.59","end_time":"18.2","alternatives":[{"confidence":"0.9997","content":"pistons"}],"type":"pronunciation"},{"start_time":"18.21","end_time":"18.47","alternatives":[{"confidence":"1.0000","content":"are"}],"type":"pronunciation"},{"start_time":"18.47","end_time":"18.9","alternatives":[{"confidence":"1.0000","content":"connected"}],"type":"pronunciation"},{"start_time":"18.9","end_time":"19.02","alternatives":[{"confidence":"1.0000","content":"to"}],"type":"pronunciation"},{"start_time":"19.02","end_time":"19.09","alternatives":[{"confidence":"1.0000","content":"a"}],"type":"pronunciation"},{"start_time":"19.09","end_time":"19.96","alternatives":[{"confidence":"0.9885","content":"crankshaft"}],"type":"pronunciation"},{"alternatives":[{"confidence":null,"content":","}],"type":"punctuation"},{"start_time":"20.11","end_time":"20.39","alternatives":[{"confidence":"1.0000","content":"and"}],"type":"pronunciation"},{"start_time":"20.39","end_time":"20.49","alternatives":[{"confidence":"1.0000","content":"when"}],"type":"pronunciation"},{"start_time":"20.49","end_time":"20.59","alternatives":[{"confidence":"1.0000","content":"the"}],"type":"pronunciation"},{"start_time":"20.59","end_time":"21.05","alternatives":[{"confidence":"0.9979","content":"pistons"}],"type":"pronunciation"},{"start_time":"21.05","end_time":"21.32","alternatives":[{"confidence":"0.9925","content":"move"}],"type":"pronunciation"},{"start_time":"21.33","end_time":"21.72","alternatives":[{"confidence":"1.0000","content":"in"}],"type":"pronunciation"},{"start_time":"21.72","end_time":"21.87","alternatives":[{"confidence":"1.0000","content":"and"}],"type":"pronunciation"},{"start_time":"21.88","end_time":"22.33","alternatives":[{"confidence":"1.0000","content":"out"}],"type":"pronunciation"},{"start_time":"22.52","end_time":"22.93","alternatives":[{"confidence":"1.0000","content":"that"}],"type":"pronunciation"},{"start_time":"22.94","end_time":"23.42","alternatives":[{"confidence":"0.9994","content":"causes"}],"type":"pronunciation"},{"start_time":"23.42","end_time":"23.54","alternatives":[{"confidence":"1.0000","content":"the"}],"type":"pronunciation"},{"start_time":"23.54","end_time":"24.18","alternatives":[{"confidence":"0.9709","content":"crankshaft"}],"type":"pronunciation"},{"start_time":"24.18","end_time":"24.3","alternatives":[{"confidence":"1.0000","content":"to"}],"type":"pronunciation"},{"start_time":"24.3","end_time":"24.96","alternatives":[{"confidence":"1.0000","content":"rotate"}],"type":"pronunciation"},{"alternatives":[{"confidence":null,"content":"."}],"type":"punctuation"},{"start_time":"25.45","end_time":"25.59","alternatives":[{"confidence":"1.0000","content":"The"}],"type":"pronunciation"},{"start_time":"25.59","end_time":"26.18","alternatives":[{"confidence":"0.9847","content":"propeller"}],"type":"pronunciation"},{"start_time":"26.29","end_time":"26.47","alternatives":[{"confidence":"1.0000","content":"is"}],"type":"pronunciation"},{"start_time":"26.47","end_time":"26.98","alternatives":[{"confidence":"1.0000","content":"connected"}],"type":"pronunciation"},{"start_time":"26.98","end_time":"27.05","alternatives":[{"confidence":"1.0000","content":"to"}],"type":"pronunciation"},{"start_time":"27.05","end_time":"27.13","alternatives":[{"confidence":"1.0000","content":"the"}],"type":"pronunciation"},{"start_time":"27.13","end_time":"27.88","alternatives":[{"confidence":"0.8101","content":"crankshaft"}],"type":"pronunciation"},{"alternatives":[{"confidence":null,"content":","}],"type":"punctuation"},{"start_time":"28.05","end_time":"28.26","alternatives":[{"confidence":"0.9813","content":"so"}],"type":"pronunciation"},{"start_time":"28.26","end_time":"28.4","alternatives":[{"confidence":"0.9944","content":"as"}],"type":"pronunciation"},{"start_time":"28.4","end_time":"28.49","alternatives":[{"confidence":"1.0000","content":"the"}],"type":"pronunciation"},{"start_time":"28.49","end_time":"28.78","alternatives":[{"confidence":"0.7982","content":"crank"}],"type":"pronunciation"},{"start_time":"28.78","end_time":"29.06","alternatives":[{"confidence":"0.7982","content":"shaft"}],"type":"pronunciation"},{"start_time":"29.06","end_time":"29.68","alternatives":[{"confidence":"1.0000","content":"rotates"}],"type":"pronunciation"},{"alternatives":[{"confidence":null,"content":","}],"type":"punctuation"},{"start_time":"29.74","end_time":"30.29","alternatives":[{"confidence":"1.0000","content":"so"}],"type":"pronunciation"},{"start_time":"30.29","end_time":"30.53","alternatives":[{"confidence":"1.0000","content":"does"}],"type":"pronunciation"},{"start_time":"30.53","end_time":"30.64","alternatives":[{"confidence":"1.0000","content":"the"}],"type":"pronunciation"},{"start_time":"30.64","end_time":"31.18","alternatives":[{"confidence":"0.9840","content":"propeller"}],"type":"pronunciation"},{"alternatives":[{"confidence":null,"content":"."}],"type":"punctuation"},{"start_time":"32.24","end_time":"32.39","alternatives":[{"confidence":"1.0000","content":"The"}],"type":"pronunciation"},{"start_time":"32.39","end_time":"32.96","alternatives":[{"confidence":"1.0000","content":"cylinders"}],"type":"pronunciation"},{"start_time":"32.96","end_time":"33.45","alternatives":[{"confidence":"0.9950","content":"undergo"}],"type":"pronunciation"},{"start_time":"33.45","end_time":"33.52","alternatives":[{"confidence":"1.0000","content":"a"}],"type":"pronunciation"},{"start_time":"33.52","end_time":"34.32","alternatives":[{"confidence":"1.0000","content":"continuous"}],"type":"pronunciation"},{"start_time":"34.32","end_time":"34.68","alternatives":[{"confidence":"0.9500","content":"four"}],"type":"pronunciation"},{"start_time":"34.68","end_time":"35.07","alternatives":[{"confidence":"0.9885","content":"stroke"}],"type":"pronunciation"},{"start_time":"35.07","end_time":"35.64","alternatives":[{"confidence":"1.0000","content":"cycle"}],"type":"pronunciation"},{"alternatives":[{"confidence":null,"content":"."}],"type":"punctuation"},{"start_time":"35.97","end_time":"36.13","alternatives":[{"confidence":"1.0000","content":"The"}],"type":"pronunciation"},{"start_time":"36.13","end_time":"36.36","alternatives":[{"confidence":"0.9971","content":"four"}],"type":"pronunciation"},{"start_time":"36.36","end_time":"36.86","alternatives":[{"confidence":"1.0000","content":"strokes"}],"type":"pronunciation"},{"start_time":"36.87","end_time":"37.2","alternatives":[{"confidence":"0.9982","content":"are"}],"type":"pronunciation"},{"start_time":"37.2","end_time":"37.54","alternatives":[{"confidence":"1.0000","content":"called"}],"type":"pronunciation"},{"start_time":"37.55","end_time":"38.25","alternatives":[{"confidence":"0.9991","content":"intake"}],"type":"pronunciation"},{"start_time":"38.69","end_time":"39.57","alternatives":[{"confidence":"1.0000","content":"compression"}],"type":"pronunciation"},{"start_time":"40.03","end_time":"40.65","alternatives":[{"confidence":"1.0000","content":"power"}],"type":"pronunciation"},{"start_time":"40.74","end_time":"41.17","alternatives":[{"confidence":"1.0000","content":"and"}],"type":"pronunciation"},{"start_time":"41.17","end_time":"41.88","alternatives":[{"confidence":"1.0000","content":"exhaust"}],"type":"pronunciation"},{"start_time":"42.27","end_time":"42.46","alternatives":[{"confidence":"1.0000","content":"the"}],"type":"pronunciation"},{"start_time":"42.46","end_time":"42.81","alternatives":[{"confidence":"1.0000","content":"first"}],"type":"pronunciation"},{"start_time":"42.81","end_time":"43.4","alternatives":[{"confidence":"1.0000","content":"stroke"}],"type":"pronunciation"},{"alternatives":[{"confidence":null,"content":"."}],"type":"punctuation"},{"start_time":"43.49","end_time":"43.74","alternatives":[{"confidence":"1.0000","content":"The"}],"type":"pronunciation"},{"start_time":"43.74","end_time":"44.15","alternatives":[{"confidence":"0.5304","content":"intake"}],"type":"pronunciation"},{"start_time":"44.15","end_time":"44.59","alternatives":[{"confidence":"1.0000","content":"stroke"}],"type":"pronunciation"},{"start_time":"44.78","end_time":"44.95","alternatives":[{"confidence":"1.0000","content":"is"}],"type":"pronunciation"},{"start_time":"44.95","end_time":"45.12","alternatives":[{"confidence":"1.0000","content":"when"}],"type":"pronunciation"},{"start_time":"45.12","end_time":"45.22","alternatives":[{"confidence":"1.0000","content":"the"}],"type":"pronunciation"},{"start_time":"45.22","end_time":"45.6","alternatives":[{"confidence":"0.9953","content":"pissed"}],"type":"pronunciation"},{"start_time":"45.6","end_time":"45.7","alternatives":[{"confidence":"0.9965","content":"and"}],"type":"pronunciation"},{"start_time":"45.7","end_time":"46.13","alternatives":[{"confidence":"1.0000","content":"inside"}],"type":"pronunciation"},{"start_time":"46.13","end_time":"46.22","alternatives":[{"confidence":"1.0000","content":"the"}],"type":"pronunciation"},{"start_time":"46.22","end_time":"46.71","alternatives":[{"confidence":"1.0000","content":"cylinder"}],"type":"pronunciation"},{"start_time":"46.71","end_time":"47.03","alternatives":[{"confidence":"1.0000","content":"moves"}],"type":"pronunciation"},{"start_time":"47.03","end_time":"47.48","alternatives":[{"confidence":"1.0000","content":"away"}],"type":"pronunciation"},{"start_time":"47.48","end_time":"47.68","alternatives":[{"confidence":"1.0000","content":"from"}],"type":"pronunciation"},{"start_time":"47.68","end_time":"47.77","alternatives":[{"confidence":"1.0000","content":"the"}],"type":"pronunciation"},{"start_time":"47.77","end_time":"48.36","alternatives":[{"confidence":"1.0000","content":"cylinder"}],"type":"pronunciation"},{"start_time":"48.36","end_time":"48.85","alternatives":[{"confidence":"1.0000","content":"head"}],"type":"pronunciation"},{"alternatives":[{"confidence":null,"content":"."}],"type":"punctuation"},{"start_time":"49.34","end_time":"49.51","alternatives":[{"confidence":"0.9992","content":"As"}],"type":"pronunciation"},{"start_time":"49.51","end_time":"49.6","alternatives":[{"confidence":"1.0000","content":"the"}],"type":"pronunciation"},{"start_time":"49.6","end_time":"49.92","alternatives":[{"confidence":"1.0000","content":"piston"}],"type":"pronunciation"},{"start_time":"49.92","end_time":"50.15","alternatives":[{"confidence":"1.0000","content":"moves"}],"type":"pronunciation"},{"start_time":"50.15","end_time":"50.63","alternatives":[{"confidence":"1.0000","content":"away"}],"type":"pronunciation"},{"alternatives":[{"confidence":null,"content":","}],"type":"punctuation"},{"start_time":"50.75","end_time":"50.94","alternatives":[{"confidence":"1.0000","content":"the"}],"type":"pronunciation"},{"start_time":"50.94","end_time":"51.27","alternatives":[{"confidence":"1.0000","content":"intake"}],"type":"pronunciation"},{"start_time":"51.27","end_time":"51.58","alternatives":[{"confidence":"1.0000","content":"valve"}],"type":"pronunciation"},{"start_time":"51.58","end_time":"52.23","alternatives":[{"confidence":"1.0000","content":"opens"}],"type":"pronunciation"},{"start_time":"52.27","end_time":"52.49","alternatives":[{"confidence":"1.0000","content":"and"}],"type":"pronunciation"},{"start_time":"52.49","end_time":"52.57","alternatives":[{"confidence":"1.0000","content":"the"}],"type":"pronunciation"},{"start_time":"52.57","end_time":"52.92","alternatives":[{"confidence":"1.0000","content":"fuel"}],"type":"pronunciation"},{"start_time":"52.92","end_time":"53.08","alternatives":[{"confidence":"1.0000","content":"air"}],"type":"pronunciation"},{"start_time":"53.08","end_time":"53.5","alternatives":[{"confidence":"1.0000","content":"mixture"}],"type":"pronunciation"},{"start_time":"53.5","end_time":"53.64","alternatives":[{"confidence":"0.9982","content":"is"}],"type":"pronunciation"},{"start_time":"53.64","end_time":"54.12","alternatives":[{"confidence":"1.0000","content":"sucked"}],"type":"pronunciation"},{"start_time":"54.13","end_time":"54.42","alternatives":[{"confidence":"1.0000","content":"into"}],"type":"pronunciation"},{"start_time":"54.42","end_time":"54.53","alternatives":[{"confidence":"1.0000","content":"the"}],"type":"pronunciation"},{"start_time":"54.53","end_time":"55.08","alternatives":[{"confidence":"0.9996","content":"cylinders"}],"type":"pronunciation"},{"alternatives":[{"confidence":null,"content":"."}],"type":"punctuation"},{"start_time":"55.08","end_time":"55.61","alternatives":[{"confidence":"1.0000","content":"Combustion"}],"type":"pronunciation"},{"start_time":"55.61","end_time":"56.11","alternatives":[{"confidence":"1.0000","content":"chamber"}],"type":"pronunciation"},{"alternatives":[{"confidence":null,"content":"."}],"type":"punctuation"},{"start_time":"56.44","end_time":"56.87","alternatives":[{"confidence":"1.0000","content":"Once"}],"type":"pronunciation"},{"start_time":"56.87","end_time":"56.98","alternatives":[{"confidence":"1.0000","content":"the"}],"type":"pronunciation"},{"start_time":"56.98","end_time":"57.37","alternatives":[{"confidence":"0.9938","content":"piston"}],"type":"pronunciation"},{"start_time":"57.37","end_time":"57.51","alternatives":[{"confidence":"0.9980","content":"has"}],"type":"pronunciation"},{"start_time":"57.51","end_time":"57.85","alternatives":[{"confidence":"1.0000","content":"reached"}],"type":"pronunciation"},{"start_time":"57.85","end_time":"57.94","alternatives":[{"confidence":"1.0000","content":"the"}],"type":"pronunciation"},{"start_time":"57.94","end_time":"58.19","alternatives":[{"confidence":"0.9951","content":"base"}],"type":"pronunciation"},{"start_time":"58.19","end_time":"58.27","alternatives":[{"confidence":"1.0000","content":"of"}],"type":"pronunciation"},{"start_time":"58.27","end_time":"58.37","alternatives":[{"confidence":"1.0000","content":"the"}],"type":"pronunciation"},{"start_time":"58.37","end_time":"58.9","alternatives":[{"confidence":"0.9925","content":"cylinder"}],"type":"pronunciation"},{"alternatives":[{"confidence":null,"content":","}],"type":"punctuation"},{"start_time":"59.04","end_time":"59.31","alternatives":[{"confidence":"0.9972","content":"it's"}],"type":"pronunciation"},{"start_time":"59.31","end_time":"59.68","alternatives":[{"confidence":"1.0000","content":"time"}],"type":"pronunciation"},{"start_time":"59.68","end_time":"59.79","alternatives":[{"confidence":"1.0000","content":"for"}],"type":"pronunciation"},{"start_time":"59.79","end_time":"59.89","alternatives":[{"confidence":"1.0000","content":"the"}],"type":"pronunciation"},{"start_time":"59.89","end_time":"60.36","alternatives":[{"confidence":"1.0000","content":"second"}],"type":"pronunciation"},{"start_time":"60.36","end_time":"60.82","alternatives":[{"confidence":"1.0000","content":"stroke"}],"type":"pronunciation"},{"start_time":"61.02","end_time":"61.85","alternatives":[{"confidence":"0.9999","content":"compression"}],"type":"pronunciation"},{"alternatives":[{"confidence":null,"content":"."}],"type":"punctuation"},{"start_time":"62.24","end_time":"62.53","alternatives":[{"confidence":"1.0000","content":"During"}],"type":"pronunciation"},{"start_time":"62.53","end_time":"62.73","alternatives":[{"confidence":"1.0000","content":"this"}],"type":"pronunciation"},{"start_time":"62.73","end_time":"63.18","alternatives":[{"confidence":"1.0000","content":"phase"}],"type":"pronunciation"},{"alternatives":[{"confidence":null,"content":","}],"type":"punctuation"},{"start_time":"63.32","end_time":"63.54","alternatives":[{"confidence":"1.0000","content":"the"}],"type":"pronunciation"},{"start_time":"63.54","end_time":"63.91","alternatives":[{"confidence":"1.0000","content":"intake"}],"type":"pronunciation"},{"start_time":"63.91","end_time":"64.26","alternatives":[{"confidence":"0.9929","content":"valve"}],"type":"pronunciation"},{"start_time":"64.26","end_time":"64.39","alternatives":[{"confidence":"0.9892","content":"is"}],"type":"pronunciation"},{"start_time":"64.39","end_time":"65.05","alternatives":[{"confidence":"1.0000","content":"closed"}],"type":"pronunciation"},{"start_time":"65.13","end_time":"65.3","alternatives":[{"confidence":"1.0000","content":"and"}],"type":"pronunciation"},{"start_time":"65.3","end_time":"65.38","alternatives":[{"confidence":"1.0000","content":"the"}],"type":"pronunciation"},{"start_time":"65.38","end_time":"65.83","alternatives":[{"confidence":"1.0000","content":"piston"}],"type":"pronunciation"},{"start_time":"65.83","end_time":"66.37","alternatives":[{"confidence":"0.9997","content":"reverses"}],"type":"pronunciation"},{"start_time":"66.37","end_time":"67.14","alternatives":[{"confidence":"1.0000","content":"direction"}],"type":"pronunciation"},{"alternatives":[{"confidence":null,"content":"."}],"type":"punctuation"},{"start_time":"67.23","end_time":"67.62","alternatives":[{"confidence":"1.0000","content":"Moving"}],"type":"pronunciation"},{"start_time":"67.62","end_time":"67.96","alternatives":[{"confidence":"1.0000","content":"back"}],"type":"pronunciation"},{"start_time":"67.96","end_time":"68.58","alternatives":[{"confidence":"1.0000","content":"towards"}],"type":"pronunciation"},{"start_time":"68.58","end_time":"68.67","alternatives":[{"confidence":"1.0000","content":"the"}],"type":"pronunciation"},{"start_time":"68.67","end_time":"69.19","alternatives":[{"confidence":"1.0000","content":"cylinder"}],"type":"pronunciation"},{"start_time":"69.19","end_time":"69.62","alternatives":[{"confidence":"1.0000","content":"head"}],"type":"pronunciation"},{"alternatives":[{"confidence":null,"content":"."}],"type":"punctuation"},{"start_time":"70.01","end_time":"70.43","alternatives":[{"confidence":"1.0000","content":"This"}],"type":"pronunciation"},{"start_time":"70.43","end_time":"71.18","alternatives":[{"confidence":"0.9988","content":"compresses"}],"type":"pronunciation"},{"start_time":"71.18","end_time":"71.29","alternatives":[{"confidence":"1.0000","content":"the"}],"type":"pronunciation"},{"start_time":"71.29","end_time":"71.64","alternatives":[{"confidence":"1.0000","content":"fuel"}],"type":"pronunciation"},{"start_time":"71.64","end_time":"71.81","alternatives":[{"confidence":"1.0000","content":"air"}],"type":"pronunciation"},{"start_time":"71.81","end_time":"72.37","alternatives":[{"confidence":"1.0000","content":"mixture"}],"type":"pronunciation"},{"alternatives":[{"confidence":null,"content":","}],"type":"punctuation"},{"start_time":"72.52","end_time":"72.78","alternatives":[{"confidence":"0.9990","content":"since"}],"type":"pronunciation"},{"start_time":"72.78","end_time":"72.86","alternatives":[{"confidence":"1.0000","content":"it"}],"type":"pronunciation"},{"start_time":"72.86","end_time":"73.04","alternatives":[{"confidence":"1.0000","content":"has"}],"type":"pronunciation"},{"start_time":"73.04","end_time":"73.49","alternatives":[{"confidence":"0.9426","content":"nowhere"}],"type":"pronunciation"},{"start_time":"73.49","end_time":"73.66","alternatives":[{"confidence":"1.0000","content":"to"}],"type":"pronunciation"},{"start_time":"73.66","end_time":"74.15","alternatives":[{"confidence":"1.0000","content":"escape"}],"type":"pronunciation"},{"alternatives":[{"confidence":null,"content":"."}],"type":"punctuation"},{"start_time":"74.69","end_time":"75.2","alternatives":[{"confidence":"1.0000","content":"Once"}],"type":"pronunciation"},{"start_time":"75.2","end_time":"75.31","alternatives":[{"confidence":"1.0000","content":"the"}],"type":"pronunciation"},{"start_time":"75.31","end_time":"75.69","alternatives":[{"confidence":"1.0000","content":"piston"}],"type":"pronunciation"},{"start_time":"75.69","end_time":"76.14","alternatives":[{"confidence":"0.9518","content":"approaches"}],"type":"pronunciation"},{"start_time":"76.14","end_time":"76.24","alternatives":[{"confidence":"1.0000","content":"the"}],"type":"pronunciation"},{"start_time":"76.24","end_time":"76.51","alternatives":[{"confidence":"1.0000","content":"top"}],"type":"pronunciation"},{"start_time":"76.51","end_time":"76.57","alternatives":[{"confidence":"1.0000","content":"of"}],"type":"pronunciation"},{"start_time":"76.57","end_time":"76.65","alternatives":[{"confidence":"1.0000","content":"the"}],"type":"pronunciation"},{"start_time":"76.65","end_time":"77.25","alternatives":[{"confidence":"1.0000","content":"cylinder"}],"type":"pronunciation"},{"alternatives":[{"confidence":null,"content":","}],"type":"punctuation"},{"start_time":"77.27","end_time":"77.58","alternatives":[{"confidence":"1.0000","content":"we"}],"type":"pronunciation"},{"start_time":"77.58","end_time":"77.91","alternatives":[{"confidence":"1.0000","content":"begin"}],"type":"pronunciation"},{"start_time":"77.91","end_time":"78.02","alternatives":[{"confidence":"1.0000","content":"the"}],"type":"pronunciation"},{"start_time":"78.02","end_time":"78.45","alternatives":[{"confidence":"1.0000","content":"third"}],"type":"pronunciation"},{"start_time":"78.45","end_time":"78.95","alternatives":[{"confidence":"1.0000","content":"stroke"}],"type":"pronunciation"},{"start_time":"79.22","end_time":"79.82","alternatives":[{"confidence":"0.9986","content":"power"}],"type":"pronunciation"},{"start_time":"80.42","end_time":"80.62","alternatives":[{"confidence":"0.6236","content":"to"}],"type":"pronunciation"},{"start_time":"80.62","end_time":"80.99","alternatives":[{"confidence":"1.0000","content":"spark"}],"type":"pronunciation"},{"start_time":"80.99","end_time":"81.38","alternatives":[{"confidence":"0.9916","content":"plugs"}],"type":"pronunciation"},{"start_time":"81.38","end_time":"81.48","alternatives":[{"confidence":"0.9010","content":"at"}],"type":"pronunciation"},{"start_time":"81.48","end_time":"81.58","alternatives":[{"confidence":"1.0000","content":"the"}],"type":"pronunciation"},{"start_time":"81.58","end_time":"81.77","alternatives":[{"confidence":"1.0000","content":"head"}],"type":"pronunciation"},{"start_time":"81.77","end_time":"81.83","alternatives":[{"confidence":"1.0000","content":"of"}],"type":"pronunciation"},{"start_time":"81.83","end_time":"81.93","alternatives":[{"confidence":"1.0000","content":"the"}],"type":"pronunciation"},{"start_time":"81.93","end_time":"82.49","alternatives":[{"confidence":"1.0000","content":"cylinder"}],"type":"pronunciation"},{"start_time":"82.59","end_time":"82.99","alternatives":[{"confidence":"1.0000","content":"each"}],"type":"pronunciation"},{"start_time":"82.99","end_time":"83.16","alternatives":[{"confidence":"0.6026","content":"lead"}],"type":"pronunciation"},{"start_time":"83.16","end_time":"83.33","alternatives":[{"confidence":"0.9997","content":"off"}],"type":"pronunciation"},{"start_time":"83.33","end_time":"83.38","alternatives":[{"confidence":"1.0000","content":"a"}],"type":"pronunciation"},{"start_time":"83.38","end_time":"83.93","alternatives":[{"confidence":"1.0000","content":"spark"}],"type":"pronunciation"},{"alternatives":[{"confidence":null,"content":","}],"type":"punctuation"},{"start_time":"84.02","end_time":"84.34","alternatives":[{"confidence":"1.0000","content":"which"}],"type":"pronunciation"},{"start_time":"84.34","end_time":"84.8","alternatives":[{"confidence":"1.0000","content":"ignites"}],"type":"pronunciation"},{"start_time":"84.8","end_time":"84.92","alternatives":[{"confidence":"1.0000","content":"the"}],"type":"pronunciation"},{"start_time":"84.92","end_time":"85.18","alternatives":[{"confidence":"1.0000","content":"fuel"}],"type":"pronunciation"},{"start_time":"85.18","end_time":"85.58","alternatives":[{"confidence":"1.0000","content":"mixture"}],"type":"pronunciation"},{"start_time":"85.58","end_time":"85.68","alternatives":[{"confidence":"1.0000","content":"and"}],"type":"pronunciation"},{"start_time":"85.68","end_time":"85.9","alternatives":[{"confidence":"1.0000","content":"makes"}],"type":"pronunciation"},{"start_time":"85.9","end_time":"86.01","alternatives":[{"confidence":"1.0000","content":"it"}],"type":"pronunciation"},{"start_time":"86.01","end_time":"86.6","alternatives":[{"confidence":"0.9900","content":"combust"}],"type":"pronunciation"},{"alternatives":[{"confidence":null,"content":"."}],"type":"punctuation"},{"start_time":"86.93","end_time":"87.18","alternatives":[{"confidence":"1.0000","content":"This"}],"type":"pronunciation"},{"start_time":"87.18","end_time":"87.66","alternatives":[{"confidence":"0.9993","content":"controlled"}],"type":"pronunciation"},{"start_time":"87.66","end_time":"88.31","alternatives":[{"confidence":"1.0000","content":"explosion"}],"type":"pronunciation"},{"start_time":"88.31","end_time":"88.72","alternatives":[{"confidence":"1.0000","content":"pushes"}],"type":"pronunciation"},{"start_time":"88.72","end_time":"88.81","alternatives":[{"confidence":"1.0000","content":"the"}],"type":"pronunciation"},{"start_time":"88.81","end_time":"89.22","alternatives":[{"confidence":"1.0000","content":"piston"}],"type":"pronunciation"},{"start_time":"89.22","end_time":"89.57","alternatives":[{"confidence":"1.0000","content":"back"}],"type":"pronunciation"},{"start_time":"89.58","end_time":"90.08","alternatives":[{"confidence":"0.9995","content":"inward"}],"type":"pronunciation"},{"start_time":"90.08","end_time":"90.39","alternatives":[{"confidence":"1.0000","content":"towards"}],"type":"pronunciation"},{"start_time":"90.39","end_time":"90.51","alternatives":[{"confidence":"1.0000","content":"the"}],"type":"pronunciation"},{"start_time":"90.51","end_time":"90.8","alternatives":[{"confidence":"0.9992","content":"base"}],"type":"pronunciation"},{"start_time":"90.8","end_time":"90.87","alternatives":[{"confidence":"1.0000","content":"of"}],"type":"pronunciation"},{"start_time":"90.87","end_time":"90.96","alternatives":[{"confidence":"1.0000","content":"the"}],"type":"pronunciation"},{"start_time":"90.96","end_time":"91.49","alternatives":[{"confidence":"1.0000","content":"cylinder"}],"type":"pronunciation"},{"alternatives":[{"confidence":null,"content":","}],"type":"punctuation"},{"start_time":"91.67","end_time":"92.0","alternatives":[{"confidence":"1.0000","content":"which"}],"type":"pronunciation"},{"start_time":"92.0","end_time":"92.12","alternatives":[{"confidence":"1.0000","content":"in"}],"type":"pronunciation"},{"start_time":"92.12","end_time":"92.6","alternatives":[{"confidence":"1.0000","content":"turn"}],"type":"pronunciation"},{"start_time":"92.66","end_time":"93.38","alternatives":[{"confidence":"1.0000","content":"rotates"}],"type":"pronunciation"},{"start_time":"93.38","end_time":"93.5","alternatives":[{"confidence":"1.0000","content":"the"}],"type":"pronunciation"},{"start_time":"93.5","end_time":"94.36","alternatives":[{"confidence":"0.9651","content":"crankshaft"}],"type":"pronunciation"},{"start_time":"94.44","end_time":"94.64","alternatives":[{"confidence":"1.0000","content":"and"}],"type":"pronunciation"},{"start_time":"94.64","end_time":"95.49","alternatives":[{"confidence":"0.9814","content":"therefore"}],"type":"pronunciation"},{"start_time":"95.61","end_time":"95.79","alternatives":[{"confidence":"1.0000","content":"the"}],"type":"pronunciation"},{"start_time":"95.79","end_time":"96.45","alternatives":[{"confidence":"0.9840","content":"propeller"}],"type":"pronunciation"},{"alternatives":[{"confidence":null,"content":"."}],"type":"punctuation"},{"start_time":"97.04","end_time":"97.68","alternatives":[{"confidence":"1.0000","content":"Finally"}],"type":"pronunciation"},{"alternatives":[{"confidence":null,"content":","}],"type":"punctuation"},{"start_time":"97.69","end_time":"98.04","alternatives":[{"confidence":"1.0000","content":"we"}],"type":"pronunciation"},{"start_time":"98.04","end_time":"98.38","alternatives":[{"confidence":"0.9898","content":"reached"}],"type":"pronunciation"},{"start_time":"98.38","end_time":"98.52","alternatives":[{"confidence":"1.0000","content":"the"}],"type":"pronunciation"},{"start_time":"98.52","end_time":"98.85","alternatives":[{"confidence":"1.0000","content":"last"}],"type":"pronunciation"},{"start_time":"98.85","end_time":"99.27","alternatives":[{"confidence":"1.0000","content":"stroke"}],"type":"pronunciation"},{"start_time":"99.48","end_time":"100.27","alternatives":[{"confidence":"1.0000","content":"exhaust"}],"type":"pronunciation"},{"alternatives":[{"confidence":null,"content":"."}],"type":"punctuation"},{"start_time":"100.5","end_time":"100.85","alternatives":[{"confidence":"1.0000","content":"During"}],"type":"pronunciation"},{"start_time":"100.85","end_time":"101.07","alternatives":[{"confidence":"1.0000","content":"this"}],"type":"pronunciation"},{"start_time":"101.07","end_time":"101.5","alternatives":[{"confidence":"1.0000","content":"phase"}],"type":"pronunciation"},{"alternatives":[{"confidence":null,"content":","}],"type":"punctuation"},{"start_time":"101.6","end_time":"101.8","alternatives":[{"confidence":"1.0000","content":"the"}],"type":"pronunciation"},{"start_time":"101.8","end_time":"102.3","alternatives":[{"confidence":"1.0000","content":"exhaust"}],"type":"pronunciation"},{"start_time":"102.3","end_time":"102.73","alternatives":[{"confidence":"1.0000","content":"valve"}],"type":"pronunciation"},{"start_time":"102.74","end_time":"103.43","alternatives":[{"confidence":"1.0000","content":"opens"}],"type":"pronunciation"},{"start_time":"103.55","end_time":"103.73","alternatives":[{"confidence":"1.0000","content":"and"}],"type":"pronunciation"},{"start_time":"103.73","end_time":"103.81","alternatives":[{"confidence":"1.0000","content":"the"}],"type":"pronunciation"},{"start_time":"103.81","end_time":"104.25","alternatives":[{"confidence":"1.0000","content":"piston"}],"type":"pronunciation"},{"start_time":"104.25","end_time":"104.54","alternatives":[{"confidence":"1.0000","content":"moves"}],"type":"pronunciation"},{"start_time":"104.54","end_time":"105.0","alternatives":[{"confidence":"1.0000","content":"back"}],"type":"pronunciation"},{"start_time":"105.12","end_time":"105.57","alternatives":[{"confidence":"0.9993","content":"towards"}],"type":"pronunciation"},{"start_time":"105.57","end_time":"105.67","alternatives":[{"confidence":"1.0000","content":"the"}],"type":"pronunciation"},{"start_time":"105.67","end_time":"106.24","alternatives":[{"confidence":"1.0000","content":"cylinder"}],"type":"pronunciation"},{"start_time":"106.24","end_time":"106.63","alternatives":[{"confidence":"1.0000","content":"head"}],"type":"pronunciation"},{"alternatives":[{"confidence":null,"content":","}],"type":"punctuation"},{"start_time":"106.86","end_time":"107.23","alternatives":[{"confidence":"1.0000","content":"pushing"}],"type":"pronunciation"},{"start_time":"107.23","end_time":"107.35","alternatives":[{"confidence":"1.0000","content":"out"}],"type":"pronunciation"},{"start_time":"107.35","end_time":"107.43","alternatives":[{"confidence":"0.9857","content":"the"}],"type":"pronunciation"},{"start_time":"107.43","end_time":"107.92","alternatives":[{"confidence":"0.9935","content":"combusted"}],"type":"pronunciation"},{"start_time":"107.92","end_time":"108.48","alternatives":[{"confidence":"0.5684","content":"gases"}],"type":"pronunciation"},{"start_time":"108.48","end_time":"108.97","alternatives":[{"confidence":"1.0000","content":"commonly"}],"type":"pronunciation"},{"start_time":"108.97","end_time":"109.32","alternatives":[{"confidence":"1.0000","content":"called"}],"type":"pronunciation"},{"start_time":"109.32","end_time":"110.0","alternatives":[{"confidence":"0.9997","content":"exhaust"}],"type":"pronunciation"},{"alternatives":[{"confidence":null,"content":"."}],"type":"punctuation"},{"start_time":"110.32","end_time":"110.79","alternatives":[{"confidence":"1.0000","content":"Then"}],"type":"pronunciation"},{"start_time":"110.91","end_time":"111.09","alternatives":[{"confidence":"1.0000","content":"the"}],"type":"pronunciation"},{"start_time":"111.09","end_time":"111.56","alternatives":[{"confidence":"1.0000","content":"process"}],"type":"pronunciation"},{"start_time":"111.56","end_time":"111.93","alternatives":[{"confidence":"1.0000","content":"starts"}],"type":"pronunciation"},{"start_time":"111.93","end_time":"112.17","alternatives":[{"confidence":"1.0000","content":"all"}],"type":"pronunciation"},{"start_time":"112.17","end_time":"112.4","alternatives":[{"confidence":"1.0000","content":"over"}],"type":"pronunciation"},{"start_time":"112.4","end_time":"112.88","alternatives":[{"confidence":"1.0000","content":"again"}],"type":"pronunciation"},{"alternatives":[{"confidence":null,"content":","}],"type":"punctuation"},{"start_time":"113.08","end_time":"113.62","alternatives":[{"confidence":"0.9986","content":"repeating"}],"type":"pronunciation"},{"start_time":"113.62","end_time":"113.72","alternatives":[{"confidence":"1.0000","content":"the"}],"type":"pronunciation"},{"start_time":"113.72","end_time":"114.2","alternatives":[{"confidence":"1.0000","content":"process"}],"type":"pronunciation"},{"start_time":"114.2","end_time":"114.84","alternatives":[{"confidence":"1.0000","content":"thousands"}],"type":"pronunciation"},{"start_time":"114.84","end_time":"114.96","alternatives":[{"confidence":"1.0000","content":"of"}],"type":"pronunciation"},{"start_time":"114.96","end_time":"115.5","alternatives":[{"confidence":"1.0000","content":"times"}],"type":"pronunciation"},{"start_time":"115.59","end_time":"115.98","alternatives":[{"confidence":"1.0000","content":"every"}],"type":"pronunciation"},{"start_time":"115.98","end_time":"116.35","alternatives":[{"confidence":"1.0000","content":"minute"}],"type":"pronunciation"},{"start_time":"117.34","end_time":"117.57","alternatives":[{"confidence":"1.0000","content":"on"}],"type":"pronunciation"},{"start_time":"117.57","end_time":"117.63","alternatives":[{"confidence":"1.0000","content":"a"}],"type":"pronunciation"},{"start_time":"117.63","end_time":"118.1","alternatives":[{"confidence":"1.0000","content":"typical"}],"type":"pronunciation"},{"start_time":"118.1","end_time":"118.33","alternatives":[{"confidence":"0.9995","content":"four"}],"type":"pronunciation"},{"start_time":"118.33","end_time":"118.76","alternatives":[{"confidence":"1.0000","content":"cylinder"}],"type":"pronunciation"},{"start_time":"118.76","end_time":"119.19","alternatives":[{"confidence":"1.0000","content":"engine"}],"type":"pronunciation"},{"alternatives":[{"confidence":null,"content":"."}],"type":"punctuation"},{"start_time":"119.34","end_time":"119.71","alternatives":[{"confidence":"1.0000","content":"Each"}],"type":"pronunciation"},{"start_time":"119.71","end_time":"119.87","alternatives":[{"confidence":"1.0000","content":"one"}],"type":"pronunciation"},{"start_time":"119.87","end_time":"119.95","alternatives":[{"confidence":"1.0000","content":"of"}],"type":"pronunciation"},{"start_time":"119.95","end_time":"120.04","alternatives":[{"confidence":"1.0000","content":"the"}],"type":"pronunciation"},{"start_time":"120.04","end_time":"120.68","alternatives":[{"confidence":"1.0000","content":"cylinders"}],"type":"pronunciation"},{"start_time":"120.68","end_time":"120.8","alternatives":[{"confidence":"0.9972","content":"is"}],"type":"pronunciation"},{"start_time":"120.8","end_time":"120.9","alternatives":[{"confidence":"1.0000","content":"in"}],"type":"pronunciation"},{"start_time":"120.9","end_time":"120.99","alternatives":[{"confidence":"1.0000","content":"the"}],"type":"pronunciation"},{"start_time":"120.99","end_time":"121.43","alternatives":[{"confidence":"1.0000","content":"middle"}],"type":"pronunciation"},{"start_time":"121.43","end_time":"121.5","alternatives":[{"confidence":"1.0000","content":"of"}],"type":"pronunciation"},{"start_time":"121.5","end_time":"121.55","alternatives":[{"confidence":"1.0000","content":"a"}],"type":"pronunciation"},{"start_time":"121.55","end_time":"121.89","alternatives":[{"confidence":"1.0000","content":"different"}],"type":"pronunciation"},{"start_time":"121.89","end_time":"122.31","alternatives":[{"confidence":"0.7617","content":"strokes"}],"type":"pronunciation"},{"alternatives":[{"confidence":null,"content":"."}],"type":"punctuation"},{"start_time":"122.778","end_time":"123.098","alternatives":[{"confidence":"1.0000","content":"That"}],"type":"pronunciation"},{"start_time":"123.098","end_time":"123.418","alternatives":[{"confidence":"1.0000","content":"way"}],"type":"pronunciation"},{"alternatives":[{"confidence":null,"content":"."}],"type":"punctuation"},{"start_time":"123.428","end_time":"123.858","alternatives":[{"confidence":"1.0000","content":"One"}],"type":"pronunciation"},{"start_time":"123.858","end_time":"124.368","alternatives":[{"confidence":"1.0000","content":"cylinder"}],"type":"pronunciation"},{"start_time":"124.368","end_time":"124.548","alternatives":[{"confidence":"1.0000","content":"is"}],"type":"pronunciation"},{"start_time":"124.558","end_time":"125.258","alternatives":[{"confidence":"1.0000","content":"always"}],"type":"pronunciation"},{"start_time":"125.258","end_time":"125.458","alternatives":[{"confidence":"1.0000","content":"in"}],"type":"pronunciation"},{"start_time":"125.458","end_time":"125.568","alternatives":[{"confidence":"1.0000","content":"the"}],"type":"pronunciation"},{"start_time":"125.568","end_time":"126.078","alternatives":[{"confidence":"1.0000","content":"power"}],"type":"pronunciation"},{"start_time":"126.078","end_time":"126.608","alternatives":[{"confidence":"1.0000","content":"stroke"}],"type":"pronunciation"},{"alternatives":[{"confidence":null,"content":","}],"type":"punctuation"},{"start_time":"126.818","end_time":"126.988","alternatives":[{"confidence":"1.0000","content":"and"}],"type":"pronunciation"},{"start_time":"126.988","end_time":"127.138","alternatives":[{"confidence":"1.0000","content":"the"}],"type":"pronunciation"},{"start_time":"127.138","end_time":"127.438","alternatives":[{"confidence":"1.0000","content":"engine"}],"type":"pronunciation"},{"start_time":"127.438","end_time":"127.578","alternatives":[{"confidence":"1.0000","content":"is"}],"type":"pronunciation"},{"start_time":"127.578","end_time":"127.758","alternatives":[{"confidence":"1.0000","content":"able"}],"type":"pronunciation"},{"start_time":"127.758","end_time":"127.828","alternatives":[{"confidence":"1.0000","content":"to"}],"type":"pronunciation"},{"start_time":"127.828","end_time":"128.048","alternatives":[{"confidence":"1.0000","content":"keep"}],"type":"pronunciation"},{"start_time":"128.048","end_time":"128.138","alternatives":[{"confidence":"1.0000","content":"the"}],"type":"pronunciation"},{"start_time":"128.138","end_time":"128.658","alternatives":[{"confidence":"0.9576","content":"crankshaft"}],"type":"pronunciation"},{"start_time":"128.658","end_time":"129.318","alternatives":[{"confidence":"1.0000","content":"rotating"}],"type":"pronunciation"},{"alternatives":[{"confidence":null,"content":","}],"type":"punctuation"},{"start_time":"129.508","end_time":"130.288","alternatives":[{"confidence":"0.9955","content":"thereby"}],"type":"pronunciation"},{"start_time":"130.348","end_time":"130.878","alternatives":[{"confidence":"1.0000","content":"allowing"}],"type":"pronunciation"},{"start_time":"130.878","end_time":"130.978","alternatives":[{"confidence":"1.0000","content":"the"}],"type":"pronunciation"},{"start_time":"130.978","end_time":"131.518","alternatives":[{"confidence":"1.0000","content":"remaining"}],"type":"pronunciation"},{"start_time":"131.518","end_time":"132.188","alternatives":[{"confidence":"1.0000","content":"cylinders"}],"type":"pronunciation"},{"start_time":"132.278","end_time":"132.448","alternatives":[{"confidence":"0.9934","content":"to"}],"type":"pronunciation"},{"start_time":"132.448","end_time":"132.678","alternatives":[{"confidence":"1.0000","content":"go"}],"type":"pronunciation"},{"start_time":"132.678","end_time":"132.958","alternatives":[{"confidence":"0.9884","content":"through"}],"type":"pronunciation"},{"start_time":"132.958","end_time":"133.118","alternatives":[{"confidence":"0.9984","content":"their"}],"type":"pronunciation"},{"start_time":"133.118","end_time":"133.718","alternatives":[{"confidence":"1.0000","content":"respective"}],"type":"pronunciation"},{"start_time":"133.718","end_time":"134.198","alternatives":[{"confidence":"1.0000","content":"stroke"}],"type":"pronunciation"},{"alternatives":[{"confidence":null,"content":"."}],"type":"punctuation"},{"start_time":"136.428","end_time":"136.608","alternatives":[{"confidence":"1.0000","content":"As"}],"type":"pronunciation"},{"start_time":"136.608","end_time":"136.778","alternatives":[{"confidence":"1.0000","content":"we"}],"type":"pronunciation"},{"start_time":"136.778","end_time":"137.068","alternatives":[{"confidence":"1.0000","content":"just"}],"type":"pronunciation"},{"start_time":"137.068","end_time":"137.338","alternatives":[{"confidence":"1.0000","content":"saw"}],"type":"pronunciation"},{"start_time":"137.338","end_time":"137.438","alternatives":[{"confidence":"0.9773","content":"in"}],"type":"pronunciation"},{"start_time":"137.438","end_time":"137.658","alternatives":[{"confidence":"1.0000","content":"these"}],"type":"pronunciation"},{"start_time":"137.658","end_time":"137.878","alternatives":[{"confidence":"1.0000","content":"four"}],"type":"pronunciation"},{"start_time":"137.878","end_time":"138.398","alternatives":[{"confidence":"1.0000","content":"strokes"}],"type":"pronunciation"},{"alternatives":[{"confidence":null,"content":","}],"type":"punctuation"},{"start_time":"138.548","end_time":"138.738","alternatives":[{"confidence":"0.9049","content":"there"}],"type":"pronunciation"},{"start_time":"138.738","end_time":"138.808","alternatives":[{"confidence":"0.4580","content":"are"}],"type":"pronunciation"},{"start_time":"138.808","end_time":"139.078","alternatives":[{"confidence":"0.8963","content":"two"}],"type":"pronunciation"},{"start_time":"139.088","end_time":"139.738","alternatives":[{"confidence":"0.9985","content":"valves"}],"type":"pronunciation"},{"start_time":"139.738","end_time":"139.848","alternatives":[{"confidence":"0.9983","content":"at"}],"type":"pronunciation"},{"start_time":"139.848","end_time":"139.958","alternatives":[{"confidence":"1.0000","content":"the"}],"type":"pronunciation"},{"start_time":"139.958","end_time":"140.238","alternatives":[{"confidence":"1.0000","content":"head"}],"type":"pronunciation"},{"start_time":"140.238","end_time":"140.338","alternatives":[{"confidence":"1.0000","content":"of"}],"type":"pronunciation"},{"start_time":"140.338","end_time":"140.618","alternatives":[{"confidence":"1.0000","content":"each"}],"type":"pronunciation"},{"start_time":"140.618","end_time":"141.128","alternatives":[{"confidence":"1.0000","content":"cylinder"}],"type":"pronunciation"},{"start_time":"141.278","end_time":"141.438","alternatives":[{"confidence":"1.0000","content":"that"}],"type":"pronunciation"},{"start_time":"141.438","end_time":"141.778","alternatives":[{"confidence":"0.9604","content":"open"}],"type":"pronunciation"},{"start_time":"141.778","end_time":"141.908","alternatives":[{"confidence":"1.0000","content":"and"}],"type":"pronunciation"},{"start_time":"141.908","end_time":"142.368","alternatives":[{"confidence":"0.9432","content":"close"}],"type":"pronunciation"},{"start_time":"142.368","end_time":"142.488","alternatives":[{"confidence":"1.0000","content":"to"}],"type":"pronunciation"},{"start_time":"142.488","end_time":"142.908","alternatives":[{"confidence":"1.0000","content":"allow"}],"type":"pronunciation"},{"start_time":"142.908","end_time":"143.038","alternatives":[{"confidence":"1.0000","content":"the"}],"type":"pronunciation"},{"start_time":"143.038","end_time":"143.328","alternatives":[{"confidence":"1.0000","content":"fuel"}],"type":"pronunciation"},{"start_time":"143.328","end_time":"143.768","alternatives":[{"confidence":"1.0000","content":"mixture"}],"type":"pronunciation"},{"start_time":"143.768","end_time":"144.168","alternatives":[{"confidence":"0.9894","content":"in"}],"type":"pronunciation"},{"start_time":"144.228","end_time":"144.488","alternatives":[{"confidence":"1.0000","content":"and"}],"type":"pronunciation"},{"start_time":"144.488","end_time":"144.598","alternatives":[{"confidence":"1.0000","content":"the"}],"type":"pronunciation"},{"start_time":"144.598","end_time":"145.128","alternatives":[{"confidence":"1.0000","content":"exhaust"}],"type":"pronunciation"},{"start_time":"145.128","end_time":"145.678","alternatives":[{"confidence":"0.8848","content":"gases"}],"type":"pronunciation"},{"start_time":"145.688","end_time":"146.168","alternatives":[{"confidence":"1.0000","content":"out"}],"type":"pronunciation"},{"alternatives":[{"confidence":null,"content":"."}],"type":"punctuation"},{"start_time":"146.558","end_time":"147.068","alternatives":[{"confidence":"1.0000","content":"But"}],"type":"pronunciation"},{"start_time":"147.078","end_time":"147.548","alternatives":[{"confidence":"1.0000","content":"what"}],"type":"pronunciation"},{"start_time":"147.548","end_time":"148.268","alternatives":[{"confidence":"0.9987","content":"controls"}],"type":"pronunciation"},{"start_time":"148.268","end_time":"148.568","alternatives":[{"confidence":"1.0000","content":"those"}],"type":"pronunciation"},{"start_time":"148.568","end_time":"149.168","alternatives":[{"confidence":"1.0000","content":"valves"}],"type":"pronunciation"},{"alternatives":[{"confidence":null,"content":"?"}],"type":"punctuation"},{"start_time":"149.598","end_time":"150.058","alternatives":[{"confidence":"1.0000","content":"That"}],"type":"pronunciation"},{"start_time":"150.068","end_time":"150.418","alternatives":[{"confidence":"1.0000","content":"would"}],"type":"pronunciation"},{"start_time":"150.418","end_time":"150.578","alternatives":[{"confidence":"1.0000","content":"be"}],"type":"pronunciation"},{"start_time":"150.578","end_time":"150.658","alternatives":[{"confidence":"1.0000","content":"a"}],"type":"pronunciation"},{"start_time":"150.658","end_time":"151.608","alternatives":[{"confidence":"0.9847","content":"camshaft"}],"type":"pronunciation"},{"alternatives":[{"confidence":null,"content":"."}],"type":"punctuation"},{"start_time":"152.658","end_time":"152.818","alternatives":[{"confidence":"1.0000","content":"The"}],"type":"pronunciation"},{"start_time":"152.818","end_time":"153.478","alternatives":[{"confidence":"0.8148","content":"camshaft"}],"type":"pronunciation"},{"start_time":"153.598","end_time":"153.738","alternatives":[{"confidence":"1.0000","content":"is"}],"type":"pronunciation"},{"start_time":"153.738","end_time":"153.828","alternatives":[{"confidence":"1.0000","content":"a"}],"type":"pronunciation"},{"start_time":"153.828","end_time":"154.378","alternatives":[{"confidence":"1.0000","content":"rotating"}],"type":"pronunciation"},{"start_time":"154.378","end_time":"154.978","alternatives":[{"confidence":"1.0000","content":"cylinder"}],"type":"pronunciation"},{"alternatives":[{"confidence":null,"content":","}],"type":"punctuation"},{"start_time":"155.088","end_time":"155.698","alternatives":[{"confidence":"1.0000","content":"situated"}],"type":"pronunciation"},{"start_time":"155.698","end_time":"156.118","alternatives":[{"confidence":"1.0000","content":"above"}],"type":"pronunciation"},{"start_time":"156.118","end_time":"156.218","alternatives":[{"confidence":"1.0000","content":"the"}],"type":"pronunciation"},{"start_time":"156.218","end_time":"156.968","alternatives":[{"confidence":"0.8677","content":"crankshaft"}],"type":"pronunciation"},{"start_time":"157.018","end_time":"157.348","alternatives":[{"confidence":"1.0000","content":"with"}],"type":"pronunciation"},{"start_time":"157.348","end_time":"157.828","alternatives":[{"confidence":"1.0000","content":"various"}],"type":"pronunciation"},{"start_time":"157.828","end_time":"158.108","alternatives":[{"confidence":"0.9704","content":"ob"}],"type":"pronunciation"},{"start_time":"158.108","end_time":"158.378","alternatives":[{"confidence":"0.8733","content":"long"}],"type":"pronunciation"},{"start_time":"158.378","end_time":"158.928","alternatives":[{"confidence":"0.7606","content":"lobes"}],"type":"pronunciation"},{"start_time":"158.928","end_time":"159.488","alternatives":[{"confidence":"0.9985","content":"protruding"}],"type":"pronunciation"},{"start_time":"159.488","end_time":"159.778","alternatives":[{"confidence":"1.0000","content":"from"}],"type":"pronunciation"},{"start_time":"159.778","end_time":"159.968","alternatives":[{"confidence":"1.0000","content":"it"}],"type":"pronunciation"},{"alternatives":[{"confidence":null,"content":"."}],"type":"punctuation"},{"start_time":"160.388","end_time":"160.668","alternatives":[{"confidence":"1.0000","content":"These"}],"type":"pronunciation"},{"start_time":"160.668","end_time":"161.198","alternatives":[{"confidence":"0.9727","content":"lobes"}],"type":"pronunciation"},{"start_time":"161.318","end_time":"161.578","alternatives":[{"confidence":"1.0000","content":"push"}],"type":"pronunciation"},{"start_time":"161.578","end_time":"161.788","alternatives":[{"confidence":"1.0000","content":"on"}],"type":"pronunciation"},{"start_time":"161.788","end_time":"162.328","alternatives":[{"confidence":"0.9753","content":"rods"}],"type":"pronunciation"},{"start_time":"162.328","end_time":"162.498","alternatives":[{"confidence":"1.0000","content":"that"}],"type":"pronunciation"},{"start_time":"162.498","end_time":"163.058","alternatives":[{"confidence":"1.0000","content":"connect"}],"type":"pronunciation"},{"start_time":"163.068","end_time":"163.248","alternatives":[{"confidence":"0.3432","content":"Teo"}],"type":"pronunciation"},{"start_time":"163.248","end_time":"163.558","alternatives":[{"confidence":"1.0000","content":"each"}],"type":"pronunciation"},{"start_time":"163.558","end_time":"164.128","alternatives":[{"confidence":"0.9987","content":"valve"}],"type":"pronunciation"},{"alternatives":[{"confidence":null,"content":"."}],"type":"punctuation"},{"start_time":"164.318","end_time":"164.688","alternatives":[{"confidence":"1.0000","content":"Pushing"}],"type":"pronunciation"},{"start_time":"164.688","end_time":"164.888","alternatives":[{"confidence":"1.0000","content":"them"}],"type":"pronunciation"},{"start_time":"164.898","end_time":"165.468","alternatives":[{"confidence":"1.0000","content":"open"}],"type":"pronunciation"},{"start_time":"165.868","end_time":"166.018","alternatives":[{"confidence":"1.0000","content":"the"}],"type":"pronunciation"},{"start_time":"166.018","end_time":"166.448","alternatives":[{"confidence":"1.0000","content":"valves"}],"type":"pronunciation"},{"start_time":"166.448","end_time":"166.528","alternatives":[{"confidence":"0.7508","content":"or"}],"type":"pronunciation"},{"start_time":"166.528","end_time":"166.878","alternatives":[{"confidence":"1.0000","content":"spring"}],"type":"pronunciation"},{"start_time":"166.878","end_time":"167.308","alternatives":[{"confidence":"1.0000","content":"loaded"}],"type":"pronunciation"},{"start_time":"167.378","end_time":"167.618","alternatives":[{"confidence":"1.0000","content":"and"}],"type":"pronunciation"},{"start_time":"167.618","end_time":"167.718","alternatives":[{"confidence":"0.3924","content":"will"}],"type":"pronunciation"},{"start_time":"167.718","end_time":"168.078","alternatives":[{"confidence":"0.7319","content":"return"}],"type":"pronunciation"},{"start_time":"168.078","end_time":"168.148","alternatives":[{"confidence":"1.0000","content":"to"}],"type":"pronunciation"},{"start_time":"168.148","end_time":"168.248","alternatives":[{"confidence":"1.0000","content":"the"}],"type":"pronunciation"},{"start_time":"168.248","end_time":"168.618","alternatives":[{"confidence":"1.0000","content":"closed"}],"type":"pronunciation"},{"start_time":"168.628","end_time":"169.108","alternatives":[{"confidence":"1.0000","content":"position"}],"type":"pronunciation"},{"start_time":"169.108","end_time":"169.228","alternatives":[{"confidence":"0.8014","content":"is"}],"type":"pronunciation"},{"start_time":"169.228","end_time":"169.348","alternatives":[{"confidence":"1.0000","content":"the"}],"type":"pronunciation"},{"start_time":"169.348","end_time":"170.108","alternatives":[{"confidence":"0.8960","content":"camshaft"}],"type":"pronunciation"},{"start_time":"170.108","end_time":"170.598","alternatives":[{"confidence":"0.9658","content":"loaves"}],"type":"pronunciation"},{"start_time":"170.598","end_time":"170.798","alternatives":[{"confidence":"1.0000","content":"move"}],"type":"pronunciation"},{"start_time":"170.798","end_time":"171.318","alternatives":[{"confidence":"1.0000","content":"away"}],"type":"pronunciation"},{"start_time":"171.318","end_time":"171.538","alternatives":[{"confidence":"1.0000","content":"from"}],"type":"pronunciation"},{"start_time":"171.538","end_time":"171.698","alternatives":[{"confidence":"0.9970","content":"their"}],"type":"pronunciation"},{"start_time":"171.698","end_time":"172.268","alternatives":[{"confidence":"1.0000","content":"respective"}],"type":"pronunciation"},{"start_time":"172.268","end_time":"172.768","alternatives":[{"confidence":"0.9715","content":"rod"}],"type":"pronunciation"},{"alternatives":[{"confidence":null,"content":"."}],"type":"punctuation"},{"start_time":"173.758","end_time":"174.028","alternatives":[{"confidence":"1.0000","content":"Getting"}],"type":"pronunciation"},{"start_time":"174.028","end_time":"174.108","alternatives":[{"confidence":"1.0000","content":"the"}],"type":"pronunciation"},{"start_time":"174.108","end_time":"174.448","alternatives":[{"confidence":"0.9758","content":"valves"}],"type":"pronunciation"},{"start_time":"174.448","end_time":"174.588","alternatives":[{"confidence":"0.8713","content":"tow"}],"type":"pronunciation"},{"start_time":"174.598","end_time":"174.968","alternatives":[{"confidence":"1.0000","content":"open"}],"type":"pronunciation"},{"start_time":"174.968","end_time":"175.058","alternatives":[{"confidence":"0.9987","content":"at"}],"type":"pronunciation"},{"start_time":"175.058","end_time":"175.178","alternatives":[{"confidence":"1.0000","content":"the"}],"type":"pronunciation"},{"start_time":"175.178","end_time":"175.598","alternatives":[{"confidence":"1.0000","content":"exact"}],"type":"pronunciation"},{"start_time":"175.598","end_time":"175.938","alternatives":[{"confidence":"1.0000","content":"moment"}],"type":"pronunciation"},{"start_time":"175.938","end_time":"176.068","alternatives":[{"confidence":"1.0000","content":"is"}],"type":"pronunciation"},{"start_time":"176.068","end_time":"176.558","alternatives":[{"confidence":"1.0000","content":"very"}],"type":"pronunciation"},{"start_time":"176.558","end_time":"177.148","alternatives":[{"confidence":"1.0000","content":"crucial"}],"type":"pronunciation"},{"start_time":"177.148","end_time":"177.258","alternatives":[{"confidence":"1.0000","content":"for"}],"type":"pronunciation"},{"start_time":"177.258","end_time":"177.428","alternatives":[{"confidence":"1.0000","content":"the"}],"type":"pronunciation"},{"start_time":"177.428","end_time":"177.738","alternatives":[{"confidence":"1.0000","content":"engine"}],"type":"pronunciation"},{"start_time":"177.738","end_time":"177.818","alternatives":[{"confidence":"0.9803","content":"to"}],"type":"pronunciation"},{"start_time":"177.818","end_time":"178.448","alternatives":[{"confidence":"0.9996","content":"operate"}],"type":"pronunciation"},{"alternatives":[{"confidence":null,"content":"."}],"type":"punctuation"},{"start_time":"178.688","end_time":"179.108","alternatives":[{"confidence":"1.0000","content":"Because"}],"type":"pronunciation"},{"start_time":"179.108","end_time":"179.188","alternatives":[{"confidence":"1.0000","content":"of"}],"type":"pronunciation"},{"start_time":"179.188","end_time":"179.508","alternatives":[{"confidence":"1.0000","content":"that"}],"type":"pronunciation"},{"alternatives":[{"confidence":null,"content":","}],"type":"punctuation"},{"start_time":"179.688","end_time":"179.848","alternatives":[{"confidence":"1.0000","content":"the"}],"type":"pronunciation"},{"start_time":"179.848","end_time":"180.488","alternatives":[{"confidence":"0.8521","content":"camshaft"}],"type":"pronunciation"},{"start_time":"180.638","end_time":"180.848","alternatives":[{"confidence":"1.0000","content":"is"}],"type":"pronunciation"},{"start_time":"180.848","end_time":"181.518","alternatives":[{"confidence":"1.0000","content":"geared"}],"type":"pronunciation"},{"start_time":"181.518","end_time":"181.648","alternatives":[{"confidence":"1.0000","content":"to"}],"type":"pronunciation"},{"start_time":"181.648","end_time":"181.758","alternatives":[{"confidence":"1.0000","content":"the"}],"type":"pronunciation"},{"start_time":"181.758","end_time":"182.628","alternatives":[{"confidence":"0.7334","content":"crankshaft"}],"type":"pronunciation"},{"start_time":"182.758","end_time":"183.068","alternatives":[{"confidence":"0.9977","content":"so"}],"type":"pronunciation"},{"start_time":"183.068","end_time":"183.288","alternatives":[{"confidence":"1.0000","content":"they"}],"type":"pronunciation"},{"start_time":"183.288","end_time":"183.518","alternatives":[{"confidence":"1.0000","content":"will"}],"type":"pronunciation"},{"start_time":"183.518","end_time":"184.068","alternatives":[{"confidence":"1.0000","content":"remain"}],"type":"pronunciation"},{"start_time":"184.078","end_time":"185.218","alternatives":[{"confidence":"0.9693","content":"synchronized"}],"type":"pronunciation"},{"alternatives":[{"confidence":null,"content":"."}],"type":"punctuation"},{"start_time":"185.868","end_time":"186.008","alternatives":[{"confidence":"1.0000","content":"The"}],"type":"pronunciation"},{"start_time":"186.008","end_time":"186.688","alternatives":[{"confidence":"0.8243","content":"camshaft"}],"type":"pronunciation"},{"start_time":"186.768","end_time":"187.018","alternatives":[{"confidence":"1.0000","content":"is"}],"type":"pronunciation"},{"start_time":"187.018","end_time":"187.378","alternatives":[{"confidence":"1.0000","content":"geared"}],"type":"pronunciation"},{"start_time":"187.378","end_time":"187.498","alternatives":[{"confidence":"1.0000","content":"to"}],"type":"pronunciation"},{"start_time":"187.498","end_time":"187.898","alternatives":[{"confidence":"1.0000","content":"spend"}],"type":"pronunciation"},{"start_time":"187.898","end_time":"188.458","alternatives":[{"confidence":"1.0000","content":"half"}],"type":"pronunciation"},{"start_time":"188.458","end_time":"188.548","alternatives":[{"confidence":"0.9993","content":"a"}],"type":"pronunciation"},{"start_time":"188.548","end_time":"188.628","alternatives":[{"confidence":"0.8330","content":"CZ"}],"type":"pronunciation"},{"start_time":"188.628","end_time":"189.188","alternatives":[{"confidence":"1.0000","content":"fast"}],"type":"pronunciation"},{"start_time":"189.188","end_time":"189.418","alternatives":[{"confidence":"1.0000","content":"as"}],"type":"pronunciation"},{"start_time":"189.418","end_time":"189.508","alternatives":[{"confidence":"1.0000","content":"the"}],"type":"pronunciation"},{"start_time":"189.508","end_time":"190.218","alternatives":[{"confidence":"0.8216","content":"crankshaft"}],"type":"pronunciation"},{"alternatives":[{"confidence":null,"content":"."}],"type":"punctuation"},{"start_time":"190.518","end_time":"190.808","alternatives":[{"confidence":"1.0000","content":"This"}],"type":"pronunciation"},{"start_time":"190.808","end_time":"191.308","alternatives":[{"confidence":"0.9438","content":"results"}],"type":"pronunciation"},{"start_time":"191.408","end_time":"191.548","alternatives":[{"confidence":"1.0000","content":"in"}],"type":"pronunciation"},{"start_time":"191.548","end_time":"191.638","alternatives":[{"confidence":"1.0000","content":"the"}],"type":"pronunciation"},{"start_time":"191.638","end_time":"192.038","alternatives":[{"confidence":"1.0000","content":"valves"}],"type":"pronunciation"},{"start_time":"192.048","end_time":"192.578","alternatives":[{"confidence":"1.0000","content":"opening"}],"type":"pronunciation"},{"start_time":"192.588","end_time":"193.258","alternatives":[{"confidence":"1.0000","content":"twice"}],"type":"pronunciation"},{"start_time":"193.398","end_time":"193.698","alternatives":[{"confidence":"1.0000","content":"during"}],"type":"pronunciation"},{"start_time":"193.698","end_time":"193.808","alternatives":[{"confidence":"1.0000","content":"the"}],"type":"pronunciation"},{"start_time":"193.808","end_time":"194.128","alternatives":[{"confidence":"0.9818","content":"four"}],"type":"pronunciation"},{"start_time":"194.128","end_time":"194.478","alternatives":[{"confidence":"0.9954","content":"stroke"}],"type":"pronunciation"},{"start_time":"194.478","end_time":"195.118","alternatives":[{"confidence":"1.0000","content":"cycle"}],"type":"pronunciation"},{"alternatives":[{"confidence":null,"content":"."}],"type":"punctuation"}]},"status":"COMPLETED"};


var player = videojs('my-video');

    $('#listenbutton').click(function(){
       button_push();
    });

    $("#un1").click(function(e) {
      e.preventDefault(); 
      unHighlight(pointer)      
      player.currentTime(32);
      player.play();
    });

    $("#un2").click(function(e) {
      e.preventDefault(); 
      unHighlight(pointer)
      player.currentTime(149);
      //document.getElementById('sound1').play()      
      player.play();      
    });    

    var goto = false;
    
    player.on("timeupdate", function() {
        //console.log('update')
        
        //$("#transcript").empty().append(player.currentTime());
        timeChange(pointer);
        
    } );
    
    var lastType = null;
    
    for(var i=0; i<vidText.results.items.length; i++ ) {
        //console.log(vidText.results.items[i].alternatives[0].content)
        if(vidText.results.items[i].type == "pronunciation") {
            if(lastType == "pronunciation"){
                $("#transcript").append(" ");
            }
        }
        newid = "wd".concat(i.toString());
        $("#transcript").append("<div class = 'word' style='color:black' id='".concat(newid,"' >",vidText.results.items[i].alternatives[0].content,"</div>"));
        //$("#transcript").append(vidText.results.items[i].alternatives[0].content);
        //$("#transcript").append("</span>");    
        if(vidText.results.items[i].type == "punctuation") {
            $("#transcript").append(" ");
        }
        
        lastType = vidText.results.items[i].type;
    }
    
    
    var pointer     = 0
    var highlighted = -1
    var starttime = vidText.results.items[pointer].start_time;
    var endtime   = vidText.results.items[pointer].end_time;
    var maxpointer = vidText.results.items.length-1;
    var minpointer = 0;

    
    var indextimer        = 0; // 0 until button press
    var ajaxprogress = 0;
    var indexint = 0;
    var ajaxresult = 0;
    // set to 10 when button press
    
    function button_push() {
        indextimer = 10;
        //button.disable()
        $('#listenbutton').prop("disabled", true);
        indexint = setInterval ( indexlisten, 1000 );
    };
    
    function indexlisten() {
        console.log('index listen')
        console.log(indextimer)
        if(indextimer <= 0) { clearInterval(indexint);}
        if(ajaxresult != 0 ) {
            indextimer = 0;
            clearInterval(indexint);
            if(ajaxresult == 1) { document.getElementById('un2').click(); }   
        }
        if(indextimer > 0) {
            indextimer = indextimer - 0.5
            //$('#').html.clear().append('')
            if(ajaxprogress == 0) { // not called or done or timed out
                if(ajaxresult == 0) { // null result try first or again
                    urlit = '{% url "get_index" %}?view=index'
                    ajaxprogress = 1;
                    console.log('called ajax');
                    $.ajax({
                        url: urlit,
                        timeout:1000 //60 second timeout
                    }).done(function(data,textStatus, jqXHR){
                        ajaxprogress = 0;
                        console.log(data);
                        console.log('called for index data');
                        console.log(data.index);  
                        ajaxresult = data.index;
                        //return(data);
                        }).fail(function(jqXHR, textStatus){
                            ajaxprogress = 0;
                            if(textStatus === 'timeout') {     
                                alert('Failed from timeout');                      
                                //console.log("called: " +urlit)
                            //do something. Try again perhaps?
                            }
                   });                         
                        
                        
                } 
            }
        } else {
            //button.enable()
            $('#listenbutton').prop("disabled", false);
            ajaxresult = 0;
            //indexint = 0;
            ajaxprogress = 0;
            indextimer = 0;
            clearInterval(indexint);
        };
        return(true);
    };
    
    
    function checkForIndex() {
        console.log('start listening');
        timeout = 10;
        // listen for 10 seconds
        // get time
        // call ajax
        // success
    }
    
    
    function timeChange(pointer) {
        //console.log("Start Time Change")
        // within word boundary
        if(checkMe(pointer)) {
            return;
        }
        
        //player.pause();
        
        // check for upstream
        uppointer = pointer + 1
        vidtime = player.currentTime()

        while( vidtime > vidText.results.items[pointer].start_time && uppointer <= maxpointer) {
            vidtime = player.currentTime()        
            if(checkMe(uppointer)) {
                pointer = uppointer;
                return;
            } else {    
                uppointer = uppointer + 1;
            }
        }
        
        // check for downstream
        uppointer = pointer - 1;
        vidtime = player.currentTime();
        while( vidtime < vidText.results.items[pointer].end_time && uppointer >= minpointer) {
            vidtime = player.currentTime() ;       
            if(checkMe(uppointer)) {
                pointer = uppointer;
                return;
            } else {    
                uppointer = uppointer - 1;
            }
        }
        //player.play();
    }    

    function checkMe(pointer) {
        var starttime = vidText.results.items[pointer].start_time;
        //console.log(starttime);
        var endtime   = vidText.results.items[pointer].end_time;
        var vidtime   = player.currentTime();
        
        if(vidtime > starttime && vidtime < endtime) {
            if( highlighted != pointer) {
                applyHighlight(pointer);
                //console.log(vidText.results.items[pointer].alternatives[0].content)
                highlighted = pointer;
            } 
           return true;
        } else {
            if( highlighted == pointer) {
                unHighlight(pointer);
                highlighted = -1;
            }
            return false;
        }        
    }    
    
    function applyHighlight(pointer) {
            idthing = "#wd".concat(pointer.toString());
            //console.log(idthing);
            //$(idthing).addClass("wordfollow");  
            $(idthing).css('color', "red");            
        }
    
    
    function unHighlight(pointer) {
            if(pointer < 0 || pointer > maxpointer) { return }
            idthing = "#wd".concat(pointer.toString());
            //$(idthing).removeClass("wordfollow")
            $(idthing).css('color', "black");               
        }
        
     player.ready(function() { 
        if(goto) {
            goto = false;
            var timethis = 0
            timethis = player.currentTime();
            //console.log('timethis')
            //console.log(timethis)
                
            counter = 5
            while (timethis != 300) {
                //console.log('timethis')
                //console.log(timethis)
                //counter = counter -  1
                if(counter < 0 ) {
                    break
                }
                //console.log('trying')
                timethis = player.currentTime(300);
                //console.log(player.currentTime());  
                timethis = player.currentTime();
            }
            player.play();
        }
    });    
    
    
    // 5:38 for carb/inject
    // 4:16 induction system
    
    <!-- myFun = function(){  -->
        <!-- console.log('timeout') -->
        <!-- player.pause(); -->
        <!-- player.currentTime(300); -->
        <!-- console.log(player.currentTime());  -->
        <!-- player.play()  -->
    <!-- } -->
    
    
    <!-- player.ready(function() { -->

        <!-- console.log(player.readyState()) -->
        <!-- console.log(player.currentTime()); -->
 
        
        <!-- if(goto) { -->
            <!-- goto = false; -->
            <!-- player.play()          -->
            <!-- player.on('playing',function () {setTimeout(myFun,player.currentTime(1000) ) } ) -->
        <!-- } -->

        <!-- //player.currentTime(0); -->
        <!-- //player.currentTime(300);    -->
        <!-- console.log(player.currentTime()); -->
    
    //});
    
    

    
});
</script>  
</body>